In [3]:
import numpy as np
import pandas as pd
import datetime
import time

import lightgbm as lgb


from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
from sklearn.metrics import r2_score

import itertools

import warnings
import json

warnings.filterwarnings('ignore')

In [2]:
pre_data = pd.read_excel(r'./赛题 1 结果_Trainee.xlsx', header=None)
pre_data.columns = ['企业编号', 'pre_rating']
pre_data.head()

   企业编号  pre_rating
0  4001          90
1  4002          88
2  4003          81
3  4004          79
4  4005          88

In [4]:
real_rating = pd.read_excel('./Mission1_Real.xlsx', header=None)
real_rating.columns = ['企业编号', 'pre_rating']
real_rating.head()

   企业编号  pre_rating
0  4001   93.076923
1  4002   93.907074
2  4003   82.012192
3  4004   81.780574
4  4005   91.538988

In [5]:
np.sqrt(mean_squared_error(pre_data['pre_rating'].astype(int).values,
                           real_rating['pre_rating'].astype(int).values))

3.69927227770752