In [1]:
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import warnings
import time
from collections import Counter
warnings.filterwarnings("ignore")


plt.style.use("fivethirtyeight")

sns.set_style({'font.sans-serif': ['simsun', 'Arial']})
sns.set_style('darkgrid', {'font.sans-serif': ['simhei', 'Arial']})
%matplotlib inline
current_date = pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time())))

res = {}
data_path = r'../../Data/CompInfo/'
current_date

Timestamp('2019-04-05 00:00:00')

# 企业得分

In [2]:
df_rating_copy = pd.read_excel(data_path+r'企业评分.xlsx')

In [3]:
df_rating = df_rating_copy.copy()
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2995 entries, 0 to 2994
Data columns (total 2 columns):
企业编号     2995 non-null int64
企业总评分    2995 non-null float64
dtypes: float64(1), int64(1)
memory usage: 46.9 KB

In [4]:
df_rating = df_rating.drop_duplicates()
res['企业得分'] = df_rating

In [5]:
df_base = pd.DataFrame({'企业编号': df_rating['企业编号']})

In [6]:
def merge_df(df, cols, name):
    new_df_merge = df_base.merge(df, how='left', on='企业编号')
    for col in cols:
        new_df_merge[col] = new_df_merge[col].fillna(0)
    res[name] = new_df_merge

# 软著著作权

In [7]:
df_soft_bpk = pd.read_excel(data_path+r'软著著作权.xlsx')
df_soft = df_soft_bpk.copy()

In [8]:
df_soft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36858 entries, 0 to 36857
Data columns (total 4 columns):
企业编号           36858 non-null int64
软件全称           36858 non-null object
软件著作权版本号       30878 non-null object
软件著作权登记批准日期    36818 non-null object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [9]:
new_df_soft = pd.DataFrame(df_soft['企业编号'].value_counts())
new_df_soft.columns = ['软著数量']
new_df_soft['企业编号'] = new_df_soft.index
new_df_soft.sort_values(by=['企业编号'], inplace=True)
new_df_soft = new_df_soft[['企业编号', '软著数量']]
new_df_soft = new_df_soft.set_index(np.arange(0, len(new_df_soft)))
# res['软著著作权'] = new_df_soft

In [10]:
new_df_soft_merge = df_base.merge(new_df_soft, how='left', on='企业编号')
new_df_soft_merge['软著数量'] = new_df_soft_merge['软著数量'].fillna(0)
res['软著著作权'] = new_df_soft_merge

# 作品著作

In [11]:
df_zuopin_bpk = pd.read_excel(data_path+r'作品著作权.xlsx')
df_zuopin = df_zuopin_bpk.copy()

In [12]:
df_zuopin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33555 entries, 0 to 33554
Data columns (total 5 columns):
企业编号           33555 non-null int64
作品著作权类别        33379 non-null object
作品著作权登记日期      33178 non-null object
作品著作权创作完成日期    32177 non-null object
作品著作权首次发布日期    22118 non-null object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB

In [13]:
df_zuopin = df_zuopin_bpk.copy()

In [14]:
new_df_zuopin = pd.DataFrame(df_zuopin['企业编号'].value_counts())
new_df_zuopin.columns = ['作品著作数量']
new_df_zuopin['企业编号'] = new_df_zuopin.index
new_df_zuopin.sort_values(by=['企业编号'], inplace=True)
new_df_zuopin = new_df_zuopin[['企业编号', '作品著作数量']]
new_df_zuopin = new_df_zuopin.set_index(np.arange(0, len(new_df_zuopin)))

In [15]:
new_df_zuopin_merge = df_base.merge(new_df_zuopin, how='left', on='企业编号')
new_df_zuopin_merge['作品著作数量'] = new_df_zuopin_merge['作品著作数量'].fillna(0)
res['作品著作'] = new_df_zuopin_merge

# 项目信息

In [16]:
df_project_bkp = pd.read_excel(data_path+r'项目信息.xlsx')
df_project = df_project_bkp.copy()

In [17]:
df_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054 entries, 0 to 3053
Data columns (total 7 columns):
企业编号      3054 non-null int64
行业        170 non-null object
标签        3047 non-null object
企业规模      168 non-null object
运营状态      2934 non-null object
简介        3026 non-null object
项目成立时间    2876 non-null object
dtypes: int64(1), object(6)
memory usage: 167.1+ KB

In [18]:
df_project['运营状态'].value_counts()

运营中    2932
融资中       2
Name: 运营状态, dtype: int64

In [19]:
new_df_project = pd.DataFrame(
    df_project.loc[(df_project['运营状态'] == '运营中'), '企业编号'].value_counts())
new_df_project.columns = ['项目数量']
new_df_project['企业编号'] = new_df_project.index
new_df_project.sort_values(by=['企业编号'], inplace=True)
new_df_project = new_df_project[['企业编号', '项目数量']]
new_df_project = new_df_project.set_index(np.arange(0, len(new_df_project)))
# new_df_project.head(n=20)

In [20]:
new_df_project_merge = df_base.merge(new_df_project, how='left', on='企业编号')
new_df_project_merge['项目数量'] = new_df_project_merge['项目数量'].fillna(0)
res['项目信息'] = new_df_project_merge

# 纳税A级年份

In [21]:
df_nashuiyear_bkp = pd.read_excel(data_path+r'纳税A级年份.xlsx')
df_nashuiyear = df_nashuiyear_bkp.copy()

In [22]:
df_nashuiyear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 2 columns):
企业编号      7927 non-null int64
纳税A级年份    7927 non-null int64
dtypes: int64(2)
memory usage: 123.9 KB

In [23]:
df_nashuiyear['纳税A级年份'].value_counts()

2016    2380
2017    1978
2015    1858
2014    1711
Name: 纳税A级年份, dtype: int64

In [24]:
new_df_nashuiyear = df_nashuiyear.groupby(['企业编号', '纳税A级年份'])[
    '纳税A级年份'].count().unstack()

new_df_nashuiyear['企业编号'] = new_df_nashuiyear.index
new_df_nashuiyear = new_df_nashuiyear[['企业编号', 2014, 2015, 2016, 2017]]
columns = {'企业编号': '企业编号', 2014: '纳税A级年份_2014', 2015: '纳税A级年份_2015',
           2016: '纳税A级年份_2016', 2017: '纳税A级年份_2017'}
columns = ['企业编号', '纳税A级年份_2014', '纳税A级年份_2015', '纳税A级年份_2016', '纳税A级年份_2017']
# new_df_nashuiyear.rename(columns, inplace=True)
new_df_nashuiyear.columns = columns
new_df_nashuiyear = new_df_nashuiyear.set_index(
    np.arange(0, len(new_df_nashuiyear))).fillna(0).astype(int)
# new_df_nashuiyear.head(n=5)

In [25]:
merge_df(new_df_nashuiyear, [
         '纳税A级年份_2014', '纳税A级年份_2015', '纳税A级年份_2016', '纳税A级年份_2017'], '纳税A级年份')

# 资质认证

In [26]:
df_zizhi_bkp = pd.read_excel(data_path+r'资质认证.xlsx')

In [27]:
df_zizhi = df_zizhi_bkp.copy()
df_zizhi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169898 entries, 0 to 169897
Data columns (total 5 columns):
企业编号       169898 non-null int64
证书名称       169898 non-null object
有效期起止日期    161662 non-null object
有效期截至日期    124035 non-null object
状态         148665 non-null object
dtypes: int64(1), object(4)
memory usage: 6.5+ MB

In [28]:
df_zizhi = df_zizhi_bkp.copy()
df_zizhi['状态'].value_counts()

有效           70917
已注销          28220
注销           15805
已撤销          12601
过期失效          9762
撤销            9719
暂停             580
已暂停            494
当前批件           238
已过期            212
延续              41
变更              23
正常              16
历史批件            14
旧版               7
注销(非申请)          5
新立               5
无效（依申请注销）        3
无效（逾期未换证）        2
证书注销             1
Name: 状态, dtype: int64

In [29]:
status = ['有效', '延续', '变更', '正常', '新立']
new_df_zizhi = df_zizhi.loc[(df_zizhi['有效期截至日期'].notnull())]
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['状态'].notnull())]
new_df_zizhi['有效期截至日期'] = pd.to_datetime(new_df_zizhi['有效期截至日期'])

In [30]:
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'] > current_date)]
new_df_zizhi['状态'].value_counts()

有效      58950
已注销      3169
注销       2124
已撤销      1391
撤销       1122
已暂停       478
暂停        418
过期失效       45
延续         21
变更         18
正常         16
旧版          7
新立          4
证书注销        1
Name: 状态, dtype: int64

In [31]:
new_df_zizhi = new_df_zizhi.loc[(
    new_df_zizhi['状态'].str.contains('[有效|延续|变更|正常|新立]'))]
# new_df_zizhi.head(n=5)

In [32]:
new_df_zizhi_count = pd.DataFrame(new_df_zizhi['企业编号'].value_counts())
new_df_zizhi_count.columns = ['资质证书数量']
new_df_zizhi_count['企业编号'] = new_df_zizhi_count.index
new_df_zizhi_count.sort_values(by=['企业编号'], inplace=True)
# new_df_zizhi_count
new_df_zizhi_count = new_df_zizhi_count[['企业编号', '资质证书数量']]
new_df_zizhi_count = new_df_zizhi_count.set_index(
    np.arange(0, len(new_df_zizhi_count)))
new_df_zizhi_count.head(n=5)

   企业编号  资质证书数量
0  1001       9
1  1003     442
2  1004       1
3  1005       5
4  1006       6

In [33]:
merge_df(new_df_zizhi_count, ['资质证书数量'], '资质认证')

# 产品

In [34]:
df_product = pd.read_excel(data_path+r'产品.xlsx')
new_df_product = df_product.groupby(
    ['企业编号', '产品类型'])['产品类型'].count().unstack()

new_df_product['企业编号'] = new_df_product.index
columns = ['企业编号', 'android', 'ios', 'miniapp', 'website', 'wechat', 'weibo']
new_df_product = pd.DataFrame(new_df_product, columns=columns)
new_df_product = new_df_product.set_index(np.arange(0, len(new_df_product)))
# new_df_product.head(n=10)

In [35]:
# res['产品'] = new_df_product
merge_df(new_df_product, ['android', 'ios',
                          'miniapp', 'website', 'wechat', 'weibo'], '产品')

# 专利

In [36]:
df_zhuanli = pd.read_excel(data_path+r'专利.xlsx')
df_zhuanli['专利类型'] = df_zhuanli['专利类型'].str.replace('更正', '', regex=True)

df_zhuanli['授权公告日'] = df_zhuanli['授权公告日'].str.replace(
    r'[^0-9\-]', '', regex=True)
df_zhuanli['申请日'] = df_zhuanli['申请日'].str.replace(r'[^0-9\-]', '', regex=True)

df_zhuanli['授权公告日'] = pd.to_datetime(df_zhuanli['授权公告日'])
df_zhuanli['申请日'] = pd.to_datetime(df_zhuanli['申请日'])

In [37]:
tmp1 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明专利')]
tmp1 = tmp1.loc[(abs(tmp1['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp2 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明公布')]
tmp2 = tmp2.loc[(abs(tmp2['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp3 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明授权')]
tmp3 = tmp3.loc[(abs(tmp3['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp4 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '外观设计')]
tmp4 = tmp4.loc[(abs(tmp4['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

tmp5 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '实用新型')]
tmp5 = tmp5.loc[(abs(tmp5['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

filter_df_zhuanli = pd.concat([tmp1, tmp2, tmp3, tmp4, tmp5])

In [38]:
filter_df_zhuanli = filter_df_zhuanli.drop(columns=['授权公告日', '申请日'])
new_df_zhuanli = filter_df_zhuanli.groupby(
    ['企业编号', '专利类型'])['专利类型'].count().unstack()
new_df_zhuanli['企业编号'] = new_df_zhuanli.index
columns = ['企业编号', '发明专利', '发明公布', '发明授权', '外观设计', '实用新型']
new_df_zhuanli = pd.DataFrame(new_df_zhuanli, columns=columns)
new_df_zhuanli = new_df_zhuanli.set_index(np.arange(0, len(new_df_zhuanli)))
# new_df_zhuanli.head(n=5)

In [39]:
merge_df(new_df_zhuanli, ['发明专利', '发明公布', '发明授权', '外观设计', '实用新型'], '专利')
# res['专利'] = new_df_zhuanli

# 竞品

In [40]:
df_jingpin_bkp = pd.read_excel(data_path+r'竞品.xlsx')

In [41]:
df_jingpin = df_jingpin_bkp.copy()
df_jingpin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33883 entries, 0 to 33882
Data columns (total 7 columns):
企业编号      33883 non-null int64
竞品的行业     2076 non-null object
竞品的标签     33875 non-null object
竞品轮次      23416 non-null object
竞品详细地址    31384 non-null object
竞品运营状态    31002 non-null object
竞品成立时间    31561 non-null object
dtypes: int64(1), object(6)
memory usage: 1.8+ MB

In [42]:
df_jingpin = df_jingpin.loc[(df_jingpin['竞品运营状态'] == '运营中')]
df_jingpin = df_jingpin.loc[(df_jingpin['竞品的标签'].notnull())]

In [43]:
new_df_jingpin = pd.DataFrame(df_jingpin['企业编号'].value_counts())
new_df_jingpin.columns = ['竞品数量']
new_df_jingpin['企业编号'] = new_df_jingpin.index
new_df_jingpin.sort_values(by=['企业编号'], inplace=True)
new_df_jingpin = new_df_jingpin[['企业编号', '竞品数量']]
new_df_jingpin = new_df_jingpin.set_index(np.arange(0, len(new_df_jingpin)))
# new_df_jingpin.head(n=20)

In [44]:
merge_df(new_df_jingpin, ['竞品数量'], '竞品')
# res['竞品'] = new_df_jingpin

# 招投标

In [45]:
df_zhaotoubiao_bkp = pd.read_excel(data_path+r'招投标.xlsx')
df_zhaotoubiao = df_zhaotoubiao_bkp.copy()
df_zhaotoubiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158309 entries, 0 to 158308
Data columns (total 5 columns):
企业编号     158309 non-null int64
公告类型     146194 non-null object
中标或招标    158309 non-null object
省份       158309 non-null object
发布时间     158309 non-null object
dtypes: int64(1), object(4)
memory usage: 6.0+ MB

In [46]:
df_zhaotoubiao['中标或招标'].value_counts()

中标    139286
招标     19023
Name: 中标或招标, dtype: int64

In [47]:
df_zhaotoubiao['公告类型'].value_counts()

中标       110781
成交        17653
合同        11509
预告         2777
其它         1233
招标          984
废标          559
单一          210
流标          188
变更          145
询价           85
竞谈           23
拟建           18
验收           15
结果变更          8
公开招标          2
竞价            1
竞争性谈判         1
违规            1
其他            1
Name: 公告类型, dtype: int64

In [48]:
new_df_zhaotoubiao = df_zhaotoubiao.groupby(
    ['企业编号', '中标或招标'])['中标或招标'].count().unstack()


new_df_zhaotoubiao['企业编号'] = new_df_zhaotoubiao.index
new_df_zhaotoubiao = new_df_zhaotoubiao[['企业编号', '中标', '招标']]
new_df_zhaotoubiao = new_df_zhaotoubiao.set_index(
    np.arange(0, len(new_df_zhaotoubiao)))
new_df_zhaotoubiao = new_df_zhaotoubiao.drop(['招标'], axis=1)
new_df_zhaotoubiao.head(n=5)

中标或招标  企业编号    中标
0      1001  74.0
1      1002   8.0
2      1003  17.0
3      1004   NaN
4      1005  46.0

In [49]:
merge_df(new_df_zhaotoubiao, ['中标'], '招投标')
# res['招投标'] = new_df_zhaotoubiao

# 购地

In [50]:
df_goudi1_bkp = pd.read_excel(data_path+'购地-地块公示.xlsx')
df_goudi2_bkp = pd.read_excel(data_path+'购地-市场交易-土地转让.xlsx')
df_goudi3_bkp = pd.read_excel(data_path+'购地-房地产大企业购地情况.xlsx')
df_goudi4_bkp = pd.read_excel(data_path+'购地-房地产大地块出让情况.xlsx')
df_goudi5_bkp = pd.read_excel(data_path+'购地-市场交易-土地抵押.xlsx')
df_goudi6_bkp = pd.read_excel(data_path+'购地-结果公告.xlsx')
df_goudi1 = df_goudi1_bkp.copy()
df_goudi2 = df_goudi2_bkp.copy()
df_goudi3 = df_goudi3_bkp.copy()
df_goudi4 = df_goudi4_bkp.copy()
df_goudi5 = df_goudi5_bkp.copy()
df_goudi6 = df_goudi6_bkp.copy()
print(df_goudi1.info(), '\n地块公示')
print('=================')
print(df_goudi3.info(), '\n房地产大企业购地情况')
print('=================')
print(df_goudi2.info(), '\n市场交易-土地转让')
print('=================')
print(df_goudi4.info(), '\n房地产大地块出让情况')
print('=================')
print(df_goudi5.info(), '\n市场交易-土地抵押')
print('=================')
print(df_goudi6.info(), '\n结果公告')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20033 entries, 0 to 20032
Data columns (total 9 columns):
企业编号        20033 non-null int64
行政区         19993 non-null object
时间          20033 non-null object
公示日期        5046 non-null object
土地用途        20027 non-null object
土地面积（公顷）    20033 non-null float64
出让年限        3970 non-null object
成交价（万元）     4894 non-null float64
土地使用条件      2032 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 1.4+ MB
None
地块公示
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20033 entries, 0 to 20032
Data columns (total 11 columns):
企业编号         20033 non-null int64
行政区          19993 non-null object
签订日期         20033 non-null object
供地总面积（公顷）    20033 non-null float64
约定动工时间       1084 non-null object
土地用途         20027 non-null object
供应方式         1032 non-null object
最小容积率        513 non-null float64
最大容积率        517 non-null float64
成交价款（万元）     4894 non-null float64
约定竣工时间       631 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 1.7+ MB
None
房地产大企业购地情况
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 10 columns):
企业编号        33744 non-null int64
成交时间        33744 non-null object
土地面积(公顷)    33743 non-null float64
土地用途        33737 non-null object
土地使用年限      1331 non-null object
土地级别        1541 non-null object
土地使用权类型     1040 non-null object
土地利用状况      2125 non-null object
转让方式        1063 non-null object
转让价格(万元)    1063 non-null float64
dtypes: float64(2), int64(1), object(7)
memory usage: 2.6+ MB
None
市场交易-土地转让
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 10 columns):
企业编号        33744 non-null int64
签订日期        33744 non-null object
供地总面积       33743 non-null float64
约定动工时间      1089 non-null object
土地用途        33737 non-null object
供应方式        1039 non-null object
容积率下限       513 non-null float64
容积率上限       517 non-null float64
成交价款（万元）    5007 non-null float64
约定竣工时间      631 non-null object
dtypes: float64(4), int64(1), object(5)
memory usage: 2.6+ MB
None
房地产大地块出让情况
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 11 columns):
企业编号              33744 non-null int64
土地抵押人性质           24353 non-null object
抵押面积(公顷)          26410 non-null float64
土地用途              33737 non-null object
抵押土地用途            26403 non-null object
抵押土地权属性质与使用权类型    25843 non-null object
土地面积              33743 non-null float64
评估金额(万元)          25479 non-null float64
抵押金额(万元)          26387 non-null float64
土地抵押登记起始时间        33744 non-null object
土地抵押登记结束时间        26405 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 2.8+ MB
None
市场交易-土地抵押
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 18 columns):
企业编号        33744 non-null int64
总面积         33743 non-null float64
土地用途        33737 non-null object
供应方式        1039 non-null object
签订日期        33744 non-null object
土地来源        488 non-null object
土地使用年限      1331 non-null object
行业分类        486 non-null object
土地级别        1541 non-null object
成交价格（万元）    5007 non-null float64
约定容积率上限     325 non-null float64
约定容积率下限     345 non-null float64
约定交地时间      478 non-null object
约定开工时间      1089 non-null object
约定竣工时间      457 non-null object
实际开工时间      0 non-null float64
实际竣工时间      0 non-null float64
批准单位        477 non-null object
dtypes: float64(6), int64(1), object(11)
memory usage: 4.6+ MB
None
结果公告

In [51]:
print('地块公示 vs 房地产大企业购地情况:', df_goudi1['土地面积（公顷）'].equals(
    df_goudi3['供地总面积（公顷）']), df_goudi1['企业编号'].equals(
    df_goudi3['企业编号']))
print('市场交易-土地转让 vs 房地产大地块出让情况:',
      df_goudi2['土地面积(公顷)'].equals(df_goudi4['供地总面积']), df_goudi2['企业编号'].equals(df_goudi4['企业编号']))
print('市场交易-土地转让 vs 市场交易-土地抵押:',
      df_goudi2['土地面积(公顷)'].equals(df_goudi5['抵押面积(公顷)']), df_goudi2['企业编号'].equals(df_goudi5['企业编号']))
print('市场交易-土地转让 vs 结果公告:', df_goudi2['土地面积(公顷)'].equals(
    df_goudi6['总面积']), df_goudi2['企业编号'].equals(df_goudi6['企业编号']))

地块公示 vs 房地产大企业购地情况: True True
市场交易-土地转让 vs 房地产大地块出让情况: True True
市场交易-土地转让 vs 市场交易-土地抵押: False True
市场交易-土地转让 vs 结果公告: True True

In [52]:
df_goudi1['土地面积（公顷）'] = df_goudi1['土地面积（公顷）'].astype(float)
goudi_grouped = df_goudi1.groupby(['企业编号'])

agg_goudi_func = {
    '土地面积（公顷）': ['sum', 'min', 'max']
}
goudi_grouped_info = goudi_grouped.agg(agg_goudi_func)
goudi_grouped_info.columns = [
    '_'.join(col).strip() for col in goudi_grouped_info.columns.values]
goudi_grouped_info['企业编号'] = goudi_grouped_info.index
goudi_grouped_info = goudi_grouped_info.set_index(
    np.arange(0, len(goudi_grouped_info)))
goudi_grouped_info.head(n=3)
# drop goudi3

    土地面积（公顷）_sum  土地面积（公顷）_min  土地面积（公顷）_max  企业编号
0  158135.998846       0.00030   80001.80000  1001
1      55.668100       4.15927      41.40896  1003
2       4.000000       0.60000       3.40000  1004

In [53]:
df_jine = df_goudi5.loc[(df_goudi5['评估金额(万元)'].notnull())]

df_jine['评估金额(亿元)'] = df_jine['评估金额(万元)'].astype(float)/10000
goudi_grouped_jine = df_jine.groupby(['企业编号'])

agg_goudi_func = {
    '评估金额(亿元)': ['sum', 'max']
}
goudi_grouped_jine_info = goudi_grouped_jine.agg(agg_goudi_func)
goudi_grouped_jine_info.columns = [
    '_'.join(col).strip() for col in goudi_grouped_jine_info.columns.values]
goudi_grouped_jine_info['企业编号'] = goudi_grouped_jine_info.index
goudi_grouped_jine_info = goudi_grouped_jine_info.set_index(
    np.arange(0, len(goudi_grouped_jine_info)))
goudi_grouped_jine_info.head(n=3)

   评估金额(亿元)_sum  评估金额(亿元)_max  企业编号
0  54454.534553  16793.953500  1001
1   1072.827287    304.009500  1010
2   1831.685186     40.403526  1011

In [54]:
merge_goudi = goudi_grouped_info.merge(
    goudi_grouped_jine_info, how='outer', on='企业编号')
merge_goudi['土地面积评估均值(公顷/亿元)'] = (merge_goudi['土地面积（公顷）_sum'] /
                                  merge_goudi['评估金额(亿元)_sum']).replace(np.inf, np.nan)
cols = ['企业编号', '土地面积（公顷）_sum', '土地面积（公顷）_min', '土地面积（公顷）_max',
        '评估金额(亿元)_sum', '评估金额(亿元)_max', '土地面积评估均值(公顷/亿元)']
merge_goudi = merge_goudi[cols]

diyacishu = pd.DataFrame()
diyacishu['抵押次数'] = df_goudi5.loc[(df_goudi5['评估金额(万元)'].notnull())].groupby(['企业编号'])[
    '企业编号'].count()

goudicishu = pd.DataFrame()
goudicishu['购地次数'] = df_goudi1.loc[(df_goudi1['土地面积（公顷）'].notnull())].groupby(['企业编号'])[
    '企业编号'].count()
goudicishu = goudicishu.merge(
    diyacishu, how='outer', on='企业编号')
merge_goudi = merge_goudi.merge(goudicishu, how='outer', on='企业编号')
merge_goudi.columns = ['企业编号', '企业购地面积（公顷）_sum', '企业购地面积（公顷）_min', '企业购地面积（公顷）_max',
                       '土地评估金额(亿元)_sum', '土地评估金额(亿元)_max', '土地面积评估均值(公顷/亿元)', '购地次数', '抵押次数']
merge_goudi.head(n=5)

,企业编号,企业购地面积（公顷）_sum,企业购地面积（公顷）_min,企业购地面积（公顷）_max,土地评估金额(亿元)_sum,土地评估金额(亿元)_max,土地面积评估均值(公顷/亿元),购地次数,抵押次数
0,1001,158135.998846,0.00030,80001.80000,54454.534553,16793.9535,2.904001,1671.0,1528.0
1,1003,55.668100,4.15927,41.40896,NaN,NaN,NaN,3.0,NaN
2,1004,4.000000,0.60000,3.40000,NaN,NaN,NaN,2.0,NaN
3,1005,2.935250,2.93525,2.93525,NaN,NaN,NaN,1.0,NaN
4,1007,230.110791,30.49280,66.66667,NaN,NaN,NaN,4.0,NaN

In [55]:
merge_df(merge_goudi, ['企业购地面积（公顷）_sum', '企业购地面积（公顷）_min', '企业购地面积（公顷）_max',
                       '土地评估金额(亿元)_sum', '土地评估金额(亿元)_max', '土地面积评估均值(公顷/亿元)', '购地次数', '抵押次数'], '企业购地')

# res['企业购地'] = merge_goudi

# 年报-对外投资信息

In [56]:
df_nianbao_touzi_bkp = pd.read_excel(data_path+r'年报-对外投资信息.xlsx')
df_nianbao_touzi = df_nianbao_touzi_bkp.copy()
df_nianbao_touzi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93369 entries, 0 to 93368
Data columns (total 4 columns):
企业编号    93369 non-null int64
投资金额    1456 non-null float64
投资占比    1456 non-null float64
年报年份    93367 non-null float64
dtypes: float64(3), int64(1)
memory usage: 2.8 MB

In [57]:
df_nianbao_touzi_clean = df_nianbao_touzi.loc[(
    df_nianbao_touzi['投资金额'].notnull())]

agg_func = {
    '投资金额': ['sum', 'min', 'max'],
    '企业编号': ['count']
}
df_nianbao_touzi_group = df_nianbao_touzi_clean.groupby(
    ['企业编号']).agg(agg_func)
df_nianbao_touzi_group.columns = [
    '_'.join(col).strip() for col in df_nianbao_touzi_group.columns.values]
df_nianbao_touzi_group['企业编号'] = df_nianbao_touzi_group.index
df_nianbao_touzi_group.rename(columns={'企业编号_count': '投资次数'}, inplace=True)
df_nianbao_touzi_group = df_nianbao_touzi_group.set_index(
    np.arange(0, len(df_nianbao_touzi_group)))
df_nianbao_touzi_group.head(n=2)

     投资金额_sum  投资金额_min    投资金额_max  投资次数  企业编号
0  3703345.70   11600.0  3208193.70     7  1028
1   170384.71       3.0    25505.71    56  1134

In [58]:
# res['年报-对外投资信息'] = df_nianbao_touzi_group
# ["投资金额_sum", "投资金额_min", "投资金额_max", "投资次数"]
merge_df(df_nianbao_touzi_group, ["投资金额_sum",
                                  "投资金额_min", "投资金额_max", "投资次数"], '年报-对外投资信息')

# 年报-股东股权转让

In [59]:
df_nianbao_gudongguquanzhuanrang_bkp = pd.read_excel(
    data_path+r'年报-股东股权转让.xlsx')

In [60]:
df_nianbao_gudongguquanzhuanrang = df_nianbao_gudongguquanzhuanrang_bkp.copy()
df_nianbao_gudongguquanzhuanrang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6855 entries, 0 to 6854
Data columns (total 5 columns):
企业编号       6855 non-null int64
变更前股权比例    5010 non-null object
变更后股权比例    5015 non-null object
股权变更日期     5022 non-null object
年报年份       6849 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 267.9+ KB

In [61]:
df_nianbao_gudongguquanzhuanrang['变更前股权比例'] = df_nianbao_gudongguquanzhuanrang['变更前股权比例'].str.rstrip(
    '%').astype(float)
df_nianbao_gudongguquanzhuanrang_clean = df_nianbao_gudongguquanzhuanrang.loc[(
    df_nianbao_gudongguquanzhuanrang['变更后股权比例'].notnull())]
df_nianbao_gudongguquanzhuanrang_clean['变更后股权比例'] = df_nianbao_gudongguquanzhuanrang_clean[~df_nianbao_gudongguquanzhuanrang_clean["变更后股权比例"].str.contains(
    '-')]['变更后股权比例'].str.rstrip('%').astype(float)

df_nianbao_gudongguquanzhuanrang_clean['变更股权比例差'] = df_nianbao_gudongguquanzhuanrang_clean['变更后股权比例'] - \
    df_nianbao_gudongguquanzhuanrang_clean['变更前股权比例']
# df_nianbao_gudongguquanzhuanrang_clean.head(n=3)
agg_func = {
    '变更股权比例差': ['sum', 'max', 'min'],
    '变更前股权比例': ['sum'],
    '变更后股权比例': ['sum'],
    '企业编号': ['count']
}
df_nianbao_gudongguquanzhuanrang_clean_new = df_nianbao_gudongguquanzhuanrang_clean.groupby([
                                                                                            '企业编号']).agg(agg_func)
df_nianbao_gudongguquanzhuanrang_clean_new.columns = [
    '_'.join(col) for col in df_nianbao_gudongguquanzhuanrang_clean_new.columns.values]
df_nianbao_gudongguquanzhuanrang_clean_new.columns = [
    '变更股权比例差_sum', '变更股权比例差_max', '变更股权比例差_min', '变更前股权比例_sum', '变更后股权比例_sum', '变更次数']
df_nianbao_gudongguquanzhuanrang_clean_new['企业编号'] = df_nianbao_gudongguquanzhuanrang_clean_new.index
df_nianbao_gudongguquanzhuanrang_clean_new = df_nianbao_gudongguquanzhuanrang_clean_new.set_index(
    np.arange(0, len(df_nianbao_gudongguquanzhuanrang_clean_new)))
df_nianbao_gudongguquanzhuanrang_clean_new.head(n=3)

   变更股权比例差_sum  变更股权比例差_max  变更股权比例差_min  变更前股权比例_sum  变更后股权比例_sum  变更次数  企业编号
0         5.24         2.60        -0.80        90.35        95.59    11  1001
1       -10.91       -10.91       -10.91        61.96        51.05     1  1002
2       -13.89         1.11       -15.00        43.90        30.01     2  1013

In [62]:
merge_df(df_nianbao_gudongguquanzhuanrang_clean_new, [
         '变更股权比例差_sum', '变更股权比例差_max', '变更股权比例差_min', '变更前股权比例_sum', '变更后股权比例_sum', '变更次数'], '年报-股东股权转让')
# res['年报-股东股权转让'] = df_nianbao_gudongguquanzhuanrang_clean_new

# 工商基本信息表

In [63]:
df_gongshangxinxi_bkp = pd.read_excel(data_path+r'工商基本信息表.xlsx')

In [64]:
df_gongshangxinxi = df_gongshangxinxi_bkp.copy()
df_gongshangxinxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 19 columns):
企业编号          3000 non-null int64
注册资本（万元）      3000 non-null float64
注册资本币种(正则)    3000 non-null object
成立日期          3000 non-null object
经营状态          3000 non-null object
行业大类（代码）      2999 non-null object
行业小类（代码）      2999 non-null object
类型            3000 non-null object
省份代码          3000 non-null int64
城市代码          3000 non-null int64
地区代码          3000 non-null int64
是否上市          3000 non-null object
经营期限自         2987 non-null object
经营期限至         521 non-null object
登记机关区域代码      2992 non-null float64
发照日期          2979 non-null object
员工人数          2986 non-null float64
注销原因          227 non-null object
注销时间          1 non-null object
dtypes: float64(3), int64(4), object(12)
memory usage: 445.4+ KB

In [65]:
df_gongshangxinxi['经营状态'].value_counts()

存续（在营、开业、在册）    1762
在营（开业）企业         401
存续               362
开业               343
在业                63
存续(在营、开业、在册)      48
迁出                21
Name: 经营状态, dtype: int64

In [66]:
df_gongshangxinxi['经营状态'] = df_gongshangxinxi['经营状态'].str.replace(
    '存续（在营、开业、在册）', '开业')
df_gongshangxinxi['经营状态'] = df_gongshangxinxi['经营状态'].str.replace(
    '在业', '开业')
df_gongshangxinxi['经营状态'] = df_gongshangxinxi['经营状态'].str.replace(
    '在营（开业）企业', '开业')
df_gongshangxinxi['经营状态'].value_counts()

开业              2569
存续               362
存续(在营、开业、在册)      48
迁出                21
Name: 经营状态, dtype: int64

In [67]:
zhuangtai = df_gongshangxinxi.groupby(['企业编号', '经营状态'])[
    '经营状态'].count().unstack().fillna(0).astype(int)
zhuangtai['企业编号'] = zhuangtai.index
zhuangtai['开业'] = zhuangtai['存续']+zhuangtai['存续(在营、开业、在册)']+zhuangtai['开业']
zhuangtai = pd.DataFrame(
    {'企业编号': zhuangtai['企业编号'], '经营状态_开业': zhuangtai['开业'], '经营状态_迁出': zhuangtai['迁出']})
# res['经营状态'] = zhuangtai
zhuangtai = zhuangtai.set_index(np.arange(0, len(zhuangtai)))
zhuangtai.loc[(zhuangtai['经营状态_开业'] == 0)]
zhuangtai = zhuangtai.drop(['经营状态_迁出'], axis=1)
zhuangtai.rename(columns={'经营状态_开业': '经营状态'}, inplace=True)
zhuangtai_merge = df_base.merge(zhuangtai, how='left', on='企业编号')
zhuangtai_merge['经营状态'] = zhuangtai_merge['经营状态'].fillna(
    zhuangtai_merge['经营状态'].mode())
res['经营状态'] = zhuangtai_merge

In [68]:
df_hangye = df_gongshangxinxi.groupby(['企业编号', '行业大类（代码）'])[
    '行业大类（代码）'].count().unstack().fillna(0).astype(int)
df_hangye.columns = ['行业大类_'+col for col in df_hangye.columns.values]
df_hangye['企业编号'] = df_hangye.index
# res['行业大类'] = df_hangye
df_hangye = df_hangye.set_index(np.arange(0, len(df_hangye)))
df_hangye_merge = df_base.merge(df_hangye, how='left', on='企业编号')
# df_hangye_merge.columns
hangye_cols = ['行业大类_A', '行业大类_B', '行业大类_C', '行业大类_D', '行业大类_E', '行业大类_F',
               '行业大类_G', '行业大类_H', '行业大类_I', '行业大类_J', '行业大类_K', '行业大类_L', '行业大类_M',
               '行业大类_N', '行业大类_O', '行业大类_P', '行业大类_Q', '行业大类_R']
for col in hangye_cols:
    df_hangye_merge[col] = df_hangye_merge[col].fillna(0)
res['行业大类'] = df_hangye_merge

In [69]:
df_hangye_merge.loc[(df_hangye_merge['行业大类_E'].isnull())]

Empty DataFrame
Columns: [企业编号, 行业大类_A, 行业大类_B, 行业大类_C, 行业大类_D, 行业大类_E, 行业大类_F, 行业大类_G, 行业大类_H, 行业大类_I, 行业大类_J, 行业大类_K, 行业大类_L, 行业大类_M, 行业大类_N, 行业大类_O, 行业大类_P, 行业大类_Q, 行业大类_R]
Index: []

In [70]:
df_gongshangxinxi['是否上市'] = df_gongshangxinxi['是否上市'].str.replace('Y', '1')
df_gongshangxinxi['是否上市'] = df_gongshangxinxi['是否上市'].str.replace('N', '0')
df_gongshangxinxi['是否上市'] = df_gongshangxinxi['是否上市'].astype(int)

In [71]:
df_gongshangxinxi.loc[df_gongshangxinxi['注册资本币种(正则)'] == '美元', [
    '注册资本（万元）']] = df_gongshangxinxi.loc[df_gongshangxinxi['注册资本币种(正则)'] == '美元', ['注册资本（万元）']]*8.2777
df_gongshangxinxi.loc[df_gongshangxinxi['注册资本币种(正则)'] == '美元']

,企业编号,注册资本（万元）,注册资本币种(正则),成立日期,经营状态,行业大类（代码）,行业小类（代码）,类型,省份代码,城市代码,地区代码,是否上市,经营期限自,经营期限至,登记机关区域代码,发照日期,员工人数,注销原因,注销时间
1309,2310,17.429525,美元,2000-05-15,开业,C,29,外企,44,4406,440600,1,2000-05-15,2015-05-14,440600.0,2008-05-19,14.0,NaN,NaN

In [72]:
temp = pd.DataFrame({'企业编号': df_gongshangxinxi['企业编号'],
                     '注册资本（万元）': df_gongshangxinxi['注册资本（万元）'],
                     '是否上市': df_gongshangxinxi['是否上市']})
# res['merge_注册资本_是否上市'] = temp

In [73]:
temp_merge = df_base.merge(temp, how='left', on='企业编号')
temp_merge['注册资本（万元）'] = temp_merge['注册资本（万元）'].fillna(
    temp_merge['注册资本（万元）'].mean())
temp_merge['是否上市'] = temp_merge['是否上市'].fillna(temp_merge['是否上市'].mode())
res['注册资本_是否上市'] = temp_merge

In [74]:
df_gongshangxinxi['成立日期'] = pd.to_datetime(df_gongshangxinxi['成立日期'])
df_gongshangxinxi['成立年数'] = round(abs(df_gongshangxinxi['成立日期'].sub(
    current_date, axis=0).dt.days)/365).astype(int)
df_gongshangxinxi.head(n=3)

,企业编号,注册资本（万元）,注册资本币种(正则),成立日期,经营状态,行业大类（代码）,行业小类（代码）,类型,省份代码,城市代码,地区代码,是否上市,经营期限自,经营期限至,登记机关区域代码,发照日期,员工人数,注销原因,注销时间,成立年数
0,1001,746.138857,人民币,1992-10-19,开业,J,66,民营,31,3100,310000,1,1992-10-19,NaN,310100.0,1992-10-19,19.0,NaN,NaN,26
1,1002,82.772800,人民币,2000-09-19,开业,O,80,民营,44,4400,440000,1,2000-09-19,NaN,440000.0,2017-12-21,12.0,NaN,NaN,19
2,1003,80.000000,人民币,1999-07-21,开业,C,36,民营,42,4200,420000,1,1999-07-21,NaN,420000.0,2018-10-22,11.0,NaN,NaN,20

In [75]:
df_gongshangxinxi['注销原因'].value_counts()

其他原因           121
决议解散           101
宣告破产             2
因公司合并或分立         2
章程规定的解散事由出现      1
Name: 注销原因, dtype: int64

In [76]:
# df_gongshangxinxi['是否注销'] = df_gongshangxinxi['注销原因'].fillna(0, inplace=True)
df_gongshangxinxi.loc[(df_gongshangxinxi['注销原因'].notnull()), '是否注销'] = 1
df_gongshangxinxi['是否注销'].value_counts()

1.0    227
Name: 是否注销, dtype: int64

In [77]:
waiqi = df_gongshangxinxi.groupby(['企业编号', '类型'])[
    '类型'].count().unstack().fillna(0).astype(int)

waiqi['企业编号'] = waiqi.index
merge_waiqi_zhuxiao_nianshu = pd.DataFrame({
    '是否注销': df_gongshangxinxi['是否注销'],
    '是否外企': waiqi['外企'],
    '企业编号': waiqi['企业编号'],
    '成立年数': df_gongshangxinxi['成立年数']
})
# waiqi.head(n=5)

In [78]:
# merge_df(merge_waiqi_zhuxiao_nianshu, [
#          '是否注销', '是否外企', '企业编号', '成立年数'], '成立年数_是否注销_是否外企')
waiqi_zhuxiao_nianshu = df_base.merge(
    merge_waiqi_zhuxiao_nianshu, how='left', on='企业编号')
waiqi_zhuxiao_nianshu['是否注销'].fillna(
    waiqi_zhuxiao_nianshu['是否注销'].mode()[0], inplace=True)
waiqi_zhuxiao_nianshu['是否外企'].fillna(
    waiqi_zhuxiao_nianshu['是否外企'].mode()[0], inplace=True)
waiqi_zhuxiao_nianshu['成立年数'].fillna(int(
    waiqi_zhuxiao_nianshu['成立年数'].mean()), inplace=True)
res['外企_注销_成立年数'] = waiqi_zhuxiao_nianshu

In [79]:
# waiqi_zhuxiao_nianshu.loc[(waiqi_zhuxiao_nianshu['成立年数'].isnull(
# )), '成立年数'] = waiqi_zhuxiao_nianshu['成立年数'].mode()
# waiqi_zhuxiao_nianshu['成立年数'].fillna(
#     waiqi_zhuxiao_nianshu['成立年数'].mean(), inplace=True)
# waiqi_zhuxiao_nianshu.loc[(waiqi_zhuxiao_nianshu['是否注销'].isnull())]

# 年报企业基本信息

In [80]:
df_qiyejiben_bkp = pd.read_excel(data_path+r'年报-企业基本信息.xlsx')

In [81]:
df_qiyejiben = df_qiyejiben_bkp.copy()
df_qiyejiben.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15056 entries, 0 to 15055
Data columns (total 10 columns):
企业编号                  15056 non-null int64
注册资本                  1750 non-null object
企业经营状态                14837 non-null object
从业人数                  14838 non-null object
是否有网站或网点              14838 non-null object
企业是否有投资信息或购买其他公司股权    14835 non-null object
有限责任公司本年度是否发生股东股权转    14836 non-null object
是否提供对外担保              14827 non-null object
发布日期                  15039 non-null object
年报年份                  15048 non-null float64
dtypes: float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [82]:
df_qiyejiben['企业经营状态'].value_counts()

开业         13590
正常开业         739
开业/正常经营      420
存续            64
其他            10
歇业             7
清算             6
停业             1
Name: 企业经营状态, dtype: int64

In [83]:
jingyingzhaungtai = df_qiyejiben.groupby(['企业编号', '企业经营状态'])[
    '企业经营状态'].count().unstack().fillna(0).astype(int)
jingyingzhaungtai['企业编号'] = jingyingzhaungtai.index
jingyingzhaungtai['开业'] = jingyingzhaungtai['开业'] + \
    jingyingzhaungtai['开业/正常经营'] + \
    jingyingzhaungtai['正常开业']+jingyingzhaungtai['存续']
jingying = pd.DataFrame({
    '企业编号': jingyingzhaungtai['企业编号'],
    '停业': jingyingzhaungtai['停业'],
    '其他': jingyingzhaungtai['其他'],
    '开业': jingyingzhaungtai['开业'],
    '歇业': jingyingzhaungtai['歇业'],
    '清算': jingyingzhaungtai['清算'],
})
jingying = jingying.set_index(np.arange(0, len(jingying)))

In [84]:
merge_df(jingying, [
         '停业', '其他', '开业', '歇业', '清算'], '企业基本信息经营状态')

# 年报-的对外提供保证担保信息

In [85]:
df_duiwaidanbao_bkp = pd.read_excel(data_path+r'年报-的对外提供保证担保信息.xlsx')

In [86]:
df_duiwaidanbao = df_duiwaidanbao_bkp.copy()
df_duiwaidanbao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 8 columns):
企业编号       10875 non-null int64
主债权数额      8777 non-null object
保证担保的范围    594 non-null object
保证的期间      8751 non-null object
保证的方式      8754 non-null object
主债权种类      8746 non-null object
履行债务的期限    10864 non-null object
年报年份       10875 non-null int64
dtypes: int64(2), object(6)
memory usage: 679.8+ KB

In [87]:
tmpdf = pd.DataFrame()
tmpdf['担保次数'] = df_duiwaidanbao.groupby(['企业编号'])['企业编号'].count()
tmpdf['企业编号'] = tmpdf.index
tmpdf = tmpdf.set_index(np.arange(0, len(tmpdf)))
tmpdf.head(n=5)

   担保次数  企业编号
0     3  1004
1     8  1012
2     3  1013
3     2  1014
4     4  1016

In [88]:
merge_df(tmpdf, ['担保次数'], '企业担保次数')
# res['企业担保次数'] = tmpdf

# 年报-网站或网点信息

In [ ]:
df_wangzhan_bkp = pd.read_excel(data_path+r'年报-网站或网点信息.xlsx')

In [ ]:
df_wangzhan = df_wangzhan_bkp.copy()
df_wangzhan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13553 entries, 0 to 13552
Data columns (total 2 columns):
企业编号    13553 non-null int64
年报年份    13546 non-null float64
dtypes: float64(1), int64(1)
memory usage: 211.8 KB

In [ ]:
tmpdf = pd.DataFrame()
tmpdf['网站或网点数'] = df_wangzhan.groupby(['企业编号'])['企业编号'].count()
tmpdf['企业编号'] = tmpdf.index
tmpdf = tmpdf.set_index(np.arange(0, len(tmpdf)))
# res['网站或网点数'] = tmpdf
tmpdf.head(n=5)

   网站或网点数  企业编号
0      12  1001
1       5  1002
2       1  1003
3       5  1004
4       5  1005

In [ ]:
merge_df(tmpdf, ['网站或网点数'], '网站或网点数')

# 商标

In [ ]:
df_shangbiao_bkp = pd.read_excel(data_path+r'商标.xlsx')

In [ ]:
df_shangbiao = df_shangbiao_bkp.copy()
df_shangbiao.info()

In [ ]:
df_shangbiao_withdate = df_shangbiao.loc[(df_shangbiao['专用权期限结束日期'].notnull())]
df_shangbiao_withdate['专用权期限结束日期'] = pd.to_datetime(
    df_shangbiao_withdate['专用权期限结束日期'])
df_shangbiao_withdate = df_shangbiao_withdate.loc[(
    df_shangbiao_withdate['专用权期限结束日期']) > current_date]
df_shangbiao_withdate['商标状态'].value_counts()

In [ ]:
finished = ['商标已注册',
            '注册',
            '商标注册申请完成',
            '商标续展完成',
            '商标变更完成',
            '变更商标申请人/注册人名义/地址完成',
            '商标注册申请注册公告排版完成',
            '商标转让完成',
            '出具商标注册证明完成']
df_shangbiao_withdate_clean = df_shangbiao_withdate.loc[(
    df_shangbiao_withdate['商标状态'].isin(finished))]
df_shangbiao_count = pd.DataFrame()
df_shangbiao_count['商标数量'] = df_shangbiao_withdate_clean.groupby(['企业编号'])[
    '企业编号'].count()
df_shangbiao_count['企业编号'] = df_shangbiao_count.index
df_shangbiao_count = df_shangbiao_count.set_index(
    np.arange(0, len(df_shangbiao_count)))
df_shangbiao_count.head(n=5)

In [ ]:
merge_df(df_shangbiao_count, ['商标数量'], '商标数量')
# res['商标数量'] = df_shangbiao_count

# 债券信息

In [ ]:
df_operation = pd.read_excel(data_path+r'债券信息.xlsx')
df_operation.info()
df_operation['债券期限'] = pd.to_numeric(df_operation['债券期限'], errors='coerce')
df_operation.info()

In [ ]:
agg_func = {'债券期限': ['mean', 'max', 'min', 'std'], '票面利率（%）': [
    'mean', 'max', 'min', 'std'], '计划发行总额（亿元）': ['sum', 'max', 'min', 'std']}
df_operation_new = df_operation.groupby(['企业编号']).agg(agg_func)
df_operation_new.columns = ['_'.join(col)
                            for col in df_operation_new.columns.values]
df_operation_new.columns = [
    '债券期限_mean',
    '债券期限_max',
    '债券期限_min',
    '债券期限_std',
    '票面利率（%）_mean',
    '票面利率（%）_max',
    '票面利率（%）_min',
    '票面利率（%）_std',
    '计划发行总额（亿元）_sum',
    '计划发行总额（亿元）_max',
    '计划发行总额（亿元）_min',
    '计划发行总额（亿元）_std']
df_operation_new['企业编号'] = df_operation_new.index
df_operation_new = df_operation_new.set_index(
    np.arange(0, len(df_operation_new)))
df_operation_new.head(n=3)
# df_operation_new.info()

In [ ]:
# res['债券信息'] = df_operation_new
merge_df(df_operation_new, [
    '债券期限_mean',
    '债券期限_max',
    '债券期限_min',
    '债券期限_std',
    '票面利率（%）_mean',
    '票面利率（%）_max',
    '票面利率（%）_min',
    '票面利率（%）_std',
    '计划发行总额（亿元）_sum',
    '计划发行总额（亿元）_max',
    '计划发行总额（亿元）_min',
    '计划发行总额（亿元）_std'], '债券信息')

# 年报-社保信息

In [ ]:
df_shebao_bkp = pd.read_excel(data_path+r'年报-社保信息.xlsx')

In [ ]:
df_shebao = df_shebao_bkp.copy()
df_shebao.info()

In [ ]:
# filter_df_shebao = df_shebao.loc[(df_shebao['城镇职工基本养老保险人数'].notnull())]
# filter_df_shebao = filter_df_shebao.drop(['失业保险人数', '职工基本医疗保险人数', '工伤保险人数', '生育保险人数',
#                                           '单位参加失业保险缴费基数', '单位参加职工基本医疗保险缴费基数', '单位参加城镇职工基本养老保险缴费基数',
#                                           '单位参加工伤保险缴费基数', '单位参加生育保险缴费基数',
#                                           '参加失业保险本期实际缴费金额', '参加职工基本医疗保险本期实际缴费金额', '参加工伤保险本期实际缴费金额',
#                                           '参加生育保险本期实际缴费金额', '单位参加城镇职工基本养老保险累计欠缴金额', '单位参加失业保险累计欠缴金额',
#                                           '单位参加职工基本医疗保险累计欠缴金额', '单位参加工伤保险累计欠缴金额', '单位参加生育保险累计欠缴金额'], axis=1)
# filter_df_shebao['城镇职工基本养老保险人数'] = filter_df_shebao['城镇职工基本养老保险人数'].str.rstrip(
#     '人').astype(int)
# filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'] = filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.rstrip(
#     '万元')

# filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'] = filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].fillna(
#     '选择不公示')

# filter_df_shebao.loc[(filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.contains(
#     '([^0-9\.])')), '参加城镇职工基本养老保险本期实际缴费金额'].value_counts()

# filter_df_shebao.loc[(filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.contains(
#     '选择不公示')), '参加城镇职工基本养老保险本期实际缴费金额'] = np.nan

# filter_df_shebao['城镇职工基本养老保险本期实际缴费金额'] = filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.extract(
#     '([0-9\.]+)').astype(float)*10000
# filter_df_shebao = filter_df_shebao.drop(['参加城镇职工基本养老保险本期实际缴费金额'], axis=1)
# filter_df_shebao = filter_df_shebao[[
#     '企业编号', '城镇职工基本养老保险人数', '城镇职工基本养老保险本期实际缴费金额', '年报年份']]
# filter_df_shebao.columns = ['企业编号', '养老保险人数', '养老保险实缴费金额', '年报年份']

# filter_df_shebao1['合计'] = filter_df_shebao1['参加城镇职工基本养老保险本期实际缴费金额']+filter_df_shebao1['参加失业保险本期实际缴费金额'] + \
#     filter_df_shebao1['参加职工基本医疗保险本期实际缴费金额'] + \
#     filter_df_shebao1['参加工伤保险本期实际缴费金额']+filter_df_shebao1['参加生育保险本期实际缴费金额']
# filter_df_shebao1.info()
# filter_df_shebao.head(n=5)

In [ ]:
filter_df_shebao = df_shebao.loc[(df_shebao['城镇职工基本养老保险人数'].notnull())]
filter_df_shebao = filter_df_shebao.drop(['失业保险人数', '职工基本医疗保险人数', '工伤保险人数', '生育保险人数',
                                          '单位参加失业保险缴费基数', '单位参加职工基本医疗保险缴费基数', '单位参加工伤保险缴费基数', '单位参加生育保险缴费基数', '单位参加城镇职工基本养老保险累计欠缴金额', '单位参加失业保险累计欠缴金额',
                                          '单位参加职工基本医疗保险累计欠缴金额', '单位参加工伤保险累计欠缴金额', '单位参加生育保险累计欠缴金额'], axis=1)
A = ['单位参加城镇职工基本养老保险缴费基数', '参加城镇职工基本养老保险本期实际缴费金额', '参加失业保险本期实际缴费金额',
     '参加职工基本医疗保险本期实际缴费金额', '参加工伤保险本期实际缴费金额', '参加生育保险本期实际缴费金额']
filter_df_shebao['城镇职工基本养老保险人数'] = filter_df_shebao['城镇职工基本养老保险人数'].str.rstrip(
    '人').astype(int)
# filter_df_shebao.head(n=5)
for arr in A:
    filter_df_shebao[arr] = filter_df_shebao[arr].str.rstrip(
        '万元')
    filter_df_shebao[arr] = filter_df_shebao[arr].fillna(
        '选择不公示')
    filter_df_shebao.loc[(filter_df_shebao[arr].str.contains(
        '([^0-9\.])')), arr].value_counts()
    filter_df_shebao.loc[(filter_df_shebao[arr].str.contains(
        '选择不公示')), arr] = np.nan
    filter_df_shebao[arr] = filter_df_shebao[arr].str.extract(
        '([0-9\.]+)').astype(float)*10000
# filter_df_shebao.head(n=5)
# filter_df_shebao.info()
filter_df_shebao1 = filter_df_shebao.copy()
# filter_df_shebao1.info()
filter_df_shebao1['合计'] = filter_df_shebao1['参加城镇职工基本养老保险本期实际缴费金额']+filter_df_shebao1['参加失业保险本期实际缴费金额'] + \
    filter_df_shebao1['参加职工基本医疗保险本期实际缴费金额'] + \
    filter_df_shebao1['参加工伤保险本期实际缴费金额']+filter_df_shebao1['参加生育保险本期实际缴费金额']
filter_df_shebao1.head(n=10)

In [ ]:
df_shebao_16 = filter_df_shebao1.loc[(filter_df_shebao['年报年份'] == 2016)]
df_shebao_17 = filter_df_shebao1.loc[(filter_df_shebao['年报年份'] == 2017)]

In [ ]:
# df_shebao_16_c = df_shebao_16.copy()
# df_shebao_17_c = df_shebao_17.copy()
# df_shebao_16_c = df_shebao_16_c.set_index(df_shebao_16_c['企业编号'])
# df_shebao_17_c = df_shebao_17_c.set_index(df_shebao_17_c['企业编号'])
# df_shebao_16_c = df_shebao_16_c.drop(['年报年份'], axis=1)
# df_shebao_17_c = df_shebao_17_c.drop(['年报年份'], axis=1)
# df_shebao_16_c = df_shebao_16_c.drop(['企业编号'], axis=1)
# df_shebao_17_c = df_shebao_17_c.drop(['企业编号'], axis=1)
# combine_df = df_shebao_17_c.combine_first(df_shebao_16_c)
# combine_df['养老保险人数'] = combine_df['养老保险人数'].replace(0.0, np.nan)
# combine_df['养老保险人数'] = combine_df['养老保险人数'].fillna(combine_df['养老保险人数'].mean())

In [ ]:
df_shebao_16_c = df_shebao_16.copy()
df_shebao_17_c = df_shebao_17.copy()
df_shebao_16_c = df_shebao_16_c.set_index(df_shebao_16_c['企业编号'])
df_shebao_17_c = df_shebao_17_c.set_index(df_shebao_17_c['企业编号'])
df_shebao_16_c = df_shebao_16_c.drop(['年报年份'], axis=1)
df_shebao_17_c = df_shebao_17_c.drop(['年报年份'], axis=1)
df_shebao_16_c = df_shebao_16_c.drop(['企业编号'], axis=1)
df_shebao_17_c = df_shebao_17_c.drop(['企业编号'], axis=1)
combine_df = df_shebao_17_c.combine_first(df_shebao_16_c)
combine_df['城镇职工基本养老保险人数'] = combine_df['城镇职工基本养老保险人数'].replace(0.0, np.nan)
combine_df['城镇职工基本养老保险人数'] = combine_df['城镇职工基本养老保险人数'].fillna(
    combine_df['城镇职工基本养老保险人数'].mean())
combine_df['保险实缴/人数'] = combine_df['合计']/combine_df['城镇职工基本养老保险人数']
combine_df['基数/人数'] = combine_df['单位参加城镇职工基本养老保险缴费基数'] / \
    combine_df['城镇职工基本养老保险人数']
combine_df['保险实缴/人数'] = combine_df['保险实缴/人数'].replace(np.inf, np.nan)
combine_df['保险实缴/人数'] = combine_df['保险实缴/人数'].replace(0.0, np.nan)
combine_df['基数/人数'] = combine_df['基数/人数'].replace(np.inf, np.nan)
combine_df['基数/人数'] = combine_df['基数/人数'].replace(0.0, np.nan)
combine_df = combine_df.drop(['单位参加城镇职工基本养老保险缴费基数', '参加城镇职工基本养老保险本期实际缴费金额',
                              '参加失业保险本期实际缴费金额', '参加职工基本医疗保险本期实际缴费金额', '参加工伤保险本期实际缴费金额',
                              '参加生育保险本期实际缴费金额', '合计'], axis=1)
combine_df.head(n=10)

In [ ]:
combine_df['保险实缴/人数'].describe()

In [ ]:
combine_df['基数/人数'].describe()

In [ ]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1
    fence_low = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] > fence_low) &
                       (df_in[col_name] < fence_high)]
    return df_out

In [ ]:
combine_df_rm_outlier = remove_outlier(combine_df, '保险实缴/人数')
combine_df_rm_outlier = remove_outlier(combine_df_rm_outlier, '基数/人数')
combine_df_rm_outlier['企业编号'] = combine_df_rm_outlier.index
combine_df_rm_outlier = combine_df_rm_outlier.set_index(
    np.arange(0, len(combine_df_rm_outlier)))
combine_df_rm_outlier.head(n=5)

In [ ]:
combine_df_rm_outlier['保险实缴/人数'].describe()

In [ ]:
combine_df_rm_outlier['基数/人数'].describe()

In [ ]:
combine_df_rm_outlier = combine_df_rm_outlier.drop_duplicates()
merge_shebao = df_base.merge(
    combine_df_rm_outlier, how='left', on='企业编号')
merge_shebao['城镇职工基本养老保险人数'] = merge_shebao['城镇职工基本养老保险人数'].fillna(
    merge_shebao['城镇职工基本养老保险人数'].mean()).astype(int)
merge_shebao['保险实缴/人数'] = merge_shebao['保险实缴/人数'].fillna(
    merge_shebao['保险实缴/人数'].mean())
merge_shebao['基数/人数'] = merge_shebao['基数/人数'].fillna(
    merge_shebao['基数/人数'].mean())
res['社保信息'] = merge_shebao

# Check Point

In [ ]:
feature_count = 0
for k, v in res.items():
    print(k, len(v.columns))
    feature_count += (len(v.columns)-1)
print('total: ', feature_count)

# Combine all

In [ ]:
noFinacialFeatures = df_base
for k, v in res.items():
    print(k)
    noFinacialFeatures = noFinacialFeatures.merge(v, how='left', on='企业编号')

In [ ]:
noFinacialFeatures.head(n=5)

In [ ]:
noFinacialFeatures.info()

In [ ]:
noFinacialFeatures.describe()

In [ ]:
noFinacialFeatures.to_csv(r'../../Data/noFinacialFeatures.csv', index=False)