In [2]:
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import warnings
import time
from collections import Counter
warnings.filterwarnings("ignore")


plt.style.use("fivethirtyeight")

sns.set_style({'font.sans-serif': ['simsun', 'Arial']})
sns.set_style('darkgrid', {'font.sans-serif': ['simhei', 'Arial']})
%matplotlib inline
current_date = pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time())))

res = {}
data_path = r'../../Data/CompInfo/'
current_date

Timestamp('2019-04-03 00:00:00')

# 企业得分

In [3]:
df_rating_copy = pd.read_excel(data_path+r'企业评分.xlsx')

In [4]:
df_rating = df_rating_copy.copy()
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2995 entries, 0 to 2994
Data columns (total 2 columns):
企业编号     2995 non-null int64
企业总评分    2995 non-null float64
dtypes: float64(1), int64(1)
memory usage: 46.9 KB

In [5]:
df_rating = df_rating.drop_duplicates()
res['企业得分'] = df_rating

# 软著著作权

In [6]:
df_soft_bpk = pd.read_excel(data_path+r'软著著作权.xlsx')
df_soft = df_soft_bpk.copy()

In [7]:
df_soft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36858 entries, 0 to 36857
Data columns (total 4 columns):
企业编号           36858 non-null int64
软件全称           36858 non-null object
软件著作权版本号       30878 non-null object
软件著作权登记批准日期    36818 non-null object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [8]:
new_df_soft = pd.DataFrame(df_soft['企业编号'].value_counts())
new_df_soft.columns = ['软著数量']
new_df_soft['企业编号'] = new_df_soft.index
new_df_soft.sort_values(by=['企业编号'], inplace=True)
new_df_soft = new_df_soft[['企业编号', '软著数量']]
new_df_soft = new_df_soft.set_index(np.arange(0, len(new_df_soft)))
res['软著著作权'] = new_df_soft

# 作品著作

In [9]:
df_zuopin_bpk = pd.read_excel(data_path+r'作品著作权.xlsx')
df_zuopin = df_zuopin_bpk.copy()

In [10]:
df_zuopin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33555 entries, 0 to 33554
Data columns (total 5 columns):
企业编号           33555 non-null int64
作品著作权类别        33379 non-null object
作品著作权登记日期      33178 non-null object
作品著作权创作完成日期    32177 non-null object
作品著作权首次发布日期    22118 non-null object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB

In [11]:
df_zuopin = df_zuopin_bpk.copy()

In [12]:
new_df_zuopin = pd.DataFrame(df_zuopin['企业编号'].value_counts())
new_df_zuopin.columns = ['作品著作数量']
new_df_zuopin['企业编号'] = new_df_zuopin.index
new_df_zuopin.sort_values(by=['企业编号'], inplace=True)
new_df_zuopin = new_df_zuopin[['企业编号', '作品著作数量']]
new_df_zuopin = new_df_zuopin.set_index(np.arange(0, len(new_df_zuopin)))

In [13]:
# merge_zhuzuo_zuopin = (pd.merge(new_df_soft, new_df_zuopin,
#                                 on='企业编号', how='outer')).fillna(0).astype(int)
res['作品著作'] = new_df_zuopin

# 项目信息

In [14]:
df_project_bkp = pd.read_excel(data_path+r'项目信息.xlsx')
df_project = df_project_bkp.copy()

In [15]:
df_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054 entries, 0 to 3053
Data columns (total 7 columns):
企业编号      3054 non-null int64
行业        170 non-null object
标签        3047 non-null object
企业规模      168 non-null object
运营状态      2934 non-null object
简介        3026 non-null object
项目成立时间    2876 non-null object
dtypes: int64(1), object(6)
memory usage: 167.1+ KB

In [16]:
df_project['运营状态'].value_counts()

运营中    2932
融资中       2
Name: 运营状态, dtype: int64

In [17]:
new_df_project = pd.DataFrame(
    df_project.loc[(df_project['运营状态'] == '运营中'), '企业编号'].value_counts())
new_df_project.columns = ['项目数量']
new_df_project['企业编号'] = new_df_project.index
new_df_project.sort_values(by=['企业编号'], inplace=True)
new_df_project = new_df_project[['企业编号', '项目数量']]
new_df_project = new_df_project.set_index(np.arange(0, len(new_df_project)))
# new_df_project.head(n=20)

In [18]:
# merge_zhuzuo_zuopin_project = (pd.merge(merge_zhuzuo_zuopin, new_df_project,
#                                         on='企业编号', how='outer')).fillna(0).astype(int)
res['项目信息'] = new_df_project

# 纳税A级年份

In [19]:
df_nashuiyear_bkp = pd.read_excel(data_path+r'纳税A级年份.xlsx')
df_nashuiyear = df_nashuiyear_bkp.copy()

In [20]:
df_nashuiyear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 2 columns):
企业编号      7927 non-null int64
纳税A级年份    7927 non-null int64
dtypes: int64(2)
memory usage: 123.9 KB

In [21]:
df_nashuiyear['纳税A级年份'].value_counts()

2016    2380
2017    1978
2015    1858
2014    1711
Name: 纳税A级年份, dtype: int64

In [22]:
new_df_nashuiyear = df_nashuiyear.groupby(['企业编号', '纳税A级年份'])[
    '纳税A级年份'].count().unstack()

new_df_nashuiyear['企业编号'] = new_df_nashuiyear.index
new_df_nashuiyear = new_df_nashuiyear[['企业编号', 2014, 2015, 2016, 2017]]
columns = {'企业编号': '企业编号', 2014: '纳税A级年份_2014', 2015: '纳税A级年份_2015',
           2016: '纳税A级年份_2016', 2017: '纳税A级年份_2017'}
columns = ['企业编号', '纳税A级年份_2014', '纳税A级年份_2015', '纳税A级年份_2016', '纳税A级年份_2017']
# new_df_nashuiyear.rename(columns, inplace=True)
new_df_nashuiyear.columns = columns
new_df_nashuiyear = new_df_nashuiyear.set_index(
    np.arange(0, len(new_df_nashuiyear))).fillna(0).astype(int)
# new_df_nashuiyear.head(n=5)

In [23]:
# merge_zhuzuo_zuopin_project_nashui = (pd.merge(merge_zhuzuo_zuopin_project, new_df_nashuiyear,
#                                                on='企业编号', how='outer')).fillna(0).astype(int)
res['纳税A级年份'] = new_df_nashuiyear

# 资质认证

In [24]:
df_zizhi_bkp = pd.read_excel(data_path+r'资质认证.xlsx')

In [25]:
df_zizhi = df_zizhi_bkp.copy()
df_zizhi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169898 entries, 0 to 169897
Data columns (total 5 columns):
企业编号       169898 non-null int64
证书名称       169898 non-null object
有效期起止日期    161662 non-null object
有效期截至日期    124035 non-null object
状态         148665 non-null object
dtypes: int64(1), object(4)
memory usage: 6.5+ MB

In [26]:
df_zizhi = df_zizhi_bkp.copy()
df_zizhi['状态'].value_counts()

有效           70917
已注销          28220
注销           15805
已撤销          12601
过期失效          9762
撤销            9719
暂停             580
已暂停            494
当前批件           238
已过期            212
延续              41
变更              23
正常              16
历史批件            14
旧版               7
注销(非申请)          5
新立               5
无效（依申请注销）        3
无效（逾期未换证）        2
证书注销             1
Name: 状态, dtype: int64

In [27]:
status = ['有效', '延续', '变更', '正常', '新立']
new_df_zizhi = df_zizhi.loc[(df_zizhi['有效期截至日期'].notnull())]
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['状态'].notnull())]
new_df_zizhi['有效期截至日期'] = pd.to_datetime(new_df_zizhi['有效期截至日期'])


# new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'].notnull())]
# df_zizhi = df_zizhi.loc[(df_zizhi['状态 '] == '有效')]

In [28]:
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'] > current_date)]
new_df_zizhi['状态'].value_counts()

有效      58972
已注销      3172
注销       2127
已撤销      1398
撤销       1128
已暂停       480
暂停        422
过期失效       45
延续         21
变更         18
正常         16
旧版          7
新立          4
证书注销        1
Name: 状态, dtype: int64

In [29]:
new_df_zizhi = new_df_zizhi.loc[(
    new_df_zizhi['状态'].str.contains('[有效|延续|变更|正常|新立]'))]
# new_df_zizhi.head(n=5)

In [30]:
new_df_zizhi_count = pd.DataFrame(new_df_zizhi['企业编号'].value_counts())
new_df_zizhi_count.columns = ['资质证书数量']
new_df_zizhi_count['企业编号'] = new_df_zizhi_count.index
new_df_zizhi_count.sort_values(by=['企业编号'], inplace=True)
# new_df_zizhi_count
new_df_zizhi_count = new_df_zizhi_count[['企业编号', '资质证书数量']]
new_df_zizhi_count = new_df_zizhi_count.set_index(
    np.arange(0, len(new_df_zizhi_count)))
new_df_zizhi_count.head(n=5)

   企业编号  资质证书数量
0  1001       9
1  1003     442
2  1004       1
3  1005       5
4  1006       6

In [31]:
# merge_zhuzuo_zuopin_project_nashui_zizhi = (pd.merge(merge_zhuzuo_zuopin_project_nashui, new_df_zizhi,
#                                                      on='企业编号', how='outer')).fillna(0).astype(int)
res['资质认证'] = new_df_zizhi

# 产品

In [32]:
df_product = pd.read_excel(data_path+r'产品.xlsx')
new_df_product = df_product.groupby(
    ['企业编号', '产品类型'])['产品类型'].count().unstack()

new_df_product['企业编号'] = new_df_product.index
columns = ['企业编号', 'android', 'ios', 'miniapp', 'website', 'wechat', 'weibo']
new_df_product = pd.DataFrame(new_df_product, columns=columns)
new_df_product = new_df_product.set_index(np.arange(0, len(new_df_product)))
# new_df_product.head(n=10)

In [33]:
# merge_zhuzuo_zuopin_project_nashui_zizhi_product = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi, new_df_product,
#                                                              on='企业编号', how='outer')).fillna(0).astype(int)
res['产品'] = new_df_product

# 专利

In [34]:
df_zhuanli = pd.read_excel(data_path+r'专利.xlsx')
df_zhuanli['专利类型'] = df_zhuanli['专利类型'].str.replace('更正', '', regex=True)

df_zhuanli['授权公告日'] = df_zhuanli['授权公告日'].str.replace(
    r'[^0-9\-]', '', regex=True)
df_zhuanli['申请日'] = df_zhuanli['申请日'].str.replace(r'[^0-9\-]', '', regex=True)

df_zhuanli['授权公告日'] = pd.to_datetime(df_zhuanli['授权公告日'])
df_zhuanli['申请日'] = pd.to_datetime(df_zhuanli['申请日'])

In [35]:
tmp1 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明专利')]
tmp1 = tmp1.loc[(abs(tmp1['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp2 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明公布')]
tmp2 = tmp2.loc[(abs(tmp2['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp3 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明授权')]
tmp3 = tmp3.loc[(abs(tmp3['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp4 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '外观设计')]
tmp4 = tmp4.loc[(abs(tmp4['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

tmp5 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '实用新型')]
tmp5 = tmp5.loc[(abs(tmp5['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

filter_df_zhuanli = pd.concat([tmp1, tmp2, tmp3, tmp4, tmp5])

In [36]:
filter_df_zhuanli = filter_df_zhuanli.drop(columns=['授权公告日', '申请日'])
new_df_zhuanli = filter_df_zhuanli.groupby(
    ['企业编号', '专利类型'])['专利类型'].count().unstack()
new_df_zhuanli['企业编号'] = new_df_zhuanli.index
columns = ['企业编号', '发明专利', '发明公布', '发明授权', '外观设计', '实用新型']
new_df_zhuanli = pd.DataFrame(new_df_zhuanli, columns=columns)
new_df_zhuanli = new_df_zhuanli.set_index(np.arange(0, len(new_df_zhuanli)))
# new_df_zhuanli.head(n=5)

In [37]:
# merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product, new_df_zhuanli,
#                                                                      on='企业编号', how='outer')).fillna(0).astype(int)
res['专利'] = new_df_zhuanli

# 竞品

In [38]:
df_jingpin_bkp = pd.read_excel(data_path+r'竞品.xlsx')

In [39]:
df_jingpin = df_jingpin_bkp.copy()
df_jingpin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33883 entries, 0 to 33882
Data columns (total 7 columns):
企业编号      33883 non-null int64
竞品的行业     2076 non-null object
竞品的标签     33875 non-null object
竞品轮次      23416 non-null object
竞品详细地址    31384 non-null object
竞品运营状态    31002 non-null object
竞品成立时间    31561 non-null object
dtypes: int64(1), object(6)
memory usage: 1.8+ MB

In [40]:
df_jingpin = df_jingpin.loc[(df_jingpin['竞品运营状态'] == '运营中')]
df_jingpin = df_jingpin.loc[(df_jingpin['竞品的标签'].notnull())]

In [41]:
new_df_jingpin = pd.DataFrame(df_jingpin['企业编号'].value_counts())
new_df_jingpin.columns = ['竞品数量']
new_df_jingpin['企业编号'] = new_df_jingpin.index
new_df_jingpin.sort_values(by=['企业编号'], inplace=True)
new_df_jingpin = new_df_jingpin[['企业编号', '竞品数量']]
new_df_jingpin = new_df_jingpin.set_index(np.arange(0, len(new_df_jingpin)))
# new_df_jingpin.head(n=20)

In [42]:
# merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli, new_df_jingpin,
#                                                                              on='企业编号', how='outer')).fillna(0).astype(int)
res['竞品'] = new_df_jingpin

# 海关进出口信用

In [43]:
df_haiguan_bkp = pd.read_excel(data_path+r'海关进出口信用.xlsx')

In [44]:
df_haiguan = df_haiguan_bkp.copy()

In [45]:
df_haiguan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 6 columns):
企业编号      2609 non-null int64
经济区划      2608 non-null object
经营类别      2607 non-null object
海关注销标志    1774 non-null object
年报情况      2609 non-null object
信用等级      1355 non-null object
dtypes: int64(1), object(5)
memory usage: 122.4+ KB

In [46]:
df_haiguan['经营类别'].value_counts()

进出口收发货人       2571
加工生产企业          20
报关企业             6
保税仓库             5
临时注册企业           3
进出口运输工具负责人       1
0000000001       1
Name: 经营类别, dtype: int64

In [47]:
df_haiguan['信用等级'].value_counts()

一般信用企业    913
一般认证企业    318
高级认证企业    123
失信企业        1
Name: 信用等级, dtype: int64

# 招投标

In [48]:
df_zhaotoubiao_bkp = pd.read_excel(data_path+r'招投标.xlsx')
df_zhaotoubiao = df_zhaotoubiao_bkp.copy()
df_zhaotoubiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158309 entries, 0 to 158308
Data columns (total 5 columns):
企业编号     158309 non-null int64
公告类型     146194 non-null object
中标或招标    158309 non-null object
省份       158309 non-null object
发布时间     158309 non-null object
dtypes: int64(1), object(4)
memory usage: 6.0+ MB

In [49]:
df_zhaotoubiao['中标或招标'].value_counts()

中标    139286
招标     19023
Name: 中标或招标, dtype: int64

In [50]:
df_zhaotoubiao['公告类型'].value_counts()

中标       110781
成交        17653
合同        11509
预告         2777
其它         1233
招标          984
废标          559
单一          210
流标          188
变更          145
询价           85
竞谈           23
拟建           18
验收           15
结果变更          8
公开招标          2
竞争性谈判         1
竞价            1
违规            1
其他            1
Name: 公告类型, dtype: int64

In [51]:
new_df_zhaotoubiao = df_zhaotoubiao.groupby(
    ['企业编号', '中标或招标'])['中标或招标'].count().unstack()


new_df_zhaotoubiao['企业编号'] = new_df_zhaotoubiao.index
new_df_zhaotoubiao = new_df_zhaotoubiao[['企业编号', '中标', '招标']]
new_df_zhaotoubiao = new_df_zhaotoubiao.set_index(
    np.arange(0, len(new_df_zhaotoubiao)))
new_df_zhaotoubiao = new_df_zhaotoubiao.drop(['招标'], axis=1)
new_df_zhaotoubiao.head(n=5)

中标或招标  企业编号    中标
0      1001  74.0
1      1002   8.0
2      1003  17.0
3      1004   NaN
4      1005  46.0

In [52]:
# merge_zhaotuobiao = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin, new_df_zhaotoubiao,
#                               on='企业编号', how='outer')).fillna(0)
res['招投标'] = new_df_zhaotoubiao

# 购地

In [53]:
df_goudi1_bkp = pd.read_excel(data_path+'购地-地块公示.xlsx')
df_goudi2_bkp = pd.read_excel(data_path+'购地-市场交易-土地转让.xlsx')
df_goudi3_bkp = pd.read_excel(data_path+'购地-房地产大企业购地情况.xlsx')
df_goudi4_bkp = pd.read_excel(data_path+'购地-房地产大地块出让情况.xlsx')
df_goudi5_bkp = pd.read_excel(data_path+'购地-市场交易-土地抵押.xlsx')
df_goudi6_bkp = pd.read_excel(data_path+'购地-结果公告.xlsx')
df_goudi1 = df_goudi1_bkp.copy()
df_goudi2 = df_goudi2_bkp.copy()
df_goudi3 = df_goudi3_bkp.copy()
df_goudi4 = df_goudi4_bkp.copy()
df_goudi5 = df_goudi5_bkp.copy()
df_goudi6 = df_goudi6_bkp.copy()
print(df_goudi1.info(), '\n地块公示')
print('=================')
print(df_goudi3.info(), '\n房地产大企业购地情况')
print('=================')
print(df_goudi2.info(), '\n市场交易-土地转让')
print('=================')
print(df_goudi4.info(), '\n房地产大地块出让情况')
print('=================')
print(df_goudi5.info(), '\n市场交易-土地抵押')
print('=================')
print(df_goudi6.info(), '\n结果公告')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20033 entries, 0 to 20032
Data columns (total 9 columns):
企业编号        20033 non-null int64
行政区         19993 non-null object
时间          20033 non-null object
公示日期        5046 non-null object
土地用途        20027 non-null object
土地面积（公顷）    20033 non-null float64
出让年限        3970 non-null object
成交价（万元）     4894 non-null float64
土地使用条件      2032 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 1.4+ MB
None
地块公示
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20033 entries, 0 to 20032
Data columns (total 11 columns):
企业编号         20033 non-null int64
行政区          19993 non-null object
签订日期         20033 non-null object
供地总面积（公顷）    20033 non-null float64
约定动工时间       1084 non-null object
土地用途         20027 non-null object
供应方式         1032 non-null object
最小容积率        513 non-null float64
最大容积率        517 non-null float64
成交价款（万元）     4894 non-null float64
约定竣工时间       631 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 1.7+ MB
None
房地产大企业购地情况
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 10 columns):
企业编号        33744 non-null int64
成交时间        33744 non-null object
土地面积(公顷)    33743 non-null float64
土地用途        33737 non-null object
土地使用年限      1331 non-null object
土地级别        1541 non-null object
土地使用权类型     1040 non-null object
土地利用状况      2125 non-null object
转让方式        1063 non-null object
转让价格(万元)    1063 non-null float64
dtypes: float64(2), int64(1), object(7)
memory usage: 2.6+ MB
None
市场交易-土地转让
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 10 columns):
企业编号        33744 non-null int64
签订日期        33744 non-null object
供地总面积       33743 non-null float64
约定动工时间      1089 non-null object
土地用途        33737 non-null object
供应方式        1039 non-null object
容积率下限       513 non-null float64
容积率上限       517 non-null float64
成交价款（万元）    5007 non-null float64
约定竣工时间      631 non-null object
dtypes: float64(4), int64(1), object(5)
memory usage: 2.6+ MB
None
房地产大地块出让情况
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 11 columns):
企业编号              33744 non-null int64
土地抵押人性质           24353 non-null object
抵押面积(公顷)          26410 non-null float64
土地用途              33737 non-null object
抵押土地用途            26403 non-null object
抵押土地权属性质与使用权类型    25843 non-null object
土地面积              33743 non-null float64
评估金额(万元)          25479 non-null float64
抵押金额(万元)          26387 non-null float64
土地抵押登记起始时间        33744 non-null object
土地抵押登记结束时间        26405 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 2.8+ MB
None
市场交易-土地抵押
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 18 columns):
企业编号        33744 non-null int64
总面积         33743 non-null float64
土地用途        33737 non-null object
供应方式        1039 non-null object
签订日期        33744 non-null object
土地来源        488 non-null object
土地使用年限      1331 non-null object
行业分类        486 non-null object
土地级别        1541 non-null object
成交价格（万元）    5007 non-null float64
约定容积率上限     325 non-null float64
约定容积率下限     345 non-null float64
约定交地时间      478 non-null object
约定开工时间      1089 non-null object
约定竣工时间      457 non-null object
实际开工时间      0 non-null float64
实际竣工时间      0 non-null float64
批准单位        477 non-null object
dtypes: float64(6), int64(1), object(11)
memory usage: 4.6+ MB
None
结果公告

In [54]:
print('地块公示 vs 房地产大企业购地情况:', df_goudi1['土地面积（公顷）'].equals(
    df_goudi3['供地总面积（公顷）']), df_goudi1['企业编号'].equals(
    df_goudi3['企业编号']))
print('市场交易-土地转让 vs 房地产大地块出让情况:',
      df_goudi2['土地面积(公顷)'].equals(df_goudi4['供地总面积']), df_goudi2['企业编号'].equals(df_goudi4['企业编号']))
print('市场交易-土地转让 vs 市场交易-土地抵押:',
      df_goudi2['土地面积(公顷)'].equals(df_goudi5['抵押面积(公顷)']), df_goudi2['企业编号'].equals(df_goudi5['企业编号']))
print('市场交易-土地转让 vs 结果公告:', df_goudi2['土地面积(公顷)'].equals(
    df_goudi6['总面积']), df_goudi2['企业编号'].equals(df_goudi6['企业编号']))

地块公示 vs 房地产大企业购地情况: True True
市场交易-土地转让 vs 房地产大地块出让情况: True True
市场交易-土地转让 vs 市场交易-土地抵押: False True
市场交易-土地转让 vs 结果公告: True True

In [55]:
df_goudi1['土地面积（公顷）'] = df_goudi1['土地面积（公顷）'].astype(float)
goudi_grouped = df_goudi1.groupby(['企业编号'])

agg_goudi_func = {
    '土地面积（公顷）': ['sum', 'min', 'max']
}
goudi_grouped_info = goudi_grouped.agg(agg_goudi_func)
goudi_grouped_info.columns = [
    '_'.join(col).strip() for col in goudi_grouped_info.columns.values]
goudi_grouped_info['企业编号'] = goudi_grouped_info.index
goudi_grouped_info = goudi_grouped_info.set_index(
    np.arange(0, len(goudi_grouped_info)))
goudi_grouped_info.head(n=3)
# drop goudi3

    土地面积（公顷）_sum  土地面积（公顷）_min  土地面积（公顷）_max  企业编号
0  158135.998846       0.00030   80001.80000  1001
1      55.668100       4.15927      41.40896  1003
2       4.000000       0.60000       3.40000  1004

In [56]:
df_jine = df_goudi5.loc[(df_goudi5['评估金额(万元)'].notnull())]

df_jine['评估金额(亿元)'] = df_jine['评估金额(万元)'].astype(float)/10000
goudi_grouped_jine = df_jine.groupby(['企业编号'])

agg_goudi_func = {
    '评估金额(亿元)': ['sum', 'max']
}
goudi_grouped_jine_info = goudi_grouped_jine.agg(agg_goudi_func)
goudi_grouped_jine_info.columns = [
    '_'.join(col).strip() for col in goudi_grouped_jine_info.columns.values]
goudi_grouped_jine_info['企业编号'] = goudi_grouped_jine_info.index
goudi_grouped_jine_info = goudi_grouped_jine_info.set_index(
    np.arange(0, len(goudi_grouped_jine_info)))
goudi_grouped_jine_info.head(n=3)

   评估金额(亿元)_sum  评估金额(亿元)_max  企业编号
0  54454.534553  16793.953500  1001
1   1072.827287    304.009500  1010
2   1831.685186     40.403526  1011

In [57]:
merge_goudi = goudi_grouped_info.merge(
    goudi_grouped_jine_info, how='outer', on='企业编号')
merge_goudi['土地面积评估均值(公顷/亿元)'] = (merge_goudi['土地面积（公顷）_sum'] /
                                  merge_goudi['评估金额(亿元)_sum']).replace(np.inf, np.nan)
cols = ['企业编号', '土地面积（公顷）_sum', '土地面积（公顷）_min', '土地面积（公顷）_max',
        '评估金额(亿元)_sum', '评估金额(亿元)_max', '土地面积评估均值(公顷/亿元)']
merge_goudi = merge_goudi[cols]

diyacishu = pd.DataFrame()
diyacishu['抵押次数'] = df_goudi5.loc[(df_goudi5['评估金额(万元)'].notnull())].groupby(['企业编号'])[
    '企业编号'].count()

goudicishu = pd.DataFrame()
goudicishu['购地次数'] = df_goudi1.loc[(df_goudi1['土地面积（公顷）'].notnull())].groupby(['企业编号'])[
    '企业编号'].count()
goudicishu = goudicishu.merge(
    diyacishu, how='outer', on='企业编号')
merge_goudi = merge_goudi.merge(goudicishu, how='outer', on='企业编号')
merge_goudi.columns = ['企业编号', '企业购地面积（公顷）_sum', '企业购地面积（公顷）_min', '企业购地面积（公顷）_max',
                       '土地评估金额(亿元)_sum', '土地评估金额(亿元)_max', '土地面积评估均值(公顷/亿元)', '购地次数', '抵押次数']
merge_goudi.head(n=5)

,企业编号,企业购地面积（公顷）_sum,企业购地面积（公顷）_min,企业购地面积（公顷）_max,土地评估金额(亿元)_sum,土地评估金额(亿元)_max,土地面积评估均值(公顷/亿元),购地次数,抵押次数
0,1001,158135.998846,0.00030,80001.80000,54454.534553,16793.9535,2.904001,1671.0,1528.0
1,1003,55.668100,4.15927,41.40896,NaN,NaN,NaN,3.0,NaN
2,1004,4.000000,0.60000,3.40000,NaN,NaN,NaN,2.0,NaN
3,1005,2.935250,2.93525,2.93525,NaN,NaN,NaN,1.0,NaN
4,1007,230.110791,30.49280,66.66667,NaN,NaN,NaN,4.0,NaN

In [58]:
merge_goudi.info()
# df_goudi5_bkp['企业编号'].value_counts()
df_goudi5_bkp.loc[(df_goudi5_bkp['评估金额(万元)'].notnull())]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1317 entries, 0 to 1316
Data columns (total 9 columns):
企业编号               1317 non-null int64
企业购地面积（公顷）_sum     1316 non-null float64
企业购地面积（公顷）_min     1316 non-null float64
企业购地面积（公顷）_max     1316 non-null float64
土地评估金额(亿元)_sum     216 non-null float64
土地评估金额(亿元)_max     216 non-null float64
土地面积评估均值(公顷/亿元)    211 non-null float64
购地次数               1316 non-null float64
抵押次数               216 non-null float64
dtypes: float64(8), int64(1)
memory usage: 102.9 KB

,企业编号,土地抵押人性质,抵押面积(公顷),土地用途,抵押土地用途,抵押土地权属性质与使用权类型,土地面积,评估金额(万元),抵押金额(万元),土地抵押登记起始时间,土地抵押登记结束时间
7,1001,有限公司,10.8261,工业用地,工业用地,国有出让,10.8261,2921.0000,1200.0000,2007-06-25 14:39:37,2008-06-25 14:39:37
8,1001,有限公司,3.2054,工业用地,工业用地,国有出让,3.2054,847.6500,400.0000,2007-08-17 14:48:15,2009-04-23 14:48:15
9,1001,企业,6.5283,住宅用地,住宅用地,国有,6.5283,9990.9100,4995.4550,2008-01-11 20:26:58,2011-12-11 20:26:58
10,1001,NaN,3.8533,其他普通商品住房用地,其他普通商品住房用地,出让地,3.8533,19386.0000,2516.0000,2008-04-03 11:14:03,2010-10-26 11:14:03
11,1001,股份制,3.7990,工矿仓储用地,工矿仓储用地,出让,3.7990,11049.0000,8850.0000,2008-04-25 09:35:17,2009-09-30 09:35:17
12,1001,股份制,2.6640,工业用地,工业用地,国有,2.6640,858.6100,429.3500,2008-07-24 16:54:48,2011-07-24 16:54:48
13,1001,有限公司,2.6911,工业用地,工业用地,国有出让,2.6911,2871.0000,1000.0000,2008-07-28 15:16:34,2010-07-29 15:16:34
14,1001,有限公司,1.0826,工业用地,工业用地,国有出让,1.0826,3172.0000,1500.0000,2008-07-29 15:17:11,2010-07-29 15:17:11
15,1001,NaN,0.1758,住宅用地,住宅用地,NaN,0.1758,282.0000,160.0000,2008-09-16 08:36:26,2011-09-16 08:36:26
16,1001,NaN,0.4633,住宅用地,住宅用地,NaN,0.4633,744.0000,410.0000,2008-09-16 10:45:23,2011-09-16 10:45:23
17,1001,NaN,1.2120,商务金融用地,商务金融用地,NaN,1.2120,1945.0000,1080.0000,2008-09-16 15:38:18,2011-09-16 15:38:18
18,1001,NaN,1.2929,商服用地,商服用地,NaN,1.2929,2075.0000,1150.0000,2008-09-16 17:05:48,2011-09-16 17:05:48
19,1001,有限公司,3.9700,工业用地,工业用地,国有土地使用权、出让,3.9700,587.0400,400.0000,2008-09-27 10:44:13,2009-09-26 10:44:13
20,1001,外资,1.2450,05,05,出让,1.2450,260498.6500,90000.0000,2008-10-23,2018-10-21
21,1001,有限责任公司,1.5867,工矿仓储用地,工矿仓储用地,国有出让,1.5867,476.0100,230.0000,2008-11-04 14:46:20,2011-11-03 14:46:20
22,1001,NaN,0.5898,其他商服用地,其他商服用地,国有,0.5898,1291.3793,600.0000,2008-11-10 08:34:43,2009-11-10 08:34:43
23,1001,集体股份合作制,0.3880,商服用地,商服用地,国有出让,0.3880,351.7104,100.0000,2008-11-26 17:32:04,2011-11-25 17:32:04
24,1001,个人,0.0010,住宅用地,住宅用地,国有土地使用权、划拨,0.0010,26.2900,13.0000,2008-11-27 17:04:01,2013-11-27 17:04:01
25,1001,个人,0.0009,住宅用地,住宅用地,国有土地使用权、划拨,0.0009,25.7400,10.0000,2008-12-01 17:20:12,2013-12-01 17:20:12
26,1001,个体工商户,0.0010,住宅用地,住宅用地,国有土地使用权、划拨,0.0010,33.5200,15.0000,2008-12-04 14:02:08,2013-12-04 14:02:08
27,1001,个人,0.0013,住宅用地,住宅用地,国有土地使用权、划拨,0.0013,50.4800,30.0000,2008-12-10 12:45:19,2018-12-10 12:45:19
28,1001,个人,0.0071,住宅用地,住宅用地,国有土地使用权、划拨,0.0071,438.9300,219.0000,2008-12-10 17:02:50,2018-12-10 17:02:50
29,1001,个人,0.0016,住宅用地,住宅用地,国有土地使用权、划拨,0.0016,64.5000,32.0000,2008-12-11 15:52:19,2018-12-11 15:52:19
30,1001,个人,0.0015,住宅用地,住宅用地,国有土地使用权、划拨,0.0015,50.2700,30.0000,2008-12-16 15:24:50,2018-12-26 15:24:50
31,1001,个人,0.0005,住宅用地,住宅用地,国有土地使用权、划拨,0.0005,48.6100,19.0000,2008-12-17 15:07:47,2013-12-17 15:07:47
32,1001,个人,0.0015,住宅用地,住宅用地,国有土地使用权、划拨,0.0015,56.1200,28.0000,2008-12-18 15:18:42,2016-12-18 15:18:42
33,1001,个人,0.0034,住宅用地,住宅用地,国有土地使用权、划拨,0.0034,201.9300,100.0000,2008-12-19 15:10:27,2009-12-19 15:10:27
34,1001,个人,0.0012,住宅用地,住宅用地,国有土地使用权、划拨,0.0012,25.1600,5.0000,2008-12-20 15:11:38,2011-12-20 15:11:38
35,1001,个人,0.0015,住宅用地,住宅用地,国有土地使用权、划拨,0.0015,50.3700,30.0000,2008-12-22 12:46:50,2016-12-22 12:46:50
36,1001,有限责任公司,0.6753,工矿仓储用地,工矿仓储用地,国有出让,0.6753,451.0000,220.0000,2008-12-23 14:41:06,2009-12-23 14:41:06
...,...,...,...,...,...,...,...,...,...,...,...
33572,3787,股份制,0.5507,工业用地,工业用地,出让,0.5507,155.3000,74.0000,2011-04-19,2012-04-18
33573,3787,有限责任公司,8.5000,工业用地,工业用地,国有土地使用权、出让,8.5000,1462.0000,730.0000,2011-10-11,2013-10-09
33606,3830,其他,0.0271,其他商服用地,其他商服用地,出让,0.0271,1000.0000,1000.0000,2008-12-08 13:49:25,2009-12-08 13:49:25
33609,3834,股份制,2.0969,工业用地,工业用地,出让,2.0969,1040.6000,574.2000,2012-07-17,2013-06-25
33620,3852,股份制,0.0600,商服用地,商服用地,国有 出让,2.1100,0.7500,0.5400,2012-10-15,2015-10-14
33626,3865,股份制,3.9600,工业用地,工业用地,出让,3.9600,3352.1000,1500.0000,2010-04-09,2011-04-08
33631,3878,个人,8.4749,061,061,国有；出让,8.4749,4858.6619,1500.0000,2010-03-17,2011-03-08
33645,3899,有限公司,8.2667,工业用地,工业用地,出让,8.2667,1432.0000,1000.0000,2010-04-01,2013-04-01
33648,3909,有限责任公司,2.7600,工业用地,工业用地,国有 出让,2.7600,4132.9900,2450.0000,2009-09-28,2012-09-27
33649,3909,有限责任公司,0.5300,工业用地,工业用地,国有 出让,0.5300,759.7300,350.0000,2010-03-31,2013-03-30
33656,3914,NaN,13.6843,工矿仓储用地,工矿仓储用地,出让,13.6843,2734.3695,2520.0000,2009-12-09,2012-12-09
33675,3929,公司,2.0479,工业用地,工业用地,国有,2.0479,1509.0660,750.0000,2009-12-03,2010-04-02
33676,3929,公司,1.6875,工业用地,工业用地,出让国有土地,1.6875,1231.8509,615.9300,2009-12-09,2010-12-08
33677,3929,公司,2.6408,工业用地,工业用地,出让国有土地,2.6408,1927.7840,963.8920,2009-12-09,2010-12-08
33679,3929,公司,2.6520,工业用地,工业用地,国有建设用地,2.6520,575.4840,279.0000,2010-02-04,2011-02-03
33680,3929,公司,9.1328,工业用地,工业用地,出让国有土地,9.1328,4932.0000,1747.6400,2010-02-09,2011-02-08
33681,3929,NaN,2.0479,工业用地,工业用地,出让国有土地,2.0479,1535.9130,900.0000,2010-06-02,2011-06-01
33682,3929,NaN,4.2390,工业用地,工业用地,出让国有土地,4.2390,3142.7098,900.0000,2010-06-21,2011-06-20
33685,3931,有限公司,8.3695,工业用地,工业用地,国有出让,8.3695,4151.2600,1000.0000,2009-08-27,2011-08-26
33689,3938,股份制,6.0569,工矿仓储用地,工矿仓储用地,国有土地使用权、出让,6.0569,3375.0985,3375.0985,2009-05-18 13:54:26,2009-05-27 13:54:26
33700,3956,股份制,1.2400,商务金融用地,商务金融用地,国有 出让,1.8700,1.0500,2.5000,2014-01-22,2022-01-22
33718,3975,有限公司,8.1791,工业用地,工业用地,国有出让土地,8.1791,1330.9000,773.0000,2010-09-21,2015-12-04
33719,3975,有限公司,7.1386,工业用地,工业用地,国有出让土地,7.5849,1988.2500,1126.0000,2010-09-21,2015-12-04
33720,3975,有限公司,15.2120,工业用地,工业用地,国有出让土地,15.2120,3669.9700,2218.0000,2010-09-21,2015-12-04
33721,3975,有限公司,7.3100,工业用地,工业用地,国有出让土地,7.3100,1785.0300,1066.0000,2010-09-21,2015-12-04
33733,3989,股份制,2.7500,工矿仓储用地,工矿仓储用地,出让,2.7500,4330.0000,3500.0000,2009-05-06 09:12:55,2010-01-19 09:12:55
33735,3993,私营,0.6704,工业用地,工业用地,国有出让,0.6704,4197.5000,1100.0000,2009-09-22,2010-07-22
33736,3993,私营,3.6690,工业用地,工业用地,国有出让,3.6690,7826.0300,5450.0000,2010-04-29,2015-05-04
33737,3993,股份,3.0183,工业用地,工业用地,国有出让,3.0183,6949.8300,3050.0000,2010-09-15,2015-05-04
33741,3998,国有,0.6700,采矿用地,采矿用地,出让,0.6700,400.0000,400.0000,2007-09-20,2010-09-20

In [59]:
res['企业购地'] = merge_goudi

# 年报-对外投资信息

In [60]:
df_nianbao_touzi_bkp = pd.read_excel(data_path+r'年报-对外投资信息.xlsx')
df_nianbao_touzi = df_nianbao_touzi_bkp.copy()
df_nianbao_touzi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93369 entries, 0 to 93368
Data columns (total 4 columns):
企业编号    93369 non-null int64
投资金额    1456 non-null float64
投资占比    1456 non-null float64
年报年份    93367 non-null float64
dtypes: float64(3), int64(1)
memory usage: 2.8 MB

In [61]:
df_nianbao_touzi_clean = df_nianbao_touzi.loc[(
    df_nianbao_touzi['投资金额'].notnull())]

agg_func = {
    '投资金额': ['sum', 'min', 'max'],
    '企业编号': ['count']
}
df_nianbao_touzi_group = df_nianbao_touzi_clean.groupby(
    ['企业编号']).agg(agg_func)
df_nianbao_touzi_group.columns = [
    '_'.join(col).strip() for col in df_nianbao_touzi_group.columns.values]
df_nianbao_touzi_group['企业编号'] = df_nianbao_touzi_group.index
df_nianbao_touzi_group.rename(columns={'企业编号_count': '投资次数'}, inplace=True)
df_nianbao_touzi_group.head(n=2)

        投资金额_sum  投资金额_min    投资金额_max  投资次数  企业编号
企业编号
1028  3703345.70   11600.0  3208193.70     7  1028
1134   170384.71       3.0    25505.71    56  1134

In [62]:
res['年报-对外投资信息'] = df_nianbao_touzi_group

# 年报-股东股权转让

In [63]:
df_nianbao_gudongguquanzhuanrang_bkp = pd.read_excel(
    data_path+r'年报-股东股权转让.xlsx')

In [64]:
df_nianbao_gudongguquanzhuanrang = df_nianbao_gudongguquanzhuanrang_bkp.copy()
df_nianbao_gudongguquanzhuanrang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6855 entries, 0 to 6854
Data columns (total 5 columns):
企业编号       6855 non-null int64
变更前股权比例    5010 non-null object
变更后股权比例    5015 non-null object
股权变更日期     5022 non-null object
年报年份       6849 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 267.9+ KB

In [65]:
df_nianbao_gudongguquanzhuanrang['变更前股权比例'] = df_nianbao_gudongguquanzhuanrang['变更前股权比例'].str.rstrip(
    '%').astype(float)
df_nianbao_gudongguquanzhuanrang_clean = df_nianbao_gudongguquanzhuanrang.loc[(
    df_nianbao_gudongguquanzhuanrang['变更后股权比例'].notnull())]
df_nianbao_gudongguquanzhuanrang_clean['变更后股权比例'] = df_nianbao_gudongguquanzhuanrang_clean[~df_nianbao_gudongguquanzhuanrang_clean["变更后股权比例"].str.contains(
    '-')]['变更后股权比例'].str.rstrip('%').astype(float)

df_nianbao_gudongguquanzhuanrang_clean['变更股权比例差'] = df_nianbao_gudongguquanzhuanrang_clean['变更后股权比例'] - \
    df_nianbao_gudongguquanzhuanrang_clean['变更前股权比例']
# df_nianbao_gudongguquanzhuanrang_clean.head(n=3)
agg_func = {
    '变更股权比例差': ['sum', 'max', 'min'],
    '变更前股权比例': ['sum'],
    '变更后股权比例': ['sum'],
    '企业编号': ['count']
}
df_nianbao_gudongguquanzhuanrang_clean_new = df_nianbao_gudongguquanzhuanrang_clean.groupby([
                                                                                            '企业编号']).agg(agg_func)
df_nianbao_gudongguquanzhuanrang_clean_new.columns = [
    '_'.join(col) for col in df_nianbao_gudongguquanzhuanrang_clean_new.columns.values]
df_nianbao_gudongguquanzhuanrang_clean_new.columns = [
    '变更股权比例差_sum', '变更股权比例差_max', '变更股权比例差_min', '变更前股权比例_sum', '变更后股权比例_sum', '变更次数']
df_nianbao_gudongguquanzhuanrang_clean_new['企业编号'] = df_nianbao_gudongguquanzhuanrang_clean_new.index
df_nianbao_gudongguquanzhuanrang_clean_new.head(n=3)

,变更股权比例差_sum,变更股权比例差_max,变更股权比例差_min,变更前股权比例_sum,变更后股权比例_sum,变更次数,企业编号
企业编号,,,,,,,
1001,5.24,2.60,-0.80,90.35,95.59,11,1001
1002,-10.91,-10.91,-10.91,61.96,51.05,1,1002
1013,-13.89,1.11,-15.00,43.90,30.01,2,1013

In [66]:
res['年报-股东股权转让'] = df_nianbao_gudongguquanzhuanrang_clean_new

# 工商基本信息表

In [67]:
df_gongshangxinxi_bkp = pd.read_excel(data_path+r'工商基本信息表.xlsx')

In [68]:
df_gongshangxinxi = df_gongshangxinxi_bkp.copy()
df_gongshangxinxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 19 columns):
企业编号          3000 non-null int64
注册资本（万元）      3000 non-null float64
注册资本币种(正则)    3000 non-null object
成立日期          3000 non-null object
经营状态          3000 non-null object
行业大类（代码）      2999 non-null object
行业小类（代码）      2999 non-null object
类型            3000 non-null object
省份代码          3000 non-null int64
城市代码          3000 non-null int64
地区代码          3000 non-null int64
是否上市          3000 non-null object
经营期限自         2987 non-null object
经营期限至         521 non-null object
登记机关区域代码      2992 non-null float64
发照日期          2979 non-null object
员工人数          2986 non-null float64
注销原因          227 non-null object
注销时间          1 non-null object
dtypes: float64(3), int64(4), object(12)
memory usage: 445.4+ KB

In [69]:
df_gongshangxinxi['经营状态'].value_counts()

存续（在营、开业、在册）    1762
在营（开业）企业         401
存续               362
开业               343
在业                63
存续(在营、开业、在册)      48
迁出                21
Name: 经营状态, dtype: int64

In [70]:
df_gongshangxinxi['经营状态'] = df_gongshangxinxi['经营状态'].str.replace(
    '存续（在营、开业、在册）', '开业')
df_gongshangxinxi['经营状态'] = df_gongshangxinxi['经营状态'].str.replace(
    '在业', '开业')
df_gongshangxinxi['经营状态'] = df_gongshangxinxi['经营状态'].str.replace(
    '在营（开业）企业', '开业')
df_gongshangxinxi['经营状态'].value_counts()

开业              2569
存续               362
存续(在营、开业、在册)      48
迁出                21
Name: 经营状态, dtype: int64

In [71]:
zhuangtai = df_gongshangxinxi.groupby(['企业编号', '经营状态'])[
    '经营状态'].count().unstack().fillna(0).astype(int)
zhuangtai['企业编号'] = zhuangtai.index
zhuangtai['开业'] = zhuangtai['存续']+zhuangtai['存续(在营、开业、在册)']+zhuangtai['开业']
zhuangtai = pd.DataFrame(
    {'企业编号': zhuangtai['企业编号'], '经营状态_开业': zhuangtai['开业'], '经营状态_迁出': zhuangtai['迁出']})
res['经营状态'] = zhuangtai

In [72]:
df_hangye = df_gongshangxinxi.groupby(['企业编号', '行业大类（代码）'])[
    '行业大类（代码）'].count().unstack().fillna(0).astype(int)
df_hangye.columns = ['行业大类_'+col for col in df_hangye.columns.values]
df_hangye['企业编号'] = df_hangye.index
res['行业大类'] = df_hangye

In [73]:
df_gongshangxinxi['是否上市'] = df_gongshangxinxi['是否上市'].str.replace('Y', '1')
df_gongshangxinxi['是否上市'] = df_gongshangxinxi['是否上市'].str.replace('N', '0')
df_gongshangxinxi['是否上市'] = df_gongshangxinxi['是否上市'].astype(int)

In [74]:
df_gongshangxinxi.loc[df_gongshangxinxi['注册资本币种(正则)'] == '美元', [
    '注册资本（万元）']] = df_gongshangxinxi.loc[df_gongshangxinxi['注册资本币种(正则)'] == '美元', ['注册资本（万元）']]*8.2777
df_gongshangxinxi.loc[df_gongshangxinxi['注册资本币种(正则)'] == '美元']

,企业编号,注册资本（万元）,注册资本币种(正则),成立日期,经营状态,行业大类（代码）,行业小类（代码）,类型,省份代码,城市代码,地区代码,是否上市,经营期限自,经营期限至,登记机关区域代码,发照日期,员工人数,注销原因,注销时间
1309,2310,17.429525,美元,2000-05-15,开业,C,29,外企,44,4406,440600,1,2000-05-15,2015-05-14,440600.0,2008-05-19,14.0,NaN,NaN

In [75]:
temp = pd.DataFrame({'企业编号': df_gongshangxinxi['企业编号'],
                     '注册资本（万元）': df_gongshangxinxi['注册资本（万元）'],
                     '是否上市': df_gongshangxinxi['是否上市']})
res['merge_注册资本_是否上市'] = temp

In [76]:
df_gongshangxinxi['成立日期'] = pd.to_datetime(df_gongshangxinxi['成立日期'])
df_gongshangxinxi['成立年数'] = round(abs(df_gongshangxinxi['成立日期'].sub(
    current_date, axis=0).dt.days)/365).astype(int)
df_gongshangxinxi.head(n=3)

,企业编号,注册资本（万元）,注册资本币种(正则),成立日期,经营状态,行业大类（代码）,行业小类（代码）,类型,省份代码,城市代码,地区代码,是否上市,经营期限自,经营期限至,登记机关区域代码,发照日期,员工人数,注销原因,注销时间,成立年数
0,1001,746.138857,人民币,1992-10-19,开业,J,66,民营,31,3100,310000,1,1992-10-19,NaN,310100.0,1992-10-19,19.0,NaN,NaN,26
1,1002,82.772800,人民币,2000-09-19,开业,O,80,民营,44,4400,440000,1,2000-09-19,NaN,440000.0,2017-12-21,12.0,NaN,NaN,19
2,1003,80.000000,人民币,1999-07-21,开业,C,36,民营,42,4200,420000,1,1999-07-21,NaN,420000.0,2018-10-22,11.0,NaN,NaN,20

In [77]:
df_gongshangxinxi['是否注销'] = df_gongshangxinxi['注销原因'].fillna(0)
df_gongshangxinxi.loc[(df_gongshangxinxi['注销原因'].notnull()), '是否注销'] = 1

In [78]:
waiqi = df_gongshangxinxi.groupby(['企业编号', '类型'])[
    '类型'].count().unstack().fillna(0).astype(int)
waiqi['企业编号'] = waiqi.index
res['merge_成立年数_是否注销_是否外企'] = pd.DataFrame({
    '是否注销': df_gongshangxinxi['是否注销'],
    '是否外企': waiqi['外企'],
    '企业编号': waiqi['企业编号'],
    '成立年数': df_gongshangxinxi['成立年数']
})

# 年报企业基本信息

In [79]:
df_qiyejiben_bkp = pd.read_excel(data_path+r'年报-企业基本信息.xlsx')

In [80]:
df_qiyejiben = df_qiyejiben_bkp.copy()
df_qiyejiben.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15056 entries, 0 to 15055
Data columns (total 10 columns):
企业编号                  15056 non-null int64
注册资本                  1750 non-null object
企业经营状态                14837 non-null object
从业人数                  14838 non-null object
是否有网站或网点              14838 non-null object
企业是否有投资信息或购买其他公司股权    14835 non-null object
有限责任公司本年度是否发生股东股权转    14836 non-null object
是否提供对外担保              14827 non-null object
发布日期                  15039 non-null object
年报年份                  15048 non-null float64
dtypes: float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [81]:
df_qiyejiben['企业经营状态'].value_counts()

开业         13590
正常开业         739
开业/正常经营      420
存续            64
其他            10
歇业             7
清算             6
停业             1
Name: 企业经营状态, dtype: int64

In [82]:
jingyingzhaungtai = df_qiyejiben.groupby(['企业编号', '企业经营状态'])[
    '企业经营状态'].count().unstack().fillna(0).astype(int)
jingyingzhaungtai['企业编号'] = jingyingzhaungtai.index
jingyingzhaungtai['开业'] = jingyingzhaungtai['开业'] + \
    jingyingzhaungtai['开业/正常经营'] + \
    jingyingzhaungtai['正常开业']+jingyingzhaungtai['存续']
res['企业基本信息经营状态'] = pd.DataFrame({
    '企业编号': jingyingzhaungtai['企业编号'],
    '停业': jingyingzhaungtai['停业'],
    '其他': jingyingzhaungtai['其他'],
    '开业': jingyingzhaungtai['开业'],
    '歇业': jingyingzhaungtai['歇业'],
    '清算': jingyingzhaungtai['清算'],
})

# 年报-的对外提供保证担保信息

In [83]:
df_duiwaidanbao_bkp = pd.read_excel(data_path+r'年报-的对外提供保证担保信息.xlsx')

In [84]:
df_duiwaidanbao = df_duiwaidanbao_bkp.copy()
df_duiwaidanbao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 8 columns):
企业编号       10875 non-null int64
主债权数额      8777 non-null object
保证担保的范围    594 non-null object
保证的期间      8751 non-null object
保证的方式      8754 non-null object
主债权种类      8746 non-null object
履行债务的期限    10864 non-null object
年报年份       10875 non-null int64
dtypes: int64(2), object(6)
memory usage: 679.8+ KB

In [85]:
tmpdf = pd.DataFrame()
tmpdf['担保次数'] = df_duiwaidanbao.groupby(['企业编号'])['企业编号'].count()
tmpdf['企业编号'] = tmpdf.index
res['企业担保次数'] = tmpdf

# 年报-网站或网点信息

In [86]:
df_wangzhan_bkp = pd.read_excel(data_path+r'年报-网站或网点信息.xlsx')

In [87]:
df_wangzhan = df_wangzhan_bkp.copy()
df_wangzhan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13553 entries, 0 to 13552
Data columns (total 2 columns):
企业编号    13553 non-null int64
年报年份    13546 non-null float64
dtypes: float64(1), int64(1)
memory usage: 211.8 KB

In [88]:
tmpdf = pd.DataFrame()
tmpdf['网站或网点数'] = df_wangzhan.groupby(['企业编号'])['企业编号'].count()
tmpdf['企业编号'] = tmpdf.index
res['网站或网点数'] = tmpdf

# 商标

In [89]:
df_shangbiao_bkp = pd.read_excel(data_path+r'商标.xlsx')

In [90]:
df_shangbiao = df_shangbiao_bkp.copy()
df_shangbiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345417 entries, 0 to 345416
Data columns (total 6 columns):
企业编号         345417 non-null int64
商标状态         343755 non-null object
申请日期         343433 non-null object
专用权期限开始日期    0 non-null float64
专用权期限结束日期    226554 non-null object
商标使用期限时间段    340948 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 15.8+ MB

In [91]:
df_shangbiao_withdate = df_shangbiao.loc[(df_shangbiao['专用权期限结束日期'].notnull())]
df_shangbiao_withdate['专用权期限结束日期'] = pd.to_datetime(
    df_shangbiao_withdate['专用权期限结束日期'])
df_shangbiao_withdate = df_shangbiao_withdate.loc[(
    df_shangbiao_withdate['专用权期限结束日期']) > current_date]
df_shangbiao_withdate['商标状态'].value_counts()

商标已注册                        42916
注册                           22874
商标注册申请完成                     22085
商标续展完成                       19072
商标变更完成                       14789
核准证明打印发送                     14106
变更商标申请人/注册人名义/地址完成            8903
等待受理通知书发文                     8220
等待受理通知发文                      7862
商标注册申请注册公告排版完成                6928
出具商标注册证明完成                    4775
商标转让完成                        4651
商标转让中                         2886
申请收文                          2311
商标续展中                         1830
变更商标申请人/注册人名义/地址中             1723
等待打印受理通知书                     1647
开具注册证明完成                      1621
等待打印注册证                       1561
等待注册公告公示期                     1378
商标无效                          1269
驳回复审注册公告排版完成                  1256
等待注册发文                         965
等待实质审查                         921
等待实审裁文发文                       757
商标注册申请等待受理中                    732
商标注册申请等待驳回复审                   709
商标使用许可备案完成                     708
核准通知打印发送                       661
排版注册公告                         614
                             ...
等待补充证据发文                         1
驳回复审排版送达公告(商标评审申请受理通知书)          1
领退信(连续三年不使用撤销申请的结案通知)            1
有退信(商标注册申请受理通知书)                 1
补发注册证不予受理                        1
排版送达公告(初步审定公告通知书)                1
领退信(异议决定书)                       1
排版送达公告(商标转让/移转申请视为放弃通知书)         1
领退信(商标使用许可备案受理通知书)               1
撤销注册商标复审有退信(商标撤销复审答辩通知书)         1
领退信(商标注册证商品服务附页)                 1
排版送达公告(商标异议申请受理通知书)              1
排版送达公告(商标异议申请不予受理通知书)            1
商标注册证                            1
排版送达公告(补发注册证领证通知书)               1
有退信(商标转让证明)                      1
发答辩通知书发文                         1
驳回复审排版送达公告(商标注册证)                1
领退信(关于撤销连续三年未使用商标的决定)            1
商标使用许可合同变更中                      1
异议复审不予受理                         1
有退信(商标注册证)                       1
排版送达公告(商标使用许可备案通知书)              1
打印受理通知                           1
删减商品/服务项目申请完成                    1
异议不予受理                           1
撤销注册商标复审完成                       1
排版送达公告(商标转让证明)                   1
排版送达公告(出具商标注册证明申请不予核准通知书)        1
驳回复审待审中                          1
Name: 商标状态, Length: 208, dtype: int64

In [92]:
finished = ['商标已注册',
            '注册',
            '商标注册申请完成',
            '商标续展完成',
            '商标变更完成',
            '变更商标申请人/注册人名义/地址完成',
            '商标注册申请注册公告排版完成',
            '商标转让完成',
            '出具商标注册证明完成']
df_shangbiao_withdate_clean = df_shangbiao_withdate.loc[(
    df_shangbiao_withdate['商标状态'].isin(finished))]
df_shangbiao_count = pd.DataFrame()
df_shangbiao_count['商标数量'] = df_shangbiao_withdate_clean.groupby(['企业编号'])[
    '企业编号'].count()
df_shangbiao_count['企业编号'] = df_shangbiao_count.index
df_shangbiao_count = df_shangbiao_count.set_index(
    np.arange(0, len(df_shangbiao_count)))
df_shangbiao_count.head(n=5)

   商标数量  企业编号
0   256  1001
1     5  1002
2    90  1003
3     6  1004
4    17  1005

In [93]:
res['商标数量'] = df_shangbiao_count

# 债券信息

In [94]:
df_operation = pd.read_excel(data_path+r'债券信息.xlsx')
df_operation.info()
df_operation['债券期限'] = pd.to_numeric(df_operation['债券期限'], errors='coerce')
df_operation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 14 columns):
企业编号          2400 non-null int64
债券信用评级        386 non-null object
债券期限          2314 non-null object
债券品种          2400 non-null object
发行日期          2400 non-null object
付息日期          2032 non-null object
兑付日期          2313 non-null object
计划发行总额（亿元）    2400 non-null float64
实际发行总额（亿元）    35 non-null float64
币种            2400 non-null object
流通场所          17 non-null object
票面利率（%）       2399 non-null float64
主体信用评级        382 non-null object
付息方式          2400 non-null object
dtypes: float64(3), int64(1), object(10)
memory usage: 262.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 14 columns):
企业编号          2400 non-null int64
债券信用评级        386 non-null object
债券期限          2296 non-null float64
债券品种          2400 non-null object
发行日期          2400 non-null object
付息日期          2032 non-null object
兑付日期          2313 non-null object
计划发行总额（亿元）    2400 non-null float64
实际发行总额（亿元）    35 non-null float64
币种            2400 non-null object
流通场所          17 non-null object
票面利率（%）       2399 non-null float64
主体信用评级        382 non-null object
付息方式          2400 non-null object
dtypes: float64(4), int64(1), object(9)
memory usage: 262.6+ KB

In [95]:
agg_func = {'债券期限': ['mean', 'max', 'min', 'std'], '票面利率（%）': [
    'mean', 'max', 'min', 'std'], '计划发行总额（亿元）': ['sum', 'max', 'min', 'std']}
df_operation_new = df_operation.groupby(['企业编号']).agg(agg_func)
df_operation_new.columns = ['_'.join(col)
                            for col in df_operation_new.columns.values]
df_operation_new.columns = [
    '债券期限_mean', '债券期限_max', '债券期限_min', '债券期限_std',
    '票面利率（%）_mean', '票面利率（%）_max', '票面利率（%）_min', '票面利率（%）_std', '计划发行总额（亿元）_sum', '计划发行总额（亿元）_max', '计划发行总额（亿元）_min', '计划发行总额（亿元）_std']
df_operation_new['企业编号'] = df_operation_new.index
df_operation_new.head(n=3)
# df_operation_new.info()

,债券期限_mean,债券期限_max,债券期限_min,债券期限_std,票面利率（%）_mean,票面利率（%）_max,票面利率（%）_min,票面利率（%）_std,计划发行总额（亿元）_sum,计划发行总额（亿元）_max,计划发行总额（亿元）_min,计划发行总额（亿元）_std,企业编号
企业编号,,,,,,,,,,,,,
1002,0.49000,0.49,0.49,0.000000,3.700,4.35,3.05,0.712039,38.0,10.0,3.0,2.943920,1002
1004,3.43500,5.00,0.74,2.029015,4.692,5.50,3.88,0.580836,29.0,10.0,4.0,2.387467,1004
1005,2.36875,5.00,0.47,1.577896,4.376,5.30,3.30,0.628865,70.0,10.0,3.0,2.943920,1005

In [96]:
res['债券信息'] = df_operation_new

# Check Point

In [97]:
feature_count = 0
for k, v in res.items():
    print(k, len(v.columns))
    feature_count += len(v.columns)
print('total: ', feature_count)

企业得分 2
软著著作权 2
作品著作 2
项目信息 2
纳税A级年份 5
资质认证 5
产品 7
专利 6
竞品 2
招投标 2
企业购地 9
年报-对外投资信息 5
年报-股东股权转让 7
经营状态 3
行业大类 19
merge_注册资本_是否上市 3
merge_成立年数_是否注销_是否外企 4
企业基本信息经营状态 6
企业担保次数 2
网站或网点数 2
商标数量 2
债券信息 13
total:  110

# 年报-社保信息

In [98]:
df_shebao_bkp = pd.read_excel(data_path+r'年报-社保信息.xlsx')

In [99]:
df_shebao = df_shebao_bkp.copy()
df_shebao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15039 entries, 0 to 15038
Data columns (total 22 columns):
企业编号                    15039 non-null int64
城镇职工基本养老保险人数            5597 non-null object
失业保险人数                  5599 non-null object
职工基本医疗保险人数              5598 non-null object
工伤保险人数                  5599 non-null object
生育保险人数                  5598 non-null object
单位参加城镇职工基本养老保险缴费基数      5354 non-null object
单位参加失业保险缴费基数            5597 non-null object
单位参加职工基本医疗保险缴费基数        5597 non-null object
单位参加工伤保险缴费基数            168 non-null object
单位参加生育保险缴费基数            5598 non-null object
参加城镇职工基本养老保险本期实际缴费金额    5597 non-null object
参加失业保险本期实际缴费金额          5597 non-null object
参加职工基本医疗保险本期实际缴费金额      5597 non-null object
参加工伤保险本期实际缴费金额          5597 non-null object
参加生育保险本期实际缴费金额          5597 non-null object
单位参加城镇职工基本养老保险累计欠缴金额    5602 non-null object
单位参加失业保险累计欠缴金额          5602 non-null object
单位参加职工基本医疗保险累计欠缴金额      5602 non-null object
单位参加工伤保险累计欠缴金额          5602 non-null object
单位参加生育保险累计欠缴金额          5602 non-null object
年报年份                    15032 non-null float64
dtypes: float64(1), int64(1), object(20)
memory usage: 2.5+ MB

In [100]:
# filter_df_shebao = df_shebao.loc[(df_shebao['城镇职工基本养老保险人数'].notnull())]
# filter_df_shebao = filter_df_shebao.drop(['失业保险人数', '职工基本医疗保险人数', '工伤保险人数', '生育保险人数',
#                                           '单位参加失业保险缴费基数', '单位参加职工基本医疗保险缴费基数', '单位参加城镇职工基本养老保险缴费基数',
#                                           '单位参加工伤保险缴费基数', '单位参加生育保险缴费基数',
#                                           '参加失业保险本期实际缴费金额', '参加职工基本医疗保险本期实际缴费金额', '参加工伤保险本期实际缴费金额',
#                                           '参加生育保险本期实际缴费金额', '单位参加城镇职工基本养老保险累计欠缴金额', '单位参加失业保险累计欠缴金额',
#                                           '单位参加职工基本医疗保险累计欠缴金额', '单位参加工伤保险累计欠缴金额', '单位参加生育保险累计欠缴金额'], axis=1)
# filter_df_shebao['城镇职工基本养老保险人数'] = filter_df_shebao['城镇职工基本养老保险人数'].str.rstrip(
#     '人').astype(int)
# filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'] = filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.rstrip(
#     '万元')

# filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'] = filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].fillna(
#     '选择不公示')

# filter_df_shebao.loc[(filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.contains(
#     '([^0-9\.])')), '参加城镇职工基本养老保险本期实际缴费金额'].value_counts()

# filter_df_shebao.loc[(filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.contains(
#     '选择不公示')), '参加城镇职工基本养老保险本期实际缴费金额'] = np.nan

# filter_df_shebao['城镇职工基本养老保险本期实际缴费金额'] = filter_df_shebao['参加城镇职工基本养老保险本期实际缴费金额'].str.extract(
#     '([0-9\.]+)').astype(float)*10000
# filter_df_shebao = filter_df_shebao.drop(['参加城镇职工基本养老保险本期实际缴费金额'], axis=1)
# filter_df_shebao = filter_df_shebao[[
#     '企业编号', '城镇职工基本养老保险人数', '城镇职工基本养老保险本期实际缴费金额', '年报年份']]
# filter_df_shebao.columns = ['企业编号', '养老保险人数', '养老保险实缴费金额', '年报年份']

# filter_df_shebao1['合计'] = filter_df_shebao1['参加城镇职工基本养老保险本期实际缴费金额']+filter_df_shebao1['参加失业保险本期实际缴费金额'] + \
#     filter_df_shebao1['参加职工基本医疗保险本期实际缴费金额'] + \
#     filter_df_shebao1['参加工伤保险本期实际缴费金额']+filter_df_shebao1['参加生育保险本期实际缴费金额']
# filter_df_shebao1.info()
# filter_df_shebao.head(n=5)

In [101]:
filter_df_shebao = df_shebao.loc[(df_shebao['城镇职工基本养老保险人数'].notnull())]
filter_df_shebao = filter_df_shebao.drop(['失业保险人数', '职工基本医疗保险人数', '工伤保险人数', '生育保险人数',
                                          '单位参加失业保险缴费基数', '单位参加职工基本医疗保险缴费基数', '单位参加工伤保险缴费基数', '单位参加生育保险缴费基数', '单位参加城镇职工基本养老保险累计欠缴金额', '单位参加失业保险累计欠缴金额',
                                          '单位参加职工基本医疗保险累计欠缴金额', '单位参加工伤保险累计欠缴金额', '单位参加生育保险累计欠缴金额'], axis=1)
A = ['单位参加城镇职工基本养老保险缴费基数', '参加城镇职工基本养老保险本期实际缴费金额', '参加失业保险本期实际缴费金额',
     '参加职工基本医疗保险本期实际缴费金额', '参加工伤保险本期实际缴费金额', '参加生育保险本期实际缴费金额']
filter_df_shebao['城镇职工基本养老保险人数'] = filter_df_shebao['城镇职工基本养老保险人数'].str.rstrip(
    '人').astype(int)
# filter_df_shebao.head(n=5)
for arr in A:
    filter_df_shebao[arr] = filter_df_shebao[arr].str.rstrip(
        '万元')
    filter_df_shebao[arr] = filter_df_shebao[arr].fillna(
        '选择不公示')
    filter_df_shebao.loc[(filter_df_shebao[arr].str.contains(
        '([^0-9\.])')), arr].value_counts()
    filter_df_shebao.loc[(filter_df_shebao[arr].str.contains(
        '选择不公示')), arr] = np.nan
    filter_df_shebao[arr] = filter_df_shebao[arr].str.extract(
        '([0-9\.]+)').astype(float)*10000
# filter_df_shebao.head(n=5)
# filter_df_shebao.info()
filter_df_shebao1 = filter_df_shebao.copy()
# filter_df_shebao1.info()
filter_df_shebao1['合计'] = filter_df_shebao1['参加城镇职工基本养老保险本期实际缴费金额']+filter_df_shebao1['参加失业保险本期实际缴费金额'] + \
    filter_df_shebao1['参加职工基本医疗保险本期实际缴费金额'] + \
    filter_df_shebao1['参加工伤保险本期实际缴费金额']+filter_df_shebao1['参加生育保险本期实际缴费金额']
filter_df_shebao1.head(n=10)

,企业编号,城镇职工基本养老保险人数,单位参加城镇职工基本养老保险缴费基数,参加城镇职工基本养老保险本期实际缴费金额,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,年报年份,合计
3,1001,2652,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
4,1001,39620,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,NaN
13,1003,7069,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
14,1003,6915,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,NaN
18,1004,926,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
19,1004,1206,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,NaN
23,1005,206,62069600.0,11479500.0,445400.0,4630200.0,126200.0,336600.0,2016.0,17017900.0
24,1005,230,49441800.0,13311700.0,491900.0,5432200.0,148100.0,395100.0,2017.0,19779000.0
28,1006,2035,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,NaN
29,1006,2046,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,NaN

In [102]:
df_shebao_16 = filter_df_shebao1.loc[(filter_df_shebao['年报年份'] == 2016)]
df_shebao_17 = filter_df_shebao1.loc[(filter_df_shebao['年报年份'] == 2017)]

In [103]:
# df_shebao_16_c = df_shebao_16.copy()
# df_shebao_17_c = df_shebao_17.copy()
# df_shebao_16_c = df_shebao_16_c.set_index(df_shebao_16_c['企业编号'])
# df_shebao_17_c = df_shebao_17_c.set_index(df_shebao_17_c['企业编号'])
# df_shebao_16_c = df_shebao_16_c.drop(['年报年份'], axis=1)
# df_shebao_17_c = df_shebao_17_c.drop(['年报年份'], axis=1)
# df_shebao_16_c = df_shebao_16_c.drop(['企业编号'], axis=1)
# df_shebao_17_c = df_shebao_17_c.drop(['企业编号'], axis=1)
# combine_df = df_shebao_17_c.combine_first(df_shebao_16_c)
# combine_df['养老保险人数'] = combine_df['养老保险人数'].replace(0.0, np.nan)
# combine_df['养老保险人数'] = combine_df['养老保险人数'].fillna(combine_df['养老保险人数'].mean())

In [104]:
df_shebao_16_c = df_shebao_16.copy()
df_shebao_17_c = df_shebao_17.copy()
df_shebao_16_c = df_shebao_16_c.set_index(df_shebao_16_c['企业编号'])
df_shebao_17_c = df_shebao_17_c.set_index(df_shebao_17_c['企业编号'])
df_shebao_16_c = df_shebao_16_c.drop(['年报年份'], axis=1)
df_shebao_17_c = df_shebao_17_c.drop(['年报年份'], axis=1)
df_shebao_16_c = df_shebao_16_c.drop(['企业编号'], axis=1)
df_shebao_17_c = df_shebao_17_c.drop(['企业编号'], axis=1)
combine_df = df_shebao_17_c.combine_first(df_shebao_16_c)
combine_df['城镇职工基本养老保险人数'] = combine_df['城镇职工基本养老保险人数'].replace(0.0, np.nan)
combine_df['城镇职工基本养老保险人数'] = combine_df['城镇职工基本养老保险人数'].fillna(
    combine_df['城镇职工基本养老保险人数'].mean())
combine_df['保险实缴/人数'] = combine_df['合计']/combine_df['城镇职工基本养老保险人数']
combine_df['基数/人数'] = combine_df['单位参加城镇职工基本养老保险缴费基数'] / \
    combine_df['城镇职工基本养老保险人数']
combine_df['保险实缴/人数'] = combine_df['保险实缴/人数'].replace(np.inf, np.nan)
combine_df['保险实缴/人数'] = combine_df['保险实缴/人数'].replace(0.0, np.nan)
combine_df['基数/人数'] = combine_df['基数/人数'].replace(np.inf, np.nan)
combine_df['基数/人数'] = combine_df['基数/人数'].replace(0.0, np.nan)
combine_df = combine_df.drop(['单位参加城镇职工基本养老保险缴费基数', '参加城镇职工基本养老保险本期实际缴费金额',
                              '参加失业保险本期实际缴费金额', '参加职工基本医疗保险本期实际缴费金额', '参加工伤保险本期实际缴费金额',
                              '参加生育保险本期实际缴费金额', '合计'], axis=1)
combine_df.head(n=10)

      城镇职工基本养老保险人数       保险实缴/人数          基数/人数
企业编号
1001       39620.0           NaN            NaN
1003        6915.0           NaN            NaN
1004        1206.0           NaN            NaN
1005         230.0  85995.652174  214964.347826
1006        2046.0           NaN            NaN
1007       29722.0   2181.885472    5585.424938
1008         286.0  77237.762238  248076.923077
1009        2077.0  12888.956933   46014.047439
1010        2585.0  77801.994197  189139.437524
1011       45808.0           NaN            NaN

In [112]:
combine_df['保险实缴/人数'].describe()

count    2.331000e+03
mean     1.071056e+07
std      1.681021e+08
min      9.703994e+00
25%      9.684409e+03
50%      1.605753e+04
75%      3.206429e+04
max      7.415916e+09
Name: 保险实缴/人数, dtype: float64

In [116]:
combine_df['基数/人数'].describe()

count    2.362000e+03
mean     1.881929e+07
std      1.614143e+08
min      1.970814e-01
25%      7.114967e+03
50%      3.922830e+04
75%      7.921930e+04
max      4.818387e+09
Name: 基数/人数, dtype: float64

In [123]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1
    fence_low = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] > fence_low) &
                       (df_in[col_name] < fence_high)]
    return df_out

In [136]:
combine_df_rm_outlier = remove_outlier(combine_df, '保险实缴/人数')
combine_df_rm_outlier = remove_outlier(combine_df_rm_outlier, '基数/人数')
combine_df_rm_outlier['企业编号'] = combine_df_rm_outlier.index
combine_df_rm_outlier = combine_df_rm_outlier.set_index(np.arange(0, len(combine_df_rm_outlier)))
combine_df_rm_outlier.head(n=5)

   城镇职工基本养老保险人数       保险实缴/人数          基数/人数  企业编号
0       29722.0   2181.885472    5585.424938  1007
1        2077.0  12888.956933   46014.047439  1009
2        5302.0  26252.357601   66329.686911  1012
3       13671.0  27786.628630   73293.833662  1017
4        2547.0  43177.934825  143040.714566  1019

In [125]:
combine_df_rm_outlier['保险实缴/人数'].describe()

count     2006.000000
mean     17722.860979
std      13157.622777
min          9.703994
25%       8993.636795
50%      14369.853513
75%      23873.740345
max      64745.833333
Name: 保险实缴/人数, dtype: float64

In [126]:
combine_df_rm_outlier['基数/人数'].describe()

count      2006.000000
mean      42853.508114
std       38907.063020
min           0.197081
25%        6177.369262
50%       36148.903709
75%       63540.587571
max      161808.631922
Name: 基数/人数, dtype: float64

In [140]:
# combine_df_rm_outlier.head(n=5)
# df_rating.merge(
#     combine_df_rm_outlier, how='left', on='企业编号')
df_rating
# combine_df.loc[(combine_df['养老保险人数'].isnull()), '养老保险人数'] = combine_df.loc[(combine_df['养老保险人数'].isnull()), '养老保险实缴费金额'] / \
#     combine_df.loc[(combine_df['养老保险人数'].isnull()), '保险实缴费金额/人数']

      企业编号      企业总评分
0     1001  75.374276
1     1002  79.830122
2     1003  78.318264
3     1004  83.253376
4     1005  83.291493
5     1006  82.013621
6     1007  87.675653
7     1008  79.592075
8     1009  78.236148
9     1010  80.895705
10    1011  84.183972
11    1012  81.811654
12    1013  82.044689
13    1014  94.384615
14    1015  78.798932
15    1016  84.361117
16    1017  88.215626
17    1018  79.673078
18    1019  81.000100
19    1020  79.971214
20    1021  86.738907
21    1022  90.553083
22    1023  86.914589
23    1024  82.034421
24    1025  92.508500
25    1026  77.870953
26    1027  77.721800
27    1028  80.962433
28    1029  93.051526
29    1030  76.986566
...    ...        ...
2965  3971  88.439509
2966  3972  89.526223
2967  3973  90.390922
2968  3974  81.418045
2969  3975  85.858557
2970  3976  82.346548
2971  3977  93.076923
2972  3978  82.699678
2973  3979  88.000572
2974  3980  84.195982
2975  3981  86.481227
2976  3982  87.625447
2977  3983  80.861813
2978  3984  90.295509
2979  3985  80.582221
2980  3986  84.601941
2981  3987  82.074810
2982  3988  94.663979
2983  3989  85.628368
2984  3990  89.138134
2985  3991  89.026461
2986  3992  93.076923
2987  3993  85.464011
2988  3994  91.502586
2989  3995  93.076923
2990  3996  86.733076
2991  3997  84.795885
2992  3998  93.740963
2993  3999  88.803712
2994  4000  84.142749

[2956 rows x 2 columns]

In [109]:
# combine_df['保险实缴费金额/人数'] = combine_df['保险实缴费金额/人数'].replace(np.inf, np.nan)
# combine_df['保险实缴费金额/人数']
# fig, ax = plt.subplots(figsize=(10, 10))
# sns.distplot(combine_df['养老保险人数'], bins=20, ax=ax, color='r')
# # distplot: 带分布形态的直方图, bins: 直方图数量
# sns.kdeplot(combine_df['养老保险人数'], shade=True, ax=ax)
# kdeplot: 核密度估计(kernel density estimation)
# sns.regplot(x='养老保险人数', y='养老保险实缴费金额', data=combine_df, ax=ax)  # 线性回归关系
# combine_df.info()

In [110]:
# combine_df.loc[(combine_df['养老保险人数'].isnull())]

In [111]:
# combine_df['保险实缴费金额/人数'].describe()