In [2]:
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import warnings
import time
from collections import Counter
warnings.filterwarnings("ignore")


plt.style.use("fivethirtyeight")

sns.set_style({'font.sans-serif': ['simsun', 'Arial']})
sns.set_style('darkgrid', {'font.sans-serif': ['simhei', 'Arial']})
%matplotlib inline

# 软著著作权

In [3]:
df_soft_bpk = pd.read_excel(r'../../Data/CompInfo/软著著作权.xlsx')
df_soft = df_soft_bpk.copy()

In [4]:
df_soft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36858 entries, 0 to 36857
Data columns (total 4 columns):
企业编号           36858 non-null int64
软件全称           36858 non-null object
软件著作权版本号       30878 non-null object
软件著作权登记批准日期    36818 non-null object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [5]:
new_df_soft = pd.DataFrame(df_soft['企业编号'].value_counts())
new_df_soft.columns = ['软著数量']
new_df_soft['企业编号'] = new_df_soft.index
new_df_soft.sort_values(by=['企业编号'], inplace=True)
new_df_soft = new_df_soft[['企业编号', '软著数量']]
new_df_soft = new_df_soft.set_index(np.arange(0, len(new_df_soft)))
# new_df_soft['软著数量'].describe()
# new_df_soft.info()

# 作品著作

In [6]:
df_zuopin_bpk = pd.read_excel(r'../../Data/CompInfo/作品著作权.xlsx')
df_zuopin = df_zuopin_bpk.copy()

In [7]:
df_zuopin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33555 entries, 0 to 33554
Data columns (total 5 columns):
企业编号           33555 non-null int64
作品著作权类别        33379 non-null object
作品著作权登记日期      33178 non-null object
作品著作权创作完成日期    32177 non-null object
作品著作权首次发布日期    22118 non-null object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB

In [8]:
df_zuopin = df_zuopin_bpk.copy()
df_zuopin['作品著作权类别'].value_counts()

美术                     15292
文字                     12532
F 美术                    1610
类似摄制电影方法创作的作品            929
其他                       787
工程设计图、产品设计图              556
摄影                       436
美术作品                     333
L 其他作品                   226
地图、示意图                   187
图形                       182
J 工程设计图、产品设计图             78
变更                        51
音乐                        29
文字作品                      26
作品著作权证书                   23
I 类似摄制电影方法创作作品            18
B 音乐                      16
摄影作品                      13
工程设计图、产品设计图作品              8
建筑                         5
A 文字                       5
模型                         4
上海明师科技发展有限公司               4
佛山市顺德区孔雀廊娱乐唱片有限公司          2
G 摄影                       2
音乐作品                       2
赵炜坚                        2
张斌                         2
H 电影                       1
李鹏                         1
陈宇鹏                        1
K 地图、示意图                   1
上海烛龙信息科技有限公司               1
电影和类似摄制电影方法创作的作品           1
澄心轩                        1
其他作品                       1
舞蹈                         1
上海畅声网络科技有限公司               1
电影                         1
电影作品和类似摄制电影的方法创造的作品        1
万全                         1
张记皇冠                       1
曲艺                         1
上海浦东新区陆家嘴财富管理培训中心          1
上海思茸信息科技有限公司               1
西域圣果                       1
高学网络科技（上海）有限公司             1
Name: 作品著作权类别, dtype: int64

In [9]:
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'[A-Z]{1}\s', '', regex=True)
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'作品', '', regex=True)
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'类似摄制电影方法创作','电影和类似摄制电影方法创作', regex=True)
# df_zuopin['作品著作权类别'].value_counts()

In [10]:
new_df_zuopin = pd.DataFrame(df_zuopin['企业编号'].value_counts())
new_df_zuopin.columns = ['作品著作数量']
new_df_zuopin['企业编号'] = new_df_zuopin.index
new_df_zuopin.sort_values(by=['企业编号'], inplace=True)
new_df_zuopin = new_df_zuopin[['企业编号', '作品著作数量']]
new_df_zuopin = new_df_zuopin.set_index(np.arange(0, len(new_df_zuopin)))
new_df_zuopin.head(n=20)

    企业编号  作品著作数量
0   1001       1
1   1004       6
2   1006       1
3   1011       3
4   1015       1
5   1019       4
6   1024    5726
7   1028       1
8   1043      31
9   1045       3
10  1048       1
11  1051       2
12  1055       3
13  1056      10
14  1061       7
15  1066      32
16  1070      15
17  1073       1
18  1080       5
19  1083       3

In [11]:
merge_zhuzuo_zuopin = (pd.merge(new_df_soft, new_df_zuopin,
                                on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin.head(n=10)

   企业编号  软著数量  作品著作数量
0  1001     1       1
1  1002     2       0
2  1003     2       0
3  1005     6       0
4  1006     2       1
5  1011    13       3
6  1012    15       0
7  1013     4       0
8  1014    41       0
9  1019    20       4

In [12]:
# merge.to_excel(r'./PreprocessedData/软件与作品著作权.xlsx', index=False)

# 项目信息

In [13]:
df_project_bkp = pd.read_excel(r'../../Data/CompInfo/项目信息.xlsx')
df_project = df_project_bkp.copy()

In [14]:
df_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054 entries, 0 to 3053
Data columns (total 7 columns):
企业编号      3054 non-null int64
行业        170 non-null object
标签        3047 non-null object
企业规模      168 non-null object
运营状态      2934 non-null object
简介        3026 non-null object
项目成立时间    2876 non-null object
dtypes: int64(1), object(6)
memory usage: 167.1+ KB

In [15]:
df_project['运营状态'].value_counts()

运营中    2932
融资中       2
Name: 运营状态, dtype: int64

In [16]:
new_df_project = pd.DataFrame(
    df_project.loc[(df_project['运营状态'] == '运营中'), '企业编号'].value_counts())
new_df_project.columns = ['项目数量']
new_df_project['企业编号'] = new_df_project.index
new_df_project.sort_values(by=['企业编号'], inplace=True)
new_df_project = new_df_project[['企业编号', '项目数量']]
new_df_project = new_df_project.set_index(np.arange(0, len(new_df_project)))
new_df_project.head(n=20)

    企业编号  项目数量
0   1001     1
1   1002     1
2   1003     1
3   1004     1
4   1005     1
5   1006     1
6   1007     1
7   1008     1
8   1009     2
9   1010     1
10  1011     1
11  1012     1
12  1013     1
13  1015     1
14  1016     1
15  1017     1
16  1018     1
17  1019     1
18  1020     1
19  1021     1

In [17]:
merge_zhuzuo_zuopin_project = (pd.merge(merge_zhuzuo_zuopin, new_df_project,
                                        on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project.head(n=20)

    企业编号  软著数量  作品著作数量  项目数量
0   1001     1       1     1
1   1002     2       0     1
2   1003     2       0     1
3   1005     6       0     1
4   1006     2       1     1
5   1011    13       3     1
6   1012    15       0     1
7   1013     4       0     1
8   1014    41       0     0
9   1019    20       4     1
10  1021    16       0     1
11  1022   473       0     1
12  1023     1       0     1
13  1024     9    5726     1
14  1025    28       0     1
15  1029   114       0     1
16  1038    44       0     1
17  1043   449      31     1
18  1048   115       1     1
19  1050    17       0     1

# 纳税A级年份

In [18]:
df_nashuiyear_bkp = pd.read_excel(r'../../Data/CompInfo/纳税A级年份.xlsx')
df_nashuiyear = df_nashuiyear_bkp.copy()

In [19]:
df_nashuiyear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 2 columns):
企业编号      7927 non-null int64
纳税A级年份    7927 non-null int64
dtypes: int64(2)
memory usage: 123.9 KB

In [20]:
df_nashuiyear['纳税A级年份'].value_counts()

2016    2380
2017    1978
2015    1858
2014    1711
Name: 纳税A级年份, dtype: int64

In [21]:
new_df_nashuiyear = df_nashuiyear.groupby(['企业编号', '纳税A级年份'])[
    '纳税A级年份'].count().unstack()

new_df_nashuiyear['企业编号'] = new_df_nashuiyear.index
new_df_nashuiyear = new_df_nashuiyear[['企业编号', 2014, 2015, 2016, 2017]]
columns = {'企业编号': '企业编号', 2014: '纳税A级年份_2014', 2015: '纳税A级年份_2015',
           2016: '纳税A级年份_2016', 2017: '纳税A级年份_2017'}
columns = ['企业编号', '纳税A级年份_2014', '纳税A级年份_2015', '纳税A级年份_2016', '纳税A级年份_2017']
# new_df_nashuiyear.rename(columns, inplace=True)
new_df_nashuiyear.columns = columns
new_df_nashuiyear = new_df_nashuiyear.set_index(
    np.arange(0, len(new_df_nashuiyear))).fillna(0).astype(int)
new_df_nashuiyear.head(n=5)

   企业编号  纳税A级年份_2014  纳税A级年份_2015  纳税A级年份_2016  纳税A级年份_2017
0  1001            1            2            1            1
1  1002            1            1            2            0
2  1003            1            1            0            1
3  1004            0            0            2            1
4  1006            1            1            1            0

In [22]:
merge_zhuzuo_zuopin_project_nashui = (pd.merge(merge_zhuzuo_zuopin_project, new_df_nashuiyear,
                                               on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017
0,1001,1,1,1,1,2,1,1
1,1002,2,0,1,1,1,2,0
2,1003,2,0,1,1,1,0,1
3,1005,6,0,1,0,0,0,0
4,1006,2,1,1,1,1,1,0
5,1011,13,3,1,0,0,0,1
6,1012,15,0,1,1,1,1,1
7,1013,4,0,1,1,0,1,1
8,1014,41,0,0,1,1,1,1
9,1019,20,4,1,0,1,0,0
10,1021,16,0,1,0,1,0,0
11,1022,473,0,1,1,0,0,1
12,1023,1,0,1,1,1,2,2
13,1024,9,5726,1,1,1,2,1
14,1025,28,0,1,1,0,0,0
15,1029,114,0,1,1,1,2,1
16,1038,44,0,1,0,1,1,1
17,1043,449,31,1,1,1,2,1
18,1048,115,1,1,1,2,2,1
19,1050,17,0,1,1,1,1,1

# 融资情况

In [23]:
# df_rongzi_bkp = pd.read_excel(r'../../Data/CompInfo/融资信息.xlsx')
# df_rongzi = df_rongzi_bkp.copy()

In [24]:
# df_rongzi.info()

In [25]:
# df_rongzi['轮次'].value_counts()

# 资质认证

In [26]:
df_zizhi_bkp = pd.read_excel(r'../../Data/CompInfo/资质认证.xlsx')
df_zizhi = df_zizhi_bkp.copy()

In [27]:
df_zizhi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169898 entries, 0 to 169897
Data columns (total 5 columns):
企业编号       169898 non-null int64
证书名称       169898 non-null object
有效期起止日期    161662 non-null object
有效期截至日期    124035 non-null object
状态         148665 non-null object
dtypes: int64(1), object(4)
memory usage: 6.5+ MB

In [28]:
df_zizhi = df_zizhi_bkp.copy()
df_zizhi['状态'].value_counts()

有效           70917
已注销          28220
注销           15805
已撤销          12601
过期失效          9762
撤销            9719
暂停             580
已暂停            494
当前批件           238
已过期            212
延续              41
变更              23
正常              16
历史批件            14
旧版               7
新立               5
注销(非申请)          5
无效（依申请注销）        3
无效（逾期未换证）        2
证书注销             1
Name: 状态, dtype: int64

In [29]:
status = ['有效', '延续', '变更', '正常', '新立']
new_df_zizhi = df_zizhi.loc[(df_zizhi['有效期截至日期'].notnull())]
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['状态'].notnull())]
new_df_zizhi['有效期截至日期'] = pd.to_datetime(new_df_zizhi['有效期截至日期'])

nowtime = pd.to_datetime(time.strftime(
    '%Y-%m-%d', time.localtime(time.time())))
# new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'].notnull())]
# df_zizhi = df_zizhi.loc[(df_zizhi['状态 '] == '有效')]

In [30]:
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'] > nowtime)]
new_df_zizhi['状态'].value_counts()

有效      59234
已注销      3252
注销       2198
已撤销      1425
撤销       1144
已暂停       481
暂停        433
过期失效       47
延续         22
变更         18
正常         16
旧版          7
新立          4
证书注销        1
Name: 状态, dtype: int64

In [31]:
new_df_zizhi = new_df_zizhi.loc[(
    new_df_zizhi['状态'].str.contains('[有效|延续|变更|正常|新立]'))]
# new_df_zizhi['证书名称'].value_counts()
# new_df_zizhi = new_df_zizhi.groupby(
#     ['企业编号', '证书名称'])['证书名称'].count().unstack()
# new_df_zizhi.head(n=10)

In [32]:
new_df_zizhi = pd.DataFrame(new_df_zizhi['企业编号'].value_counts())
new_df_zizhi.columns = ['资质证书数量']
new_df_zizhi['企业编号'] = new_df_zizhi.index
new_df_zizhi.sort_values(by=['企业编号'], inplace=True)
new_df_zizhi = new_df_zizhi[['企业编号', '资质证书数量']]
new_df_zizhi = new_df_zizhi.set_index(np.arange(0, len(new_df_zizhi)))
new_df_zizhi.head(n=20)

    企业编号  资质证书数量
0   1001       9
1   1003     442
2   1004       1
3   1005       5
4   1006       6
5   1007       7
6   1008       1
7   1011       8
8   1013       1
9   1014       8
10  1016       6
11  1017       3
12  1018       6
13  1022      26
14  1023       1
15  1025      35
16  1028       8
17  1038       8
18  1039       1
19  1041       3

In [33]:
merge_zhuzuo_zuopin_project_nashui_zizhi = (pd.merge(merge_zhuzuo_zuopin_project_nashui, new_df_zizhi,
                                                     on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui_zizhi.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量
0,1001,1,1,1,1,2,1,1,9
1,1002,2,0,1,1,1,2,0,0
2,1003,2,0,1,1,1,0,1,442
3,1005,6,0,1,0,0,0,0,5
4,1006,2,1,1,1,1,1,0,6
5,1011,13,3,1,0,0,0,1,8
6,1012,15,0,1,1,1,1,1,0
7,1013,4,0,1,1,0,1,1,1
8,1014,41,0,0,1,1,1,1,8
9,1019,20,4,1,0,1,0,0,0
10,1021,16,0,1,0,1,0,0,0
11,1022,473,0,1,1,0,0,1,26
12,1023,1,0,1,1,1,2,2,1
13,1024,9,5726,1,1,1,2,1,0
14,1025,28,0,1,1,0,0,0,35
15,1029,114,0,1,1,1,2,1,0
16,1038,44,0,1,0,1,1,1,8
17,1043,449,31,1,1,1,2,1,1127
18,1048,115,1,1,1,2,2,1,429
19,1050,17,0,1,1,1,1,1,4

# 产品

In [34]:
df_product = pd.read_excel(r'../../Data/CompInfo/产品.xlsx')
new_df_product = df_product.groupby(
    ['企业编号', '产品类型'])['产品类型'].count().unstack()

new_df_product['企业编号'] = new_df_product.index
columns = ['企业编号', 'android', 'ios', 'miniapp', 'website', 'wechat', 'weibo']
new_df_product = pd.DataFrame(new_df_product, columns=columns)
new_df_product = new_df_product.set_index(np.arange(0, len(new_df_product)))
new_df_product.head(n=10)

   企业编号  android   ios  miniapp  website  wechat  weibo
0  1001      4.0  10.0      NaN     10.0     NaN    NaN
1  1002      1.0   6.0      NaN      4.0     1.0    1.0
2  1003      NaN   NaN      NaN      1.0     1.0    1.0
3  1004      2.0   2.0      NaN      6.0     NaN    NaN
4  1006      1.0   2.0      NaN      1.0     NaN    NaN
5  1007      NaN   NaN      NaN      1.0     NaN    NaN
6  1009      NaN   NaN      NaN      3.0     NaN    NaN
7  1010      5.0   9.0      NaN      3.0     NaN    NaN
8  1011      6.0   9.0      NaN      4.0     1.0    NaN
9  1013      NaN   NaN      NaN      3.0     NaN    NaN

In [35]:
merge_zhuzuo_zuopin_project_nashui_zizhi_product = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi, new_df_product,
                                                             on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui_zizhi_product.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量,android,ios,miniapp,website,wechat,weibo
0,1001,1,1,1,1,2,1,1,9,4,10,0,10,0,0
1,1002,2,0,1,1,1,2,0,0,1,6,0,4,1,1
2,1003,2,0,1,1,1,0,1,442,0,0,0,1,1,1
3,1005,6,0,1,0,0,0,0,5,0,0,0,0,0,0
4,1006,2,1,1,1,1,1,0,6,1,2,0,1,0,0
5,1011,13,3,1,0,0,0,1,8,6,9,0,4,1,0
6,1012,15,0,1,1,1,1,1,0,0,0,0,0,0,0
7,1013,4,0,1,1,0,1,1,1,0,0,0,3,0,0
8,1014,41,0,0,1,1,1,1,8,0,0,0,1,1,0
9,1019,20,4,1,0,1,0,0,0,0,0,0,1,0,0
10,1021,16,0,1,0,1,0,0,0,0,0,0,1,0,0
11,1022,473,0,1,1,0,0,1,26,1,0,0,3,1,1
12,1023,1,0,1,1,1,2,2,1,1,2,0,1,1,1
13,1024,9,5726,1,1,1,2,1,0,6,11,0,3,0,0
14,1025,28,0,1,1,0,0,0,35,0,0,0,8,0,0
15,1029,114,0,1,1,1,2,1,0,3,4,0,10,0,1
16,1038,44,0,1,0,1,1,1,8,0,0,0,1,0,0
17,1043,449,31,1,1,1,2,1,1127,0,0,0,2,1,1
18,1048,115,1,1,1,2,2,1,429,6,1,0,5,0,1
19,1050,17,0,1,1,1,1,1,4,0,3,0,4,1,0

# 专利

In [36]:
df_zhuanli = pd.read_excel(r'../../Data/CompInfo/专利.xlsx')
df_zhuanli['专利类型'] = df_zhuanli['专利类型'].str.replace('更正', '', regex=True)

df_zhuanli['授权公告日'] = df_zhuanli['授权公告日'].str.replace(
    r'[^0-9\-]', '', regex=True)
df_zhuanli['申请日'] = df_zhuanli['申请日'].str.replace(r'[^0-9\-]', '', regex=True)

df_zhuanli['授权公告日'] = pd.to_datetime(df_zhuanli['授权公告日'])
df_zhuanli['申请日'] = pd.to_datetime(df_zhuanli['申请日'])

In [37]:
tmp1 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明专利')]
tmp1 = tmp1.loc[(abs(tmp1['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp2 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明公布')]
tmp2 = tmp2.loc[(abs(tmp2['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp3 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明授权')]
tmp3 = tmp3.loc[(abs(tmp3['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp4 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '外观设计')]
tmp4 = tmp4.loc[(abs(tmp4['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

tmp5 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '实用新型')]
tmp5 = tmp5.loc[(abs(tmp5['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

filter_df_zhuanli = pd.concat([tmp1, tmp2, tmp3, tmp4, tmp5])

In [38]:
filter_df_zhuanli = filter_df_zhuanli.drop(columns=['授权公告日', '申请日'])
new_df_zhuanli = filter_df_zhuanli.groupby(
    ['企业编号', '专利类型'])['专利类型'].count().unstack()
new_df_zhuanli['企业编号'] = new_df_zhuanli.index
columns = ['企业编号', '发明专利', '发明公布', '发明授权', '外观设计', '实用新型']
new_df_zhuanli = pd.DataFrame(new_df_zhuanli, columns=columns)
new_df_zhuanli = new_df_zhuanli.set_index(np.arange(0, len(new_df_zhuanli)))
new_df_zhuanli.head(n=5)

   企业编号  发明专利   发明公布  发明授权   外观设计   实用新型
0  1001   NaN    4.0   NaN    NaN    NaN
1  1002   NaN    1.0   NaN    NaN    1.0
2  1003   NaN  141.0  61.0  469.0  956.0
3  1004   NaN    1.0   NaN    5.0    1.0
4  1005   NaN    6.0   2.0    NaN    6.0

In [39]:
merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product, new_df_zhuanli,
                                                                     on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量,android,ios,miniapp,website,wechat,weibo,发明专利,发明公布,发明授权,外观设计,实用新型
0,1001,1,1,1,1,2,1,1,9,4,10,0,10,0,0,0,4,0,0,0
1,1002,2,0,1,1,1,2,0,0,1,6,0,4,1,1,0,1,0,0,1
2,1003,2,0,1,1,1,0,1,442,0,0,0,1,1,1,0,141,61,469,956
3,1005,6,0,1,0,0,0,0,5,0,0,0,0,0,0,0,6,2,0,6
4,1006,2,1,1,1,1,1,0,6,1,2,0,1,0,0,0,12,5,2,8
5,1011,13,3,1,0,0,0,1,8,6,9,0,4,1,0,0,130,21,5,7
6,1012,15,0,1,1,1,1,1,0,0,0,0,0,0,0,0,2,1,1,9
7,1013,4,0,1,1,0,1,1,1,0,0,0,3,0,0,0,25,6,5,17
8,1014,41,0,0,1,1,1,1,8,0,0,0,1,1,0,0,5986,3455,0,3456
9,1019,20,4,1,0,1,0,0,0,0,0,0,1,0,0,0,117,25,0,68
10,1021,16,0,1,0,1,0,0,0,0,0,0,1,0,0,0,7,2,0,21
11,1022,473,0,1,1,0,0,1,26,1,0,0,3,1,1,0,54460,31757,62,13506
12,1023,1,0,1,1,1,2,2,1,1,2,0,1,1,1,0,27,3,0,1
13,1024,9,5726,1,1,1,2,1,0,6,11,0,3,0,0,0,0,0,0,0
14,1025,28,0,1,1,0,0,0,35,0,0,0,8,0,0,0,399,266,72,491
15,1029,114,0,1,1,1,2,1,0,3,4,0,10,0,1,0,0,0,0,0
16,1038,44,0,1,0,1,1,1,8,0,0,0,1,0,0,0,0,0,0,0
17,1043,449,31,1,1,1,2,1,1127,0,0,0,2,1,1,0,0,0,0,0
18,1048,115,1,1,1,2,2,1,429,6,1,0,5,0,1,0,0,0,0,0
19,1050,17,0,1,1,1,1,1,4,0,3,0,4,1,0,0,0,0,0,0

# 竞品

In [40]:
df_jingpin_bkp=pd.read_excel(r'../../Data/CompInfo/竞品.xlsx')

In [41]:
df_jingpin=df_jingpin_bkp.copy()
df_jingpin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33883 entries, 0 to 33882
Data columns (total 7 columns):
企业编号      33883 non-null int64
竞品的行业     2076 non-null object
竞品的标签     33875 non-null object
竞品轮次      23416 non-null object
竞品详细地址    31384 non-null object
竞品运营状态    31002 non-null object
竞品成立时间    31561 non-null object
dtypes: int64(1), object(6)
memory usage: 1.8+ MB

In [42]:
df_jingpin = df_jingpin.loc[(df_jingpin['竞品运营状态'] == '运营中')]
df_jingpin = df_jingpin.loc[(df_jingpin['竞品的标签'].notnull())]

In [43]:
# df_jingpin['竞品的标签']=df_jingpin['竞品的标签'].str.split('\n')
# df_jingpin['竞品的标签']
# df_jingpin['第一个竞品标签'] = df_jingpin['竞品的标签'].astype(object).apply(lambda x: x[0])
# df_jingpin['第一个竞品标签'].value_counts()
# df_jingpin['竞品的标签']

In [44]:
new_df_jingpin = pd.DataFrame(df_jingpin['企业编号'].value_counts())
new_df_jingpin.columns = ['竞品数量']
new_df_jingpin['企业编号'] = new_df_jingpin.index
new_df_jingpin.sort_values(by=['企业编号'], inplace=True)
new_df_jingpin = new_df_jingpin[['企业编号', '竞品数量']]
new_df_jingpin = new_df_jingpin.set_index(np.arange(0, len(new_df_jingpin)))
new_df_jingpin.head(n=20)

    企业编号  竞品数量
0   1001    12
1   1002     1
2   1003    17
3   1004     7
4   1005    19
5   1006     3
6   1007     1
7   1009    34
8   1010    20
9   1011    20
10  1012     3
11  1013    19
12  1014    20
13  1015    19
14  1016    19
15  1017    19
16  1018     8
17  1019     2
18  1020    24
19  1021    10

In [45]:
merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli, new_df_jingpin,
                                                                     on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin.head(n=5)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量,android,...,miniapp,website,wechat,weibo,发明专利,发明公布,发明授权,外观设计,实用新型,竞品数量
0,1001,1,1,1,1,2,1,1,9,4,...,0,10,0,0,0,4,0,0,0,12
1,1002,2,0,1,1,1,2,0,0,1,...,0,4,1,1,0,1,0,0,1,1
2,1003,2,0,1,1,1,0,1,442,0,...,0,1,1,1,0,141,61,469,956,17
3,1005,6,0,1,0,0,0,0,5,0,...,0,0,0,0,0,6,2,0,6,19
4,1006,2,1,1,1,1,1,0,6,1,...,0,1,0,0,0,12,5,2,8,3

# 商标

In [46]:
# df_shangbiao_bkp=pd.read_excel(r'../../Data/CompInfo/商标.xlsx')

In [47]:
# df_shangbiao = df_shangbiao_bkp.copy()
# df_shangbiao.info()

In [48]:
# new_df_shangbiao = df_shangbiao.loc[(df_shangbiao['专用权期限结束日期'].notnull())]
# new_df_shangbiao = df_shangbiao.loc[(df_shangbiao['商标状态'].notnull())]
# # new_df_shangbiao['商标状态'].value_counts()

In [49]:
# finished = ['商标已注册',
#             '注册',
#             '商标注册申请完成',
#             '商标续展完成',
#             '商标变更完成',
#             '变更商标申请人/注册人名义/地址完成',
#             '商标注册申请注册公告排版完成',
#             '商标无效',
#             '商标转让完成',
#             '出具商标注册证明完成']
# new_df_shangbiao.loc[(new_df_shangbiao['商标状态'].str.contains('[商标已注册|注册|商标注册申请完成|商标续展完成|商标变更完成|变更商标申请人/注册人名义/地址完成|商标注册申请注册公告排版完成|商标转让完成|出具商标注册证明完成]'))]

# 购地

In [50]:
df_goudi_bkp = pd.read_excel(r'../../Data/CompInfo/购地-地块公示.xlsx')

In [52]:
df_goudi = df_goudi_bkp.copy()

In [53]:
df_goudi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20033 entries, 0 to 20032
Data columns (total 9 columns):
企业编号        20033 non-null int64
行政区         19993 non-null object
时间          20033 non-null object
公示日期        5046 non-null object
土地用途        20027 non-null object
土地面积（公顷）    20033 non-null float64
出让年限        3970 non-null object
成交价（万元）     4894 non-null float64
土地使用条件      2032 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 1.4+ MB

In [74]:
df_goudi['土地用途'].value_counts()

工业用地                 7643
商服用地                 1953
住宅用地                 1904
其他普通商品住房用地           1630
其他商服用地               1496
工矿仓储用地               1106
批发零售用地                698
公共设施用地                575
公路用地                  460
其他土地                  418
商务金融用地                402
中低价位、中小套型普通商品住房用地     352
仓储用地                  216
管道运输用地                152
住宿餐饮用地                141
采矿用地                  132
科教用地                   89
高档住宅用地                 70
经济适用住房用地               68
水库水面                   48
071                    45
港口码头用地                 43
水工建筑用地                 37
05                     35
空闲地                    34
其他住房用地                 34
061                    31
06                     21
公共租赁住房用地               18
交通运输用地                 16
                     ...
机关团体用地                 15
风景名胜设施用地               13
公共管理与公共服务用地            11
07                     11
铁路用地                   10
机场用地                    9
廉租住房用地                  8
街巷用地                    7
医卫慈善用地                  6
100                     5
新闻出版用地                  4
054                     4
特殊用地                    4
05、07                   2
殡葬用地                    2
051                     2
12                      2
073                     2
074                     1
设施农用地                   1
公园与绿地                   1
052                     1
水域及水利设施用地               1
086                     1
坑塘水面                    1
083                     1
077                     1
军事设施用地                  1
08                      1
063                     1
Name: 土地用途, Length: 62, dtype: int64

In [58]:
df_goudi['土地面积（公顷）'] = df_goudi['土地面积（公顷）'].astype(float)

In [73]:
goudi_grouped = df_goudi.groupby(['企业编号'])

agg_goudi_func = {
    '土地面积（公顷）': ['sum', 'min', 'max']
}
goudi_grouped_info = goudi_grouped.agg(agg_goudi_func)
goudi_grouped_info.columns = [
    '_'.join(col).strip() for col in goudi_grouped_info.columns.values]
goudi_grouped_info['企业编号'] = goudi_grouped_info.index
goudi_grouped_info = goudi_grouped_info.set_index(
    np.arange(0, len(goudi_grouped_info)))

merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin_goudi = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin, goudi_grouped_info,
                                                                                   on='企业编号', how='outer')).fillna(0)
merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin_goudi.head(
    n=5)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量,android,...,weibo,发明专利,发明公布,发明授权,外观设计,实用新型,竞品数量,土地面积（公顷）_sum,土地面积（公顷）_min,土地面积（公顷）_max
0,1001,1.0,1.0,1.0,1.0,2.0,1.0,1.0,9.0,4.0,...,0.0,0.0,4.0,0.0,0.0,0.0,12.0,158135.998846,0.00030,80001.80000
1,1002,2.0,0.0,1.0,1.0,1.0,2.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.000000,0.00000,0.00000
2,1003,2.0,0.0,1.0,1.0,1.0,0.0,1.0,442.0,0.0,...,1.0,0.0,141.0,61.0,469.0,956.0,17.0,55.668100,4.15927,41.40896
3,1005,6.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,6.0,2.0,0.0,6.0,19.0,2.935250,2.93525,2.93525
4,1006,2.0,1.0,1.0,1.0,1.0,1.0,0.0,6.0,1.0,...,0.0,0.0,12.0,5.0,2.0,8.0,3.0,0.000000,0.00000,0.00000

# 海关进出口信用

In [75]:
df_haiguan_bkp = pd.read_excel(r'../../Data/CompInfo/海关进出口信用.xlsx')

In [76]:
df_haiguan = df_haiguan_bkp.copy()

In [77]:
df_haiguan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 6 columns):
企业编号      2609 non-null int64
经济区划      2608 non-null object
经营类别      2607 non-null object
海关注销标志    1774 non-null object
年报情况      2609 non-null object
信用等级      1355 non-null object
dtypes: int64(1), object(5)
memory usage: 122.4+ KB

In [79]:
df_haiguan['经营类别'].value_counts()

进出口收发货人       2571
加工生产企业          20
报关企业             6
保税仓库             5
临时注册企业           3
进出口运输工具负责人       1
0000000001       1
Name: 经营类别, dtype: int64

In [80]:
df_haiguan['信用等级'].value_counts()

一般信用企业    913
一般认证企业    318
高级认证企业    123
失信企业        1
Name: 信用等级, dtype: int64

# 招投标

In [81]:
df_zhaotoubiao_bkp = pd.read_excel(r'../../Data/CompInfo/招投标.xlsx')

In [82]:
df_zhaotoubiao = df_zhaotoubiao_bkp.copy()

In [83]:
df_zhaotoubiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158309 entries, 0 to 158308
Data columns (total 5 columns):
企业编号     158309 non-null int64
公告类型     146194 non-null object
中标或招标    158309 non-null object
省份       158309 non-null object
发布时间     158309 non-null object
dtypes: int64(1), object(4)
memory usage: 6.0+ MB

In [84]:
df_zhaotoubiao['中标或招标'].value_counts()

中标    139286
招标     19023
Name: 中标或招标, dtype: int64

In [85]:
df_zhaotoubiao['公告类型'].value_counts()

中标       110781
成交        17653
合同        11509
预告         2777
其它         1233
招标          984
废标          559
单一          210
流标          188
变更          145
询价           85
竞谈           23
拟建           18
验收           15
结果变更          8
公开招标          2
竞价            1
其他            1
违规            1
竞争性谈判         1
Name: 公告类型, dtype: int64

In [92]:
new_df_zhaotoubiao = df_zhaotoubiao.groupby(
    ['企业编号', '中标或招标'])['中标或招标'].count().unstack()


new_df_zhaotoubiao['企业编号'] = new_df_zhaotoubiao.index
new_df_zhaotoubiao.sort_values(by=['企业编号'], inplace=True)
new_df_zhaotoubiao = new_df_zhaotoubiao[['企业编号', '中标', '招标']]
new_df_zhaotoubiao = new_df_zhaotoubiao.set_index(
    np.arange(0, len(new_df_zhaotoubiao)))
new_df_zhaotoubiao.head(n=20)

中标或招标  企业编号    中标     招标
0      1001  74.0   38.0
1      1002   8.0  318.0
2      1003  17.0    8.0
3      1004   NaN    2.0
4      1005  46.0    5.0
5      1006   NaN   39.0
6      1007  20.0    1.0
7      1008  24.0  107.0
8      1009   NaN    9.0
9      1010  37.0    1.0
10     1011  36.0    2.0
11     1012   NaN   27.0
12     1013   NaN   18.0
13     1014   3.0   42.0
14     1015   NaN  137.0
15     1016   NaN   15.0
16     1019   4.0  109.0
17     1021   NaN    5.0
18     1022  17.0    1.0
19     1023  10.0  134.0

In [93]:
merge_zhaotuobiao = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli_jingpin_goudi, new_df_zhaotoubiao,
                              on='企业编号', how='outer')).fillna(0)
merge_zhaotuobiao.head(
    n=5)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量,android,...,发明公布,发明授权,外观设计,实用新型,竞品数量,土地面积（公顷）_sum,土地面积（公顷）_min,土地面积（公顷）_max,中标,招标
0,1001,1.0,1.0,1.0,1.0,2.0,1.0,1.0,9.0,4.0,...,4.0,0.0,0.0,0.0,12.0,158135.998846,0.00030,80001.80000,74.0,38.0
1,1002,2.0,0.0,1.0,1.0,1.0,2.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.000000,0.00000,0.00000,8.0,318.0
2,1003,2.0,0.0,1.0,1.0,1.0,0.0,1.0,442.0,0.0,...,141.0,61.0,469.0,956.0,17.0,55.668100,4.15927,41.40896,17.0,8.0
3,1005,6.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,...,6.0,2.0,0.0,6.0,19.0,2.935250,2.93525,2.93525,46.0,5.0
4,1006,2.0,1.0,1.0,1.0,1.0,1.0,0.0,6.0,1.0,...,12.0,5.0,2.0,8.0,3.0,0.000000,0.00000,0.00000,0.0,39.0

In [96]:
df_dikuaigongshi=pd.read_excel('../../Data/CompInfo/购地-市场交易-土地抵押.xlsx')

In [97]:
df_dikuaigongshi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33744 entries, 0 to 33743
Data columns (total 11 columns):
企业编号              33744 non-null int64
土地抵押人性质           24353 non-null object
抵押面积(公顷)          26410 non-null float64
土地用途              33737 non-null object
抵押土地用途            26403 non-null object
抵押土地权属性质与使用权类型    25843 non-null object
土地面积              33743 non-null float64
评估金额(万元)          25479 non-null float64
抵押金额(万元)          26387 non-null float64
土地抵押登记起始时间        33744 non-null object
土地抵押登记结束时间        26405 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 2.8+ MB