In [2]:
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import warnings
import time
from collections import Counter
warnings.filterwarnings("ignore")


plt.style.use("fivethirtyeight")

sns.set_style({'font.sans-serif': ['simsun', 'Arial']})
sns.set_style('darkgrid', {'font.sans-serif': ['simhei', 'Arial']})
%matplotlib inline

# 软著著作权

In [3]:
df_soft_bpk = pd.read_excel(r'../../Data/CompInfo/软著著作权.xlsx')
df_soft = df_soft_bpk.copy()

In [4]:
df_soft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36858 entries, 0 to 36857
Data columns (total 4 columns):
企业编号           36858 non-null int64
软件全称           36858 non-null object
软件著作权版本号       30878 non-null object
软件著作权登记批准日期    36818 non-null object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [5]:
new_df_soft = pd.DataFrame(df_soft['企业编号'].value_counts())
new_df_soft.columns = ['软著数量']
new_df_soft['企业编号'] = new_df_soft.index
new_df_soft.sort_values(by=['企业编号'], inplace=True)
new_df_soft = new_df_soft[['企业编号', '软著数量']]
new_df_soft = new_df_soft.set_index(np.arange(0, len(new_df_soft)))
# new_df_soft['软著数量'].describe()
# new_df_soft.info()

# 作品著作

In [6]:
df_zuopin_bpk = pd.read_excel(r'../../Data/CompInfo/作品著作权.xlsx')
df_zuopin = df_zuopin_bpk.copy()

In [7]:
df_zuopin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33555 entries, 0 to 33554
Data columns (total 5 columns):
企业编号           33555 non-null int64
作品著作权类别        33379 non-null object
作品著作权登记日期      33178 non-null object
作品著作权创作完成日期    32177 non-null object
作品著作权首次发布日期    22118 non-null object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB

In [8]:
df_zuopin = df_zuopin_bpk.copy()
df_zuopin['作品著作权类别'].value_counts()

美术                     15292
文字                     12532
F 美术                    1610
类似摄制电影方法创作的作品            929
其他                       787
工程设计图、产品设计图              556
摄影                       436
美术作品                     333
L 其他作品                   226
地图、示意图                   187
图形                       182
J 工程设计图、产品设计图             78
变更                        51
音乐                        29
文字作品                      26
作品著作权证书                   23
I 类似摄制电影方法创作作品            18
B 音乐                      16
摄影作品                      13
工程设计图、产品设计图作品              8
建筑                         5
A 文字                       5
模型                         4
上海明师科技发展有限公司               4
音乐作品                       2
G 摄影                       2
佛山市顺德区孔雀廊娱乐唱片有限公司          2
张斌                         2
赵炜坚                        2
西域圣果                       1
电影作品和类似摄制电影的方法创造的作品        1
上海浦东新区陆家嘴财富管理培训中心          1
其他作品                       1
舞蹈                         1
H 电影                       1
上海畅声网络科技有限公司               1
李鹏                         1
万全                         1
上海思茸信息科技有限公司               1
电影和类似摄制电影方法创作的作品           1
张记皇冠                       1
K 地图、示意图                   1
上海烛龙信息科技有限公司               1
高学网络科技（上海）有限公司             1
曲艺                         1
电影                         1
澄心轩                        1
陈宇鹏                        1
Name: 作品著作权类别, dtype: int64

In [9]:
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'[A-Z]{1}\s', '', regex=True)
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'作品', '', regex=True)
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'类似摄制电影方法创作','电影和类似摄制电影方法创作', regex=True)
# df_zuopin['作品著作权类别'].value_counts()

In [10]:
new_df_zuopin = pd.DataFrame(df_zuopin['企业编号'].value_counts())
new_df_zuopin.columns = ['作品著作数量']
new_df_zuopin['企业编号'] = new_df_zuopin.index
new_df_zuopin.sort_values(by=['企业编号'], inplace=True)
new_df_zuopin = new_df_zuopin[['企业编号', '作品著作数量']]
new_df_zuopin = new_df_zuopin.set_index(np.arange(0, len(new_df_zuopin)))
new_df_zuopin.head(n=20)

    企业编号  作品著作数量
0   1001       1
1   1004       6
2   1006       1
3   1011       3
4   1015       1
5   1019       4
6   1024    5726
7   1028       1
8   1043      31
9   1045       3
10  1048       1
11  1051       2
12  1055       3
13  1056      10
14  1061       7
15  1066      32
16  1070      15
17  1073       1
18  1080       5
19  1083       3

In [11]:
merge_zhuzuo_zuopin = (pd.merge(new_df_soft, new_df_zuopin,
                                on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin.head(n=10)

   企业编号  软著数量  作品著作数量
0  1001     1       1
1  1002     2       0
2  1003     2       0
3  1005     6       0
4  1006     2       1
5  1011    13       3
6  1012    15       0
7  1013     4       0
8  1014    41       0
9  1019    20       4

In [12]:
# merge.to_excel(r'./PreprocessedData/软件与作品著作权.xlsx', index=False)

# 项目信息

In [13]:
df_project_bkp = pd.read_excel(r'../../Data/CompInfo/项目信息.xlsx')
df_project = df_project_bkp.copy()

In [14]:
df_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054 entries, 0 to 3053
Data columns (total 7 columns):
企业编号      3054 non-null int64
行业        170 non-null object
标签        3047 non-null object
企业规模      168 non-null object
运营状态      2934 non-null object
简介        3026 non-null object
项目成立时间    2876 non-null object
dtypes: int64(1), object(6)
memory usage: 167.1+ KB

In [15]:
df_project['运营状态'].value_counts()

运营中    2932
融资中       2
Name: 运营状态, dtype: int64

In [16]:
new_df_project = pd.DataFrame(
    df_project.loc[(df_project['运营状态'] == '运营中'), '企业编号'].value_counts())
new_df_project.columns = ['项目数量']
new_df_project['企业编号'] = new_df_project.index
new_df_project.sort_values(by=['企业编号'], inplace=True)
new_df_project = new_df_project[['企业编号', '项目数量']]
new_df_project = new_df_project.set_index(np.arange(0, len(new_df_project)))
new_df_project.head(n=20)

    企业编号  项目数量
0   1001     1
1   1002     1
2   1003     1
3   1004     1
4   1005     1
5   1006     1
6   1007     1
7   1008     1
8   1009     2
9   1010     1
10  1011     1
11  1012     1
12  1013     1
13  1015     1
14  1016     1
15  1017     1
16  1018     1
17  1019     1
18  1020     1
19  1021     1

In [17]:
merge_zhuzuo_zuopin_project = (pd.merge(merge_zhuzuo_zuopin, new_df_project,
                                        on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project.head(n=20)

    企业编号  软著数量  作品著作数量  项目数量
0   1001     1       1     1
1   1002     2       0     1
2   1003     2       0     1
3   1005     6       0     1
4   1006     2       1     1
5   1011    13       3     1
6   1012    15       0     1
7   1013     4       0     1
8   1014    41       0     0
9   1019    20       4     1
10  1021    16       0     1
11  1022   473       0     1
12  1023     1       0     1
13  1024     9    5726     1
14  1025    28       0     1
15  1029   114       0     1
16  1038    44       0     1
17  1043   449      31     1
18  1048   115       1     1
19  1050    17       0     1

# 纳税A级年份

In [18]:
df_nashuiyear_bkp = pd.read_excel(r'../../Data/CompInfo/纳税A级年份.xlsx')
df_nashuiyear = df_nashuiyear_bkp.copy()

In [19]:
df_nashuiyear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 2 columns):
企业编号      7927 non-null int64
纳税A级年份    7927 non-null int64
dtypes: int64(2)
memory usage: 123.9 KB

In [20]:
df_nashuiyear['纳税A级年份'].value_counts()

2016    2380
2017    1978
2015    1858
2014    1711
Name: 纳税A级年份, dtype: int64

In [21]:
new_df_nashuiyear = df_nashuiyear.groupby(['企业编号', '纳税A级年份'])[
    '纳税A级年份'].count().unstack()

new_df_nashuiyear['企业编号'] = new_df_nashuiyear.index
new_df_nashuiyear = new_df_nashuiyear[['企业编号', 2014, 2015, 2016, 2017]]
columns = {'企业编号': '企业编号', 2014: '纳税A级年份_2014', 2015: '纳税A级年份_2015',
           2016: '纳税A级年份_2016', 2017: '纳税A级年份_2017'}
columns = ['企业编号', '纳税A级年份_2014', '纳税A级年份_2015', '纳税A级年份_2016', '纳税A级年份_2017']
# new_df_nashuiyear.rename(columns, inplace=True)
new_df_nashuiyear.columns = columns
new_df_nashuiyear = new_df_nashuiyear.set_index(
    np.arange(0, len(new_df_nashuiyear))).fillna(0).astype(int)
new_df_nashuiyear.head(n=5)

   企业编号  纳税A级年份_2014  纳税A级年份_2015  纳税A级年份_2016  纳税A级年份_2017
0  1001            1            2            1            1
1  1002            1            1            2            0
2  1003            1            1            0            1
3  1004            0            0            2            1
4  1006            1            1            1            0

In [22]:
merge_zhuzuo_zuopin_project_nashui = (pd.merge(merge_zhuzuo_zuopin_project, new_df_nashuiyear,
                                               on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017
0,1001,1,1,1,1,2,1,1
1,1002,2,0,1,1,1,2,0
2,1003,2,0,1,1,1,0,1
3,1005,6,0,1,0,0,0,0
4,1006,2,1,1,1,1,1,0
5,1011,13,3,1,0,0,0,1
6,1012,15,0,1,1,1,1,1
7,1013,4,0,1,1,0,1,1
8,1014,41,0,0,1,1,1,1
9,1019,20,4,1,0,1,0,0
10,1021,16,0,1,0,1,0,0
11,1022,473,0,1,1,0,0,1
12,1023,1,0,1,1,1,2,2
13,1024,9,5726,1,1,1,2,1
14,1025,28,0,1,1,0,0,0
15,1029,114,0,1,1,1,2,1
16,1038,44,0,1,0,1,1,1
17,1043,449,31,1,1,1,2,1
18,1048,115,1,1,1,2,2,1
19,1050,17,0,1,1,1,1,1

# 融资情况

In [23]:
# df_rongzi_bkp = pd.read_excel(r'../../Data/CompInfo/融资信息.xlsx')
# df_rongzi = df_rongzi_bkp.copy()

In [24]:
# df_rongzi.info()

In [25]:
# df_rongzi['轮次'].value_counts()

# 资质认证

In [26]:
df_zizhi_bkp = pd.read_excel(r'../../Data/CompInfo/资质认证.xlsx')
df_zizhi = df_zizhi_bkp.copy()

In [27]:
df_zizhi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169898 entries, 0 to 169897
Data columns (total 5 columns):
企业编号       169898 non-null int64
证书名称       169898 non-null object
有效期起止日期    161662 non-null object
有效期截至日期    124035 non-null object
状态         148665 non-null object
dtypes: int64(1), object(4)
memory usage: 6.5+ MB

In [28]:
df_zizhi = df_zizhi_bkp.copy()
df_zizhi['状态'].value_counts()

有效           70917
已注销          28220
注销           15805
已撤销          12601
过期失效          9762
撤销            9719
暂停             580
已暂停            494
当前批件           238
已过期            212
延续              41
变更              23
正常              16
历史批件            14
旧版               7
注销(非申请)          5
新立               5
无效（依申请注销）        3
无效（逾期未换证）        2
证书注销             1
Name: 状态, dtype: int64

In [29]:
status = ['有效', '延续', '变更', '正常', '新立']
new_df_zizhi = df_zizhi.loc[(df_zizhi['有效期截至日期'].notnull())]
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['状态'].notnull())]
new_df_zizhi['有效期截至日期'] = pd.to_datetime(new_df_zizhi['有效期截至日期'])

nowtime = pd.to_datetime(time.strftime(
    '%Y-%m-%d', time.localtime(time.time())))
# new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'].notnull())]
# df_zizhi = df_zizhi.loc[(df_zizhi['状态 '] == '有效')]

In [30]:
new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'] > nowtime)]
new_df_zizhi['状态'].value_counts()

有效      59240
已注销      3252
注销       2198
已撤销      1425
撤销       1146
已暂停       481
暂停        433
过期失效       47
延续         22
变更         18
正常         16
旧版          7
新立          5
证书注销        1
Name: 状态, dtype: int64

In [31]:
new_df_zizhi = new_df_zizhi.loc[(
    new_df_zizhi['状态'].str.contains('[有效|延续|变更|正常|新立]'))]
new_df_zizhi['证书名称'].value_counts()
# new_df_zizhi = new_df_zizhi.groupby(
#     ['企业编号', '证书名称'])['证书名称'].count().unstack()
# new_df_zizhi.head(n=10)

CCC产品认证证书                         26822
CCC/机动车辆及安全附件                      4875
CCC/家用和类似用途设备                      4362
所有未列明的其他服务认证                       4006
CCC/音视频设备                          2349
CCC/低压电器                           2146
其他自愿性工业产品认证                        1976
CCC/信息技术设备                         1903
质量管理体系认证（ISO9000）                  1696
环境管理体系认证                           1441
中国职业健康安全管理体系认证                     1227
CCC/电信终端设备                         1212
CCC/照明电器                            726
CCC/儿童用品                            369
CCC/电焊机                             352
汽车行业质量管理体系认证                        261
企业知识产权管理体系认证                        223
CCC/消防产品                            212
CCC/安全玻璃                            204
CCC/电路开关及保护或连接用电器装置                 191
铁路产品认证                              182
CCC/小功率电动机                          174
信息安全管理体系认证                          162
CCC/机动车辆轮胎                          161
测量管理体系                              153
知识产权管理体系                            150
能源管理体系认证                            149
CCC/电线电缆                            126
电子信息产品污染控制自愿性认证                     114
绿色食品认证                              103
                                  ...
企业社会责任管理体系认证                         17
医疗器械生产企业许可证                          16
有机产品（OGA）                            14
中国食品农产品认证                            14
医疗器械经营企业许可证                          11
电讯业质量管理体系认证                          11
药品生产企业                               10
城市轨道交通产品认证                            9
航空业质量管理体系认证                           9
乳制品生产企业危害分析与关键控制点(HACCP)体系认证          8
信息安全产品认证（未列入强制性产品认证目录内的信息安全产品）        6
乳制品生产企业良好生产规范认证                       5
森林认证PEFC                              4
节能产品认证（不含建筑节能）                        4
中国森林认证                                4
防爆电气产品认证                              3
CCC/农机产品                              3
可再生能源/新能源                             3
静电防护标准认证                              3
低碳产品认证-纺织面料                           2
良好农业规范（GAP）                           2
无公害农产品                                2
信息安全服务资质认证                            1
供应链安全管理体系认证                           1
验证合格评定程序认证                            1
药品经营企业                                1
低碳产品认证                                1
德国汽车工业协会质量管理体系认证                      1
软件过程能力及成熟度评估认证                        1
GSP认证证书                               1
Name: 证书名称, Length: 82, dtype: int64

In [32]:
new_df_zizhi = pd.DataFrame(new_df_zizhi['企业编号'].value_counts())
new_df_zizhi.columns = ['资质证书数量']
new_df_zizhi['企业编号'] = new_df_zizhi.index
new_df_zizhi.sort_values(by=['企业编号'], inplace=True)
new_df_zizhi = new_df_zizhi[['企业编号', '资质证书数量']]
new_df_zizhi = new_df_zizhi.set_index(np.arange(0, len(new_df_zizhi)))
new_df_zizhi.head(n=20)

    企业编号  资质证书数量
0   1001       9
1   1003     442
2   1004       1
3   1005       5
4   1006       6
5   1007       7
6   1008       1
7   1011       8
8   1013       1
9   1014       8
10  1016       6
11  1017       3
12  1018       6
13  1022      26
14  1023       1
15  1025      35
16  1028       8
17  1038       8
18  1039       1
19  1041       3

In [33]:
merge_zhuzuo_zuopin_project_nashui_zizhi = (pd.merge(merge_zhuzuo_zuopin_project_nashui, new_df_zizhi,
                                                     on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui_zizhi.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量
0,1001,1,1,1,1,2,1,1,9
1,1002,2,0,1,1,1,2,0,0
2,1003,2,0,1,1,1,0,1,442
3,1005,6,0,1,0,0,0,0,5
4,1006,2,1,1,1,1,1,0,6
5,1011,13,3,1,0,0,0,1,8
6,1012,15,0,1,1,1,1,1,0
7,1013,4,0,1,1,0,1,1,1
8,1014,41,0,0,1,1,1,1,8
9,1019,20,4,1,0,1,0,0,0
10,1021,16,0,1,0,1,0,0,0
11,1022,473,0,1,1,0,0,1,26
12,1023,1,0,1,1,1,2,2,1
13,1024,9,5726,1,1,1,2,1,0
14,1025,28,0,1,1,0,0,0,35
15,1029,114,0,1,1,1,2,1,0
16,1038,44,0,1,0,1,1,1,8
17,1043,449,31,1,1,1,2,1,1127
18,1048,115,1,1,1,2,2,1,429
19,1050,17,0,1,1,1,1,1,4

# 产品

In [34]:
df_product = pd.read_excel(r'../../Data/CompInfo/产品.xlsx')
new_df_product = df_product.groupby(
    ['企业编号', '产品类型'])['产品类型'].count().unstack()

new_df_product['企业编号'] = new_df_product.index
columns = ['企业编号', 'android', 'ios', 'miniapp', 'website', 'wechat', 'weibo']
new_df_product = pd.DataFrame(new_df_product, columns=columns)
new_df_product = new_df_product.set_index(np.arange(0, len(new_df_product)))
new_df_product.head(n=10)

   企业编号  android   ios  miniapp  website  wechat  weibo
0  1001      4.0  10.0      NaN     10.0     NaN    NaN
1  1002      1.0   6.0      NaN      4.0     1.0    1.0
2  1003      NaN   NaN      NaN      1.0     1.0    1.0
3  1004      2.0   2.0      NaN      6.0     NaN    NaN
4  1006      1.0   2.0      NaN      1.0     NaN    NaN
5  1007      NaN   NaN      NaN      1.0     NaN    NaN
6  1009      NaN   NaN      NaN      3.0     NaN    NaN
7  1010      5.0   9.0      NaN      3.0     NaN    NaN
8  1011      6.0   9.0      NaN      4.0     1.0    NaN
9  1013      NaN   NaN      NaN      3.0     NaN    NaN

In [35]:
merge_zhuzuo_zuopin_project_nashui_zizhi_product = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi, new_df_product,
                                                             on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui_zizhi_product.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量,android,ios,miniapp,website,wechat,weibo
0,1001,1,1,1,1,2,1,1,9,4,10,0,10,0,0
1,1002,2,0,1,1,1,2,0,0,1,6,0,4,1,1
2,1003,2,0,1,1,1,0,1,442,0,0,0,1,1,1
3,1005,6,0,1,0,0,0,0,5,0,0,0,0,0,0
4,1006,2,1,1,1,1,1,0,6,1,2,0,1,0,0
5,1011,13,3,1,0,0,0,1,8,6,9,0,4,1,0
6,1012,15,0,1,1,1,1,1,0,0,0,0,0,0,0
7,1013,4,0,1,1,0,1,1,1,0,0,0,3,0,0
8,1014,41,0,0,1,1,1,1,8,0,0,0,1,1,0
9,1019,20,4,1,0,1,0,0,0,0,0,0,1,0,0
10,1021,16,0,1,0,1,0,0,0,0,0,0,1,0,0
11,1022,473,0,1,1,0,0,1,26,1,0,0,3,1,1
12,1023,1,0,1,1,1,2,2,1,1,2,0,1,1,1
13,1024,9,5726,1,1,1,2,1,0,6,11,0,3,0,0
14,1025,28,0,1,1,0,0,0,35,0,0,0,8,0,0
15,1029,114,0,1,1,1,2,1,0,3,4,0,10,0,1
16,1038,44,0,1,0,1,1,1,8,0,0,0,1,0,0
17,1043,449,31,1,1,1,2,1,1127,0,0,0,2,1,1
18,1048,115,1,1,1,2,2,1,429,6,1,0,5,0,1
19,1050,17,0,1,1,1,1,1,4,0,3,0,4,1,0

# 专利

In [36]:
df_zhuanli = pd.read_excel(r'../../Data/CompInfo/专利.xlsx')
df_zhuanli['专利类型'] = df_zhuanli['专利类型'].str.replace('更正', '', regex=True)

df_zhuanli['授权公告日'] = df_zhuanli['授权公告日'].str.replace(
    r'[^0-9\-]', '', regex=True)
df_zhuanli['申请日'] = df_zhuanli['申请日'].str.replace(r'[^0-9\-]', '', regex=True)

df_zhuanli['授权公告日'] = pd.to_datetime(df_zhuanli['授权公告日'])
df_zhuanli['申请日'] = pd.to_datetime(df_zhuanli['申请日'])

In [37]:
tmp1 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明专利')]
tmp1 = tmp1.loc[(abs(tmp1['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp2 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明公布')]
tmp2 = tmp2.loc[(abs(tmp2['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp3 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '发明授权')]
tmp3 = tmp3.loc[(abs(tmp3['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 20]

tmp4 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '外观设计')]
tmp4 = tmp4.loc[(abs(tmp4['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

tmp5 = df_zhuanli.loc[(df_zhuanli['专利类型'] == '实用新型')]
tmp5 = tmp5.loc[(abs(tmp5['申请日'].sub(pd.to_datetime(
    time.strftime('%Y-%m-%d', time.localtime(time.time()))), axis=0).dt.days)/365) <= 10]

filter_df_zhuanli = pd.concat([tmp1, tmp2, tmp3, tmp4, tmp5])

In [38]:
filter_df_zhuanli = filter_df_zhuanli.drop(columns=['授权公告日', '申请日'])
new_df_zhuanli = filter_df_zhuanli.groupby(
    ['企业编号', '专利类型'])['专利类型'].count().unstack()
new_df_zhuanli['企业编号'] = new_df_zhuanli.index
columns = ['企业编号', '发明专利', '发明公布', '发明授权', '外观设计', '实用新型']
new_df_zhuanli = pd.DataFrame(new_df_zhuanli, columns=columns)
new_df_zhuanli = new_df_zhuanli.set_index(np.arange(0, len(new_df_zhuanli)))
new_df_zhuanli.head(n=5)

   企业编号  发明专利   发明公布  发明授权   外观设计   实用新型
0  1001   NaN    4.0   NaN    NaN    NaN
1  1002   NaN    1.0   NaN    NaN    1.0
2  1003   NaN  141.0  61.0  469.0  956.0
3  1004   NaN    1.0   NaN    5.0    1.0
4  1005   NaN    6.0   2.0    NaN    6.0

In [39]:
merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli = (pd.merge(merge_zhuzuo_zuopin_project_nashui_zizhi_product, new_df_zhuanli,
                                                                     on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui_zizhi_product_zhuanli.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017,资质证书数量,android,ios,miniapp,website,wechat,weibo,发明专利,发明公布,发明授权,外观设计,实用新型
0,1001,1,1,1,1,2,1,1,9,4,10,0,10,0,0,0,4,0,0,0
1,1002,2,0,1,1,1,2,0,0,1,6,0,4,1,1,0,1,0,0,1
2,1003,2,0,1,1,1,0,1,442,0,0,0,1,1,1,0,141,61,469,956
3,1005,6,0,1,0,0,0,0,5,0,0,0,0,0,0,0,6,2,0,6
4,1006,2,1,1,1,1,1,0,6,1,2,0,1,0,0,0,12,5,2,8
5,1011,13,3,1,0,0,0,1,8,6,9,0,4,1,0,0,130,21,5,7
6,1012,15,0,1,1,1,1,1,0,0,0,0,0,0,0,0,2,1,1,9
7,1013,4,0,1,1,0,1,1,1,0,0,0,3,0,0,0,25,6,5,17
8,1014,41,0,0,1,1,1,1,8,0,0,0,1,1,0,0,5986,3455,0,3456
9,1019,20,4,1,0,1,0,0,0,0,0,0,1,0,0,0,117,25,0,68
10,1021,16,0,1,0,1,0,0,0,0,0,0,1,0,0,0,7,2,0,21
11,1022,473,0,1,1,0,0,1,26,1,0,0,3,1,1,0,54460,31757,62,13506
12,1023,1,0,1,1,1,2,2,1,1,2,0,1,1,1,0,27,3,0,1
13,1024,9,5726,1,1,1,2,1,0,6,11,0,3,0,0,0,0,0,0,0
14,1025,28,0,1,1,0,0,0,35,0,0,0,8,0,0,0,399,266,72,491
15,1029,114,0,1,1,1,2,1,0,3,4,0,10,0,1,0,0,0,0,0
16,1038,44,0,1,0,1,1,1,8,0,0,0,1,0,0,0,0,0,0,0
17,1043,449,31,1,1,1,2,1,1127,0,0,0,2,1,1,0,0,0,0,0
18,1048,115,1,1,1,2,2,1,429,6,1,0,5,0,1,0,0,0,0,0
19,1050,17,0,1,1,1,1,1,4,0,3,0,4,1,0,0,0,0,0,0

In [41]:
df_jingpin_bkp=pd.read_excel(r'../../Data/CompInfo/竞品.xlsx')

In [42]:
df_jingpin=df_jingpin_bkp.copy()

In [43]:
df_jingpin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33883 entries, 0 to 33882
Data columns (total 7 columns):
企业编号      33883 non-null int64
竞品的行业     2076 non-null object
竞品的标签     33875 non-null object
竞品轮次      23416 non-null object
竞品详细地址    31384 non-null object
竞品运营状态    31002 non-null object
竞品成立时间    31561 non-null object
dtypes: int64(1), object(6)
memory usage: 1.8+ MB

In [50]:
# df_jingpin.loc[(df_jingpin['竞品运营状态']=='运营中')]
df_jingpin['竞品的标签']=df_jingpin['竞品的标签'].str.split('\n')
df_jingpin['竞品的标签'].apply(lambda x: len(x))

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
33853    0
33854    0
33855    0
33856    0
33857    0
33858    0
33859    0
33860    0
33861    0
33862    0
33863    0
33864    0
33865    0
33866    0
33867    0
33868    0
33869    0
33870    0
33871    0
33872    0
33873    0
33874    0
33875    0
33876    0
33877    0
33878    0
33879    0
33880    0
33881    0
33882    0
Name: 竞品的标签, Length: 33883, dtype: int64