In [1]:
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import warnings
import time
warnings.filterwarnings("ignore")

plt.style.use("fivethirtyeight")

sns.set_style({'font.sans-serif': ['simsun', 'Arial']})
sns.set_style('darkgrid', {'font.sans-serif': ['simhei', 'Arial']})
%matplotlib inline

In [2]:
df_product_bkp = pd.read_excel(r'../../Data/CompInfo/产品.xlsx')

In [3]:
df_product = df_product_bkp.copy()

In [6]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13596 entries, 0 to 13595
Data columns (total 2 columns):
企业编号    13596 non-null int64
产品类型    13596 non-null object
dtypes: int64(1), object(1)
memory usage: 212.5+ KB

               企业编号
count  13596.000000
mean    2559.565755
std      869.221901
min     1001.000000
25%     1874.000000
50%     2505.500000
75%     3281.000000
max     4000.000000

In [9]:
new_df_product = df_product.groupby(
    ['企业编号', '产品类型'])['产品类型'].count().unstack()

new_df_product['企业编号'] = new_df_product.index
columns = ['企业编号', 'android', 'ios', 'miniapp', 'website', 'wechat', 'weibo']
new_df_product = pd.DataFrame(new_df_product, columns=columns)
new_df_product = new_df_product.set_index(np.arange(0, len(new_df_product)))
new_df_product.head(n=5)

   企业编号  android   ios  miniapp  website  wechat  weibo
0  1001      4.0  10.0      NaN     10.0     NaN    NaN
1  1002      1.0   6.0      NaN      4.0     1.0    1.0
2  1003      NaN   NaN      NaN      1.0     1.0    1.0
3  1004      2.0   2.0      NaN      6.0     NaN    NaN
4  1006      1.0   2.0      NaN      1.0     NaN    NaN

In [10]:
for c in ['android', 'ios', 'miniapp', 'website', 'wechat', 'weibo']:
    new_df_product.loc[(new_df_product[c].isnull() == True), c] = 0
    new_df_product[c] = new_df_product[c].astype(int)
display(new_df_product.head(n=5))

   企业编号  android  ios  miniapp  website  wechat  weibo
0  1001        4   10        0       10       0      0
1  1002        1    6        0        4       1      1
2  1003        0    0        0        1       1      1
3  1004        2    2        0        6       0      0
4  1006        1    2        0        1       0      0

In [11]:
new_df_product.to_excel(r'./产品（清洗）.xlsx', index=False)
len(new_df_product)