In [2]:
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import warnings
import time
from collections import Counter
warnings.filterwarnings("ignore")


plt.style.use("fivethirtyeight")

sns.set_style({'font.sans-serif': ['simsun', 'Arial']})
sns.set_style('darkgrid', {'font.sans-serif': ['simhei', 'Arial']})
%matplotlib inline

# 软著著作权

In [3]:
df_soft_bpk = pd.read_excel(r'../../Data/CompInfo/软著著作权.xlsx')
df_soft = df_soft_bpk.copy()

In [4]:
df_soft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36858 entries, 0 to 36857
Data columns (total 4 columns):
企业编号           36858 non-null int64
软件全称           36858 non-null object
软件著作权版本号       30878 non-null object
软件著作权登记批准日期    36818 non-null object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [5]:
new_df_soft = pd.DataFrame(df_soft['企业编号'].value_counts())
new_df_soft.columns = ['软著数量']
new_df_soft['企业编号'] = new_df_soft.index
new_df_soft.sort_values(by=['企业编号'], inplace=True)
new_df_soft = new_df_soft[['企业编号', '软著数量']]
new_df_soft = new_df_soft.set_index(np.arange(0, len(new_df_soft)))
# new_df_soft['软著数量'].describe()
# new_df_soft.info()

# 作品著作

In [6]:
df_zuopin_bpk = pd.read_excel(r'../../Data/CompInfo/作品著作权.xlsx')
df_zuopin = df_zuopin_bpk.copy()

In [7]:
df_zuopin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33555 entries, 0 to 33554
Data columns (total 5 columns):
企业编号           33555 non-null int64
作品著作权类别        33379 non-null object
作品著作权登记日期      33178 non-null object
作品著作权创作完成日期    32177 non-null object
作品著作权首次发布日期    22118 non-null object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB

In [8]:
df_zuopin = df_zuopin_bpk.copy()
df_zuopin['作品著作权类别'].value_counts()

美术                     15292
文字                     12532
F 美术                    1610
类似摄制电影方法创作的作品            929
其他                       787
工程设计图、产品设计图              556
摄影                       436
美术作品                     333
L 其他作品                   226
地图、示意图                   187
图形                       182
J 工程设计图、产品设计图             78
变更                        51
音乐                        29
文字作品                      26
作品著作权证书                   23
I 类似摄制电影方法创作作品            18
B 音乐                      16
摄影作品                      13
工程设计图、产品设计图作品              8
建筑                         5
A 文字                       5
上海明师科技发展有限公司               4
模型                         4
赵炜坚                        2
张斌                         2
佛山市顺德区孔雀廊娱乐唱片有限公司          2
音乐作品                       2
G 摄影                       2
电影和类似摄制电影方法创作的作品           1
上海浦东新区陆家嘴财富管理培训中心          1
上海思茸信息科技有限公司               1
西域圣果                       1
上海烛龙信息科技有限公司               1
万全                         1
张记皇冠                       1
电影                         1
其他作品                       1
上海畅声网络科技有限公司               1
高学网络科技（上海）有限公司             1
电影作品和类似摄制电影的方法创造的作品        1
李鹏                         1
H 电影                       1
澄心轩                        1
舞蹈                         1
陈宇鹏                        1
曲艺                         1
K 地图、示意图                   1
Name: 作品著作权类别, dtype: int64

In [9]:
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'[A-Z]{1}\s', '', regex=True)
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'作品', '', regex=True)
# df_zuopin['作品著作权类别'] = df_zuopin['作品著作权类别'].str.replace(
#     r'类似摄制电影方法创作','电影和类似摄制电影方法创作', regex=True)
# df_zuopin['作品著作权类别'].value_counts()

In [10]:
new_df_zuopin = pd.DataFrame(df_zuopin['企业编号'].value_counts())
new_df_zuopin.columns = ['作品著作数量']
new_df_zuopin['企业编号'] = new_df_zuopin.index
new_df_zuopin.sort_values(by=['企业编号'], inplace=True)
new_df_zuopin = new_df_zuopin[['企业编号', '作品著作数量']]
new_df_zuopin = new_df_zuopin.set_index(np.arange(0, len(new_df_zuopin)))
new_df_zuopin.head(n=20)

    企业编号  作品著作数量
0   1001       1
1   1004       6
2   1006       1
3   1011       3
4   1015       1
5   1019       4
6   1024    5726
7   1028       1
8   1043      31
9   1045       3
10  1048       1
11  1051       2
12  1055       3
13  1056      10
14  1061       7
15  1066      32
16  1070      15
17  1073       1
18  1080       5
19  1083       3

In [25]:
merge_zhuzuo_zuopin = (pd.merge(new_df_soft, new_df_zuopin,
                                on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin.head(n=10)

   企业编号  软著数量  作品著作数量
0  1001     1       1
1  1002     2       0
2  1003     2       0
3  1005     6       0
4  1006     2       1
5  1011    13       3
6  1012    15       0
7  1013     4       0
8  1014    41       0
9  1019    20       4

In [12]:
# merge.to_excel(r'./PreprocessedData/软件与作品著作权.xlsx', index=False)

# 项目信息

In [13]:
df_project_bkp = pd.read_excel(r'../../Data/CompInfo/项目信息.xlsx')
df_project = df_project_bkp.copy()

In [14]:
df_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054 entries, 0 to 3053
Data columns (total 7 columns):
企业编号      3054 non-null int64
行业        170 non-null object
标签        3047 non-null object
企业规模      168 non-null object
运营状态      2934 non-null object
简介        3026 non-null object
项目成立时间    2876 non-null object
dtypes: int64(1), object(6)
memory usage: 167.1+ KB

In [15]:
df_project['运营状态'].value_counts()

运营中    2932
融资中       2
Name: 运营状态, dtype: int64

In [20]:
new_df_project = pd.DataFrame(
    df_project.loc[(df_project['运营状态'] == '运营中'), '企业编号'].value_counts())
new_df_project.columns = ['项目数量']
new_df_project['企业编号'] = new_df_project.index
new_df_project.sort_values(by=['企业编号'], inplace=True)
new_df_project = new_df_project[['企业编号', '项目数量']]
new_df_project = new_df_project.set_index(np.arange(0, len(new_df_project)))
new_df_project.head(n=20)

    企业编号  项目数量
0   1001     1
1   1002     1
2   1003     1
3   1004     1
4   1005     1
5   1006     1
6   1007     1
7   1008     1
8   1009     2
9   1010     1
10  1011     1
11  1012     1
12  1013     1
13  1015     1
14  1016     1
15  1017     1
16  1018     1
17  1019     1
18  1020     1
19  1021     1

In [26]:
merge_zhuzuo_zuopin_project = (pd.merge(merge_zhuzuo_zuopin, new_df_project,
                                        on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project.head(n=20)

    企业编号  软著数量  作品著作数量  项目数量
0   1001     1       1     1
1   1002     2       0     1
2   1003     2       0     1
3   1005     6       0     1
4   1006     2       1     1
5   1011    13       3     1
6   1012    15       0     1
7   1013     4       0     1
8   1014    41       0     0
9   1019    20       4     1
10  1021    16       0     1
11  1022   473       0     1
12  1023     1       0     1
13  1024     9    5726     1
14  1025    28       0     1
15  1029   114       0     1
16  1038    44       0     1
17  1043   449      31     1
18  1048   115       1     1
19  1050    17       0     1

# 纳税A级年份

In [27]:
df_nashuiyear_bkp = pd.read_excel(r'../../Data/CompInfo/纳税A级年份.xlsx')
df_nashuiyear = df_nashuiyear_bkp.copy()

In [28]:
df_nashuiyear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 2 columns):
企业编号      7927 non-null int64
纳税A级年份    7927 non-null int64
dtypes: int64(2)
memory usage: 123.9 KB

In [29]:
df_nashuiyear['纳税A级年份'].value_counts()

2016    2380
2017    1978
2015    1858
2014    1711
Name: 纳税A级年份, dtype: int64

In [46]:
new_df_nashuiyear = df_nashuiyear.groupby(['企业编号', '纳税A级年份'])[
    '纳税A级年份'].count().unstack()

new_df_nashuiyear['企业编号'] = new_df_nashuiyear.index
new_df_nashuiyear = new_df_nashuiyear[['企业编号', 2014, 2015, 2016, 2017]]
columns = {'企业编号': '企业编号', 2014: '纳税A级年份_2014', 2015: '纳税A级年份_2015',
           2016: '纳税A级年份_2016', 2017: '纳税A级年份_2017'}
columns = ['企业编号', '纳税A级年份_2014', '纳税A级年份_2015', '纳税A级年份_2016', '纳税A级年份_2017']
# new_df_nashuiyear.rename(columns, inplace=True)
new_df_nashuiyear.columns = columns
new_df_nashuiyear = new_df_nashuiyear.set_index(
    np.arange(0, len(new_df_nashuiyear))).fillna(0).astype(int)
new_df_nashuiyear.head(n=5)

   企业编号  纳税A级年份_2014  纳税A级年份_2015  纳税A级年份_2016  纳税A级年份_2017
0  1001            1            2            1            1
1  1002            1            1            2            0
2  1003            1            1            0            1
3  1004            0            0            2            1
4  1006            1            1            1            0

In [47]:
merge_zhuzuo_zuopin_project_nashui = (pd.merge(merge_zhuzuo_zuopin_project, new_df_nashuiyear,
                                               on='企业编号', how='outer')).fillna(0).astype(int)
merge_zhuzuo_zuopin_project_nashui.head(n=20)

,企业编号,软著数量,作品著作数量,项目数量,纳税A级年份_2014,纳税A级年份_2015,纳税A级年份_2016,纳税A级年份_2017
0,1001,1,1,1,1,2,1,1
1,1002,2,0,1,1,1,2,0
2,1003,2,0,1,1,1,0,1
3,1005,6,0,1,0,0,0,0
4,1006,2,1,1,1,1,1,0
5,1011,13,3,1,0,0,0,1
6,1012,15,0,1,1,1,1,1
7,1013,4,0,1,1,0,1,1
8,1014,41,0,0,1,1,1,1
9,1019,20,4,1,0,1,0,0
10,1021,16,0,1,0,1,0,0
11,1022,473,0,1,1,0,0,1
12,1023,1,0,1,1,1,2,2
13,1024,9,5726,1,1,1,2,1
14,1025,28,0,1,1,0,0,0
15,1029,114,0,1,1,1,2,1
16,1038,44,0,1,0,1,1,1
17,1043,449,31,1,1,1,2,1
18,1048,115,1,1,1,2,2,1
19,1050,17,0,1,1,1,1,1

# 融资情况

In [49]:
# df_rongzi_bkp = pd.read_excel(r'../../Data/CompInfo/融资信息.xlsx')
# df_rongzi = df_rongzi_bkp.copy()

In [51]:
# df_rongzi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4526 entries, 0 to 4525
Data columns (total 4 columns):
企业编号    4526 non-null int64
融资日期    4516 non-null object
轮次      4526 non-null object
投资金额    4482 non-null object
dtypes: int64(1), object(3)
memory usage: 141.5+ KB

In [52]:
# df_rongzi['轮次'].value_counts()

IPO        2886
战略投资        629
A轮          283
上市          138
主板定向增发      126
B轮           94
天使轮          80
股权转让         79
被收购          36
C轮           34
新三板          29
Pre-A轮       16
D轮           15
上市后          13
新三板定增        11
债权融资          9
IPO后          7
E轮            6
Pre-IPO       5
A+轮           5
私有化           5
后期阶段          4
E轮及以后         4
B+轮           3
种子轮           3
F轮            2
并购            2
战略合并          1
C+轮           1
Name: 轮次, dtype: int64

# 资质认证

In [53]:
df_zizhi_bkp = pd.read_excel(r'../../Data/CompInfo/资质认证.xlsx')
df_zizhi = df_zizhi_bkp.copy()

In [54]:
df_zizhi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169898 entries, 0 to 169897
Data columns (total 5 columns):
企业编号       169898 non-null int64
证书名称       169898 non-null object
有效期起止日期    161662 non-null object
有效期截至日期    124035 non-null object
状态         148665 non-null object
dtypes: int64(1), object(4)
memory usage: 6.5+ MB

In [59]:
df_zizhi = df_zizhi_bkp.copy()
df_zizhi['状态'].value_counts()

有效           70917
已注销          28220
注销           15805
已撤销          12601
过期失效          9762
撤销            9719
暂停             580
已暂停            494
当前批件           238
已过期            212
延续              41
变更              23
正常              16
历史批件            14
旧版               7
注销(非申请)          5
新立               5
无效（依申请注销）        3
无效（逾期未换证）        2
证书注销             1
Name: 状态, dtype: int64

In [62]:
status = ['有效', '延续', '变更', '正常', '新立']
new_df_zizhi = df_zizhi.loc[(df_zizhi['状态'].notnull() and df_zizhi['有效期截至日期'].notnull())]
# new_df_zizhi = new_df_zizhi.loc[(new_df_zizhi['有效期截至日期'].notnull())]
# df_zizhi = df_zizhi.loc[(df_zizhi['状态 '] == '有效')]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().