In [55]:
import pandas as pd
import numpy as np
import random
import os
from scipy.stats import pearsonr

In [5]:
real_data_raw = pd.read_excel(r'../../Data/CompInfo/企业评分.xlsx')

In [7]:
real_data_raw.head(n=2)

   企业编号      企业总评分
0  1001  75.374276
1  1002  79.830122

In [16]:
real_data = real_data_raw.copy()

In [18]:
rate = real_data['企业总评分']
rate = rate.apply(np.round)
real_data['企业总评分'] = rate.astype(int)

     企业编号  企业总评分
0    1001     75
1    1002     80
2    1003     78
3    1004     83
4    1005     83
5    1006     82
6    1007     88
7    1008     80
8    1009     78
9    1010     81
10   1011     84
11   1012     82
12   1013     82
13   1014     94
14   1015     79
15   1016     84
16   1017     88
17   1018     80
18   1019     81
19   1020     80
20   1021     87
21   1022     91
22   1023     87
23   1024     82
24   1025     93
25   1026     78
26   1027     78
27   1028     81
28   1029     93
29   1030     77
..    ...    ...
970  1977     89
971  1979     77
972  1980     87
973  1981     85
974  1982     87
975  1983     83
976  1984     80
977  1985     82
978  1986     83
979  1987     91
980  1988     84
981  1989     82
982  1990     87
983  1991     83
984  1992     76
985  1993     88
986  1994     84
987  1995     82
988  1996     87
989  1997     89
990  1998     88
991  1999     80
992  2000     82
993  2001     90
994  2003     90
995  2004     86
996  2005     89
997  2006     82
998  2007     78
999  2008     87

[1000 rows x 2 columns]

In [22]:
real_data.loc[(real_data['企业编号'] == 1001), '企业总评分']-2

0    73
Name: 企业总评分, dtype: int64

In [69]:
def convert(df, error_per, diff_num):
    error_id = random.sample(range(1001, 4000), int(error_per*(3000)))
    for e_id in error_id:
        df.loc[(df['企业编号'] == e_id), '企业总评分'] = df.loc[(df['企业编号'] == e_id), '企业总评分']\
            + random.randint(-1*diff_num, diff_num)
    c, p = pearsonr(df['企业总评分'].values, real_data['企业总评分'].values)
    print('采样率: %f' % error_per, '差: %f' % diff_num)
    print('Pearsonr: %f, P: %f' % (c, p))

In [70]:
real_data_change = real_data.copy()
convert(real_data_change, 0.8, 9)
real_data_change.to_excel(
    r'../../Evaluation/mission1_predict.xlsx', index=False, header=False)
# !java -jar ../../Evaluation/mission1_test.jar ../../Evaluation/mission1_real.xlsx ../../Evaluation/mission1_predict.xlsx

采样率: 0.800000 差: 9.000000
Pearsonr:0.711356, P: 0.000000